<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="css/paint.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="https://latex.codecogs.com/css/equation-embed.css" />
    <title>Virtual Discussion</title>
    <!-- User "token" and "discussion id" will be replaced by query params if same key exist -->
    <meta key="token" value="5" />
    <meta key="discussion_id" value="hail_lucifer" />
    <meta key="socket_server_url" value="https://localhost:3000" />
    <style type="text/css">
      .manage-breakout-modal .breakout-duration-column{width: 200px;}
    </style>
  </head>
  <body>
    <div id="discussion_board" class="container-fluid" :class="layout">
       <div id="equationToolbar" style="display: none;"></div>
       <header class=" header-bar">
        <div class="header-cont d-flex flex-column flex-md-row align-items-center p-0 px-md-4 mb-0 bg-white border-bottom shadow-sm nav-bar">
          <h5 class="my-0 col-md-6 course-title p-0"><img src="img/logo.png" class="mr-3" />Virtual Discussion on {{course.title}}</h5>
          <span>
              <span class="remaininghors">Remaining hrs</span><br>
              <span class="remaining-time">
                <span class="remaining-hours">{{remainingDuration.hours < 10 ? '0'+remainingDuration.hours : remainingDuration.hours}}</span>:<span class="remaining-mins">{{remainingDuration.minutes < 10 ? '0'+remainingDuration.minutes : remainingDuration.minutes}}</span>:<span class="remaining-secs">{{remainingDuration.seconds < 10 ? '0'+remainingDuration.seconds : remainingDuration.seconds}}</span>
              </span>
           </span>
          <nav>
            <a  v-if="loggedInUser && loggedInUser.presenter  &&  !currentBreakout" class="p-2 text-dark fa" href="javascript:void(0)" title="Record Session" id="toggleRecording" @click="toggleRecording"><i class="fa fa-circle" :class="{'active-rec': isRecordingAvailable}"></i> [REC{{isRecordingAvailable ? ' ON' : ''}}]</a>
            <div class="dropdowns-wrapper">
              <div class="dropdown-container notification-container">
                <div class="notifications dropdown dd-trigger" @click="showNotifications=!showNotifications">
                  <span class="count animated">{{notifications.length}}</span>
                  <span class="fa fa-bell text-greenish"></span> 
                </div>
                <div class="dropdown-menu animated p-0" :class="{'fadeOutUp': !showNotifications,'fadeInDown': showNotifications,'d-block': showNotifications}">
                  <div class="dropdown-header">
                    <span class="triangle"></span>
                    <span class="heading">Notifications</span>
                    <span class="count">{{notifications.length}}</span>
                    <span class="float-right cursor-pointer" title="Clear Notifications" @click="clearNotifications()"><i class="fa fa-trash"></i></span>
                  </div>
                  <div class="dropdown-body">
                    <div class="notification new" v-for="notification in orderedNotifications">
                      <div class="notification-text">
                         <span class="highlight"><span class="notification-person">{{notification.sender}}</span> <span class="notification-msg">{{notification.text}}</span></span>
                         <br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
          <!--<nav class="my-2 my-md-0 mr-md-5 mr-md-auto" id="media-controls">
            <a  v-if="loggedInUser && loggedInUser.presenter  && currentBreakout" class="p-2 text-dark fa mr-3" href="javascript:void(0)" title="Exit to common room" @click="exitBreakout(breakoutIndex)"><i class="fas fa-sign-out-alt"></i></a>
          </nav>-->
          <nav class="my-0 my-md-0 mr-md-3 ml-md-auto">
           
            <a v-if="loggedInUser && loggedInUser.presenter && !currentBreakout" class="p-2 text-greenish fa" href="javascript:void(0)" @click="manageBreakout();toggleModel('breakout')" title="Manage Breakout Room"><i class="fa fa-columns"></i></a>
            
            <a class="p-2 text-greenish fa" v-if="loggedInUser && !loggedInUser.presenter  && presenter" href="javascript:void(0)" title="Raise Hand" @click="raiseHand()"><i class="fa fa-hand-paper"></i></a>
            <!--a class="p-2 text-dark fa" href="javascript:void(0)" title="Notifications"><i class="fa fa-bell"></i></a-->
            <a class=" text-greenish fa" href="javascript:void(0)" title="Clear Workspace" @click="toggleModel('confirmbox-clearworkspace')"><i class="fa fa-sync"></i></a>
            <a href="javascript:void(0)"  v-if="loggedInUser && loggedInUser.presenter" title="End Session" class="ml-md-3 text-greenish fa" @click="toggleModel('confirmbox-endclass')"><i class="fas fa-sign-out-alt"></i></a>
          </nav>
        </div>
        <div class="d-flex flex-column flex-md-row align-items-center p-1 px-md-4 mb-0 bottom-bg border-bottom shadow-sm nav-bar">
          <nav class="my-0 mr-md-auto font-weight-normal">
            <select class="slecct-menu" @change="changeLayout"  v-if="loggedInUser && loggedInUser.presenter">
              <option :selected="layout=='classroom-view'" value="classroom-view">Classroom View</option>
              <option :selected="layout=='conference-view'" value="conference-view">Conference View</option>
              <option :selected="layout=='presentation-view'" value="presentation-view">Presentation View</option>
            </select>
            <span class="breakout-name" v-if="!loggedInUser || !loggedInUser.presenter">{{currentBreakout ? currentBreakout.name : 'Main Room'}}</span>
            <select class="slecct-menu" @change="enterRoom" v-if="loggedInUser && loggedInUser.presenter">
              <option :selected="breakoutIndex==-1" value="-1">Main Room</option>
              <option :selected="breakoutIndex==index" v-if="breakouts.length" :value="index" v-for="(breakout,index) in breakouts">{{breakout.name}}</option>
              <option v-if="!currentBreakout" value="create">Create Breakout</option>
            </select>
          </nav>
          <nav class="my-2 my-md-0 mr-md-5">
            <div class="dropdowns-wrapper">
              <div class="dropdown-container participant-container">
                <div class="notifications dropdown dd-trigger" @click="showParticipants=!showParticipants">
                  <span class="count animated" id="notifications-count">{{totalParticipants}}</span>
                  <span class="fa fa-users text-white"></span> 
                </div>
                <div class="dropdown-menu animated p-0" :class="{'fadeOutUp': !showParticipants,'fadeInDown': showParticipants,'d-block': showParticipants}">
                  <div class="dropdown-header">
                    <span class="triangle"></span>
                    <span class="heading">Participants</span>
                    <span class="count" id="dd-notifications-count">{{totalParticipants}}</span>
                  </div>
                  <div class="dropdown-body">
                    <div class="notification new" v-for="user in participants">
                      <div class="notification-image-wrapper">
                        <div class="notification-image">
                          <img :src="user.profileImage" alt="" width="32"  @click="chatWith(user.identity)">
                        </div>
                      </div>
                      <div class="notification-text col-sm-12">
                         <span class="highlight"  @click="chatWith(user.identity)">{{user.peerId==loggedInUser.peerId ? 'Me' : user.firstName}}</span>
                         <span v-if="user.presenter" class="badge badge-success">Presenter</span>
                         <span class="text-greenish ml-4 float-right" :title="!user.permissions.edit ? 'Enable Edit' : 'Disable Edit'" v-if="!user.presenter && loggedInUser.presenter"  @click="changePermission(user,'edit')" :class="{'inactive': !user.permissions.edit}"><i class="fa fa-pencil-alt"></i></span>
                         <span class="text-greenish ml-4 float-right" :title="!user.permissions.audio ? 'Enable Audio' : 'Disable Audio'" v-if="!user.presenter && loggedInUser.presenter" @click="changePermission(user,'audio')" :class="{'inactive': !user.permissions.audio}"><i class="fa fa-microphone"></i></span>
                         <span class="text-greenish ml-4 float-right" :title="!user.permissions.video ? 'Enable Video' : 'Disable Video'" v-if="!user.presenter && loggedInUser.presenter" @click="changePermission(user,'video')" :class="{'inactive': !user.permissions.video}"><i class="fa fa-video"></i></span>
                         
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="ml-md-3 text-white fa" href="javascript:void(0)" title="Toggle Fullscreen" @click="toggleFullscreen('content-block')"><i class="fa fa-expand"></i></a>
            <a class="ml-md-3 text-white fa" href="javascript:void(0)" title="Video Setting" @click="openSettings()"><i class="fa fa-cog"></i></a>
            <a v-if="loggedInUser && loggedInUser.presenter" class="p-2 text-white fa" href="javascript:void(0)" @click="resetRoom()" title="Reset Windows"><i class="fa fa-window-restore"></i></a>
          </nav>
          <nav class="my-2 my-md-0 mr-md-3">
            <a v-if="loggedInUser && loggedInUser.presenter" class="p-2 fa" href="javascript:void(0)" v-if="loggedInUser && loggedInUser.presenter " title="Share Screen" id="toggleScreen" @click="toggleScreen" :class="{'text-danger': isScreenShared,'text-white': !isScreenShared}"><i class="fa fa-desktop"></i></a>
            <a v-if="loggedInUser && (loggedInUser.presenter || loggedInUser.permissions.video)" class="p-2 fa" href="javascript:void(0)" title="Toggle Video" id="toggleVideo" @click="toggleVideo" :class="{'text-danger': isVidAvailable,'text-white': !isVidAvailable}"><i class="fa" :class="{'fa-video': isVidAvailable,'fa-video-slash': !isVidAvailable}"></i></a>
            <a v-if="loggedInUser && (loggedInUser.presenter || loggedInUser.permissions.audio)" class="p-2 fa" href="javascript:void(0)" title="Toggle Audio" id="toggleAudio" @click="toggleAudio"  :class="{'text-danger': isAudioAvailable,'text-white': !isAudioAvailable}"><i class="fa" :class="{'fa-microphone': isAudioAvailable,'fa-microphone-slash': !isAudioAvailable}"></i></a>
          </nav>
        </div>  
       </header>
       <div class="d-flex flex-column flex-md-row p-1 px-md-4 mb-3  border-bottom shadow-sm playground">
        <div id="content-block" class="col-md-12 left-sidebar col-sm-12 p-0" :class="{'no-edit': !loggedInUser || (!loggedInUser.presenter && !loggedInUser.permissions.edit && (!currentBreakout || currentBreakout.groupLeader !=loggedInUser.identity) )}">
          <!-- Tabs nav started -->
          <ul class="nav nav-tabs" id="play-menu">
            <li class="nav-item dropdown">
              <a class="nav-link active" data-toggle="dropdown" href="javascript:void(0)" @click="toggleMenu()" role="button" aria-haspopup="true" aria-expanded="false">New | <i class="fa fa-angle-down text-black"></i></a>
              <div class="dropdown-menu" :class="{'d-block': showMenu,'d-none': !showMenu }">
                <a class="dropdown-item" href="javascript:void(0)" @click="toggleModel('youtube')">Youtube</a>
                <a class="dropdown-item" href="javascript:void(0)" @click="addItem('whiteboard')">Whiteboard</a>
                <a class="dropdown-item" href="javascript:void(0)" @click="toggleModel('media')">Media Player</a>
                <a class="dropdown-item" href="javascript:void(0)" @click="toggleModel('content')">Content</a>
                <a class="dropdown-item" href="javascript:void(0)" @click="addItem('code')">Code Editor</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)" @click="toggleModel('import')">Import Template</a>
                <a class="dropdown-item" href="javascript:void(0)" @click="exportTemplate()">Export Template</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)" @click="saveToPdf()">Save to PDF</a>
              </div>
            </li>
            <li class="nav-item ml-1" v-for="(item,index) in contentTabs">
              <a class="nav-link active" title="Double click for renaming tab"  :class="{'bg-primary': currentTab===item.id,'text-white': currentTab===item.id}"  href="javascript:void(0)" @dblclick="renameTab(index)" @click="setCurrentTab(item.id)"><span v-if="!item.renaming">{{ item.name }}</span><label v-if="item.renaming" class="col-sm-10 m-0 p-0"><input type="text" @keypress="doneRenaming(index,$event)" v-model="item.name" class="form-control form-control-sm pt-0 pb-0 tab-input" /></label> | <i class="fa fa-times text-black" @click="removeContainer(item.id,false,$event)"></i></a>
            </li>
          </ul>
          <!-- Tabs nav ended -->
          <!-- Tabs Body started -->
          <div class="default-tab content-tabs position-relative p-3" :class="{'d-block': currentTab===null || contentTabs.length ===0 ,'d-none': currentTab!==null && contentTabs.length > 0 }">
              <p>Welcome to Virtual Discussion</p>
          </div>
          <div v-for="(item,index) in contentTabs" class="content-tabs  position-relative" :class="{'d-block': currentTab===item.id,'d-none': currentTab!==item.id}">
            <youtube class="youtube-player position-absolute border-0" :video-id="item.videoId" :player-vars="{ autoplay: 0, controls: 1 }" @playing="updatePausedYT('play',$event)" @paused="updatePausedYT('pause',$event)" v-if="item.type==='youtube' && loggedInUser && (loggedInUser.presenter || (currentBreakout && currentBreakout.groupLeader ==loggedInUser.identity))"></youtube>
            <youtube class="youtube-player position-absolute border-0" :video-id="item.videoId" :player-vars="{ autoplay: 0, controls: 0 }" v-if="item.type==='youtube' && loggedInUser && (!loggedInUser.presenter || (currentBreakout && currentBreakout.groupLeader !=loggedInUser.identity))"></youtube>
            
            <code-editor  v-if="item.type==='code'" :item="item" :socket="socket" :discussion-id="discussionId" @language-changed="languageChanged"></code-editor>
            
            <video class="col-sm-12" :id="'video_'+item.id" style="max-height:100%;" @seeked="updatePaused(item.id,$event)" @play="updatePaused(item.id,$event)" @pause="updatePaused(item.id,$event)" controls autoplay :src="item.url" v-if="item.type==='media' && item.mediaType==='video' && loggedInUser && (loggedInUser.presenter || (currentBreakout && currentBreakout.groupLeader ==loggedInUser.identity))"></video>
            <video class="col-sm-12" muted="muted" :id="'video_'+item.id" style="max-height:100%;" :src="item.url" v-if="item.type==='media' && item.mediaType==='video' && loggedInUser && (!loggedInUser.presenter || (currentBreakout && currentBreakout.groupLeader !=loggedInUser.identity))"></video>
            <span class="position-absolute toggle-mute" @click="toggleMute('video_'+item.id)" v-if="item.type==='media' && item.mediaType==='video' && loggedInUser && (!loggedInUser.presenter || (currentBreakout && currentBreakout.groupLeader !=loggedInUser.identity))"><i class="fa" :class="{'fa-volume-up': speaker['video_'+item.id],'fa-volume-mute': !speaker['video_'+item.id]}"></i></span>

            <audio class="col-sm-12" muted="muted" :id="'audio_'+item.id" style="top:43%;" v-if="item.type==='media' && item.mediaType==='audio' && loggedInUser && (!loggedInUser.presenter || (currentBreakout && currentBreakout.groupLeader !=loggedInUser.identity))">
              <source :src="item.url"></source>
            </audio>
            <audio class="col-sm-12" :id="'audio_'+item.id" style="top:43%;" controls v-if="item.type==='media' && item.mediaType==='audio' && loggedInUser && (loggedInUser.presenter || (currentBreakout && currentBreakout.groupLeader ==loggedInUser.identity))">
              <source :src="item.url"></source>
            </audio>
            <span class="position-absolute toggle-mute" @click="toggleMute('audio_'+item.id)" v-if="item.type==='media' && item.mediaType==='audio' && loggedInUser && (!loggedInUser.presenter || (currentBreakout && currentBreakout.groupLeader !=loggedInUser.identity))"><i class="fa" :class="{'fa-volume-up': speaker['audio_'+item.id],'fa-volume-mute': !speaker['audio_'+item.id]}"></i></span>
            
            <white-board :item="item" v-if="item.type==='whiteboard' || item.type==='content' " :socket="socket"></white-board>
            <div class="overlay position-absolute"></div>
          </div>
          <!-- Tabs Body ended -->
        </div>
        <div class="col-sm-12 d-xs-block mt-3 d-md-none"></div>
        <div class="col-md-3 right-sidebar col-sm-12 border-top">
          <div class="card webcam-container mb-3 mt-3 rounded-0">
            <div class="card-header">Web Cam <span class="float-right cursor-pointer ml-3" draggable="true" @drag="dragBox('webcam-container',$event)"><i class="fa fa-grip-vertical"></i></span> <span class="float-right cursor-pointer" @click="toggleBox('webcam')" v-if="showWebCamBox"><i class="fa fa-minus"></i></span> <span class="float-right cursor-pointer" @click="toggleBox('webcam')" v-if="!showWebCamBox"><i class="fa fa-plus"></i></span></div>
            <div class="card-body animated p-0" :class="{'fadeOutUp': !showWebCamBox,'fadeInDown': showWebCamBox,'d-block': showWebCamBox,'d-none': !showWebCamBox}">
              <video-box :socket="socket" @toggle-fullscreen="toggleFullscreen" @recording-stopped="stopRecording" @screen-share-stopped="stopScreenShare" :selected-camera="selectedCamera" :selected-mic="selectedMic" :is-vid-available="isVidAvailable" :is-screen-shared="isScreenShared" :is-audio-available="isAudioAvailable"  :is-recording-available="isRecordingAvailable" :discussion-id="discussionId"></video-box>
            </div>
          </div>
          <div class="card chat-container rounded-0">
            <div class="card-header">Chats <span class="float-right cursor-pointer ml-3" draggable="true" @drag="dragBox('chat-container',$event)"><i class="fa fa-grip-vertical"></i></span> <span class="float-right cursor-pointer" @click="toggleBox('chat')" v-if="showChatBox"><i class="fa fa-minus"></i></span> <span class="float-right cursor-pointer" @click="toggleBox('chat')" v-if="!showChatBox"><i class="fa fa-plus"></i></span></div>
            <div class="card-body animated pt-0" :class="{'fadeOutUp': !showChatBox,'fadeInDown': showChatBox,'d-block': showChatBox,'d-none': !showChatBox}">
              <chat-box :socket="socket" :logged-in-user="loggedInUser" :show-web-cam-box="showWebCamBox" :show-chat-box="showChatBox"  :participants="participants" ref="chatBox" @chat-group-changed="handleResize"></chat-box>
            </div>
          </div>
        </div>
        <!-- Loader -->
          <div class="modal-backdrop fade show loader" :class="{'d-block': isLoading ,'d-none': !isLoading}"><div class="position-fixed loader-container"><div class="lds-ripple"><div class="border-white"></div><div class="border-white"></div></div></div></div>
          <!-- Models started -->
          <div class="modal classroom-popups" tabindex="-1" role="dialog" :class="{'d-block': showItem['confirmbox-clearworkspace'],'d-none': !showItem['confirmbox-clearworkspace']}">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-uppercase">Clear workspace</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModel('confirmbox-clearworkspace')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p><strong>Are you sure you want to clear the workspace?</strong></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="toggleModel('confirmbox-clearworkspace');">Cancel</button>
                  <button type="button" class="btn btn-primary" @click="toggleModel('confirmbox-clearworkspace');clearWorkspace();">Clear</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal classroom-popups" tabindex="-1" role="dialog" :class="{'d-block': showItem['videosetting'],'d-none': !showItem['videosetting']}">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-uppercase">Video Settings</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="closeSettings()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link text-dark" :class="{'active': selectedSetting=='video'}" href="javascript:void(0)" @click="selectedSetting='video'">Video Settings</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" :class="{'active': selectedSetting=='connect'}" href="javascript:void(0)" @click="selectedSetting='connect'">Connectivity Test</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" :class="{'active': selectedSetting=='net'}" href="javascript:void(0)" @click="selectedSetting='net'">Net Speed Check</a></li>
                  </ul>
                  <div class="row p-3" v-show="selectedSetting=='video'">
                    <div class="col-sm-6">
                      <video id="testVideo" autoplay class="col-sm-12"></video>
                    </div>
                    <div class="col-sm-6">
                      <label class="d-block">Select Camera</label>
                      <select class="slecct-menu m-0" id="selectVideo" v-model="selectedCamera" @change="changeDevice">
                        <option :value="device.id" v-for="device in videoDevices">{{device.name}}</option>
                      </select>
                      <label class="pt-3 d-block">Select Microphone</label>
                      <select class="slecct-menu m-0" id="selectAudio" v-model="selectedMic" @change="changeDevice">
                        <option :value="device.id" v-for="device in audioDevices">{{device.name}}</option>
                      </select>
                      <p class="pt-3"><span v-for="index in 10" :key="index" :class="{'text-lightgray': index >= volumePts,'text-primary': index < volumePts,'ml-1': index > 1 }" class="fa fa-circle"></span></p>
                    </div>
                  </div>

                  <div class="row p-3" v-show="selectedSetting=='connect'">
                    <div class="col-sm-12">
                      <table class="table table-borderless">
                        <tbody>
                          <tr>
                            <th class="text-greenish">Connectivity Status</th>
                            <td><span v-if="connectivitySettings.internet"><i class="fa fa-check-circle text-greenish"></i> Excellent</span><span v-if="!connectivitySettings.internet"><i class="fa fa-minus-circle text-lightgray"></i> Not Connected</span></td>
                          </tr>
                          <tr>
                            <th class="text-greenish">Browser</th>
                            <td><span v-if="connectivitySettings.browser"><i class="fa fa-check-circle text-greenish"></i> Compatible</span><span v-if="!connectivitySettings.browser"><i class="fa fa-minus-circle text-lightgray"></i> Non-Compatible</span></td>
                          </tr>
                          <tr>
                            <th class="text-greenish">Connection</th>
                            <td><span v-if="connectivitySettings.connected"><i class="fa fa-check-circle text-greenish"></i> Established</span><span v-if="!connectivitySettings.connected"><i class="fa fa-minus-circle text-lightgray"></i> Not Connected</span></td>
                          </tr>
                          <tr>
                            <th class="text-greenish">Download Speed</th>
                            <td><span v-if="connectivitySettings.download < 18"><i class="fa fa-check-circle text-greenish"></i> Download fits minimum requirement</span><span v-if="connectivitySettings.rtt >= 18"><i class="fa fa-minus-circle text-lightgray"></i> Unfit to minimum requirement</span></td>
                          </tr>
                          <tr>
                            <th class="text-greenish">Upload Speed</th>
                            <td><span v-if="connectivitySettings.upload < 4"><i class="fa fa-check-circle text-greenish"></i> Upload fits minimum requirement</span><span v-if="connectivitySettings.rtt >= 4"><i class="fa fa-minus-circle text-lightgray"></i> Unfit to minimum requirement</span></td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="alert alert-dark"><strong>You shall stream video and audio, perform screen sharing and recording</strong></div>
                    </div>
                  </div>

                  <div class="row p-3" v-show="selectedSetting=='net'">
                    <div class="col-sm-12">
                      <table class="table table-borderless">
                        <thead>
                          <tr>
                            <th class="text-greenish">#</th>
                            <th class="text-greenish">Server</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th class="text-greenish">Download Speed</th>
                            <td><span>{{connectivitySettings.download}}Mb/s</span></td>
                          </tr>
                          <tr>
                            <th class="text-greenish">Upload Speed</th>
                            <td><span>{{connectivitySettings.upload}}Mb/s</span></td>
                          </tr>
                          <tr>
                            <th class="text-greenish">Latency</th>
                            <td><span>{{connectivitySettings.latency}} ms</span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="closeSettings();">Cancel</button>
                    <button type="button" class="btn btn-primary" @click="getSpeedInfo();">Refresh</button>
                </div>
              </div>
            </div>
          </div>
          
          <div class="modal classroom-popups" tabindex="-1" role="dialog" :class="{'d-block': showItem['confirmbox-endclass'],'d-none': !showItem['confirmbox-endclass']}">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-uppercase">End Class</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModel('confirmbox-endclass')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p><strong>Are you sure you want to end the class?</strong></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="toggleModel('confirmbox-endclass');">Cancel</button>
                  <button type="button" class="btn btn-primary" @click="toggleModel('confirmbox-endclass');endSession();">Clear</button>
                </div>
              </div>
            </div>
          </div>
          
          <div class="modal classroom-popups" tabindex="-1" role="dialog" :class="{'d-block': showItem['createbreakout'],'d-none': !showItem['createbreakout']}">
            <div class="modal-dialog modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-uppercase">Create breakout room</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModel('createbreakout')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group row">
                    <label for="breakoutRoomName" class="col-sm-6 col-form-label">Enter new breakout room</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" v-model="breakoutName" id="breakoutRoomName" placeholder="Room Name">
                    </div>
                  </div>
                </div>
                <div class="modal-footer d-block">
                  <button type="button" class="btn btn-secondary float-left" data-dismiss="modal" @click="toggleModel('createbreakout');manageBreakout();toggleModel('breakout')">Manage Rooms</button>
                  <button type="button" class=" btn cancel float-right mr-2" data-dismiss="modal" @click="toggleModel('createbreakout')">Close</button>
                  <button type="button" class="btn btn-secondary float-right" data-dismiss="modal" :disabled="breakoutName==''" @click="createBreakout">Add Room</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal classroom-popups" tabindex="-1" role="dialog" :class="{'d-block': showItem['confirmbox-participant'],'d-none': !showItem['confirmbox-participant']}">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-uppercase">Remove user from breakout room(s)</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModel('confirmbox-participant')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p><strong>Are you sure you want to remove this participant from this room?</strong></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn cancel" data-dismiss="modal" @click="toggleModel('confirmbox-participant');toggleModel('breakout');">Cancel</button>
                  <button type="button" class="btn btn-primary" @click="toggleModel('confirmbox-participant');removeParticipant(participantToRemove.index,participantToRemove.identity);toggleModel('breakout')">Remove</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal classroom-popups" tabindex="-1" role="dialog" :class="{'d-block': showItem['confirmbox-breakall'],'d-none': !showItem['confirmbox-breakall']}">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-uppercase">End all breakout room(s)</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModel('confirmbox-breakall')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p><strong>Are you sure you want to end all breakout room(s)?</strong></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class=" btn cancel" data-dismiss="modal" @click="toggleModel('breakout');toggleModel('confirmbox-breakall')">Cancel</button>
                  <button type="button" class="btn btn-primary" @click="endAllBreakout();">Remove</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal classroom-popups" tabindex="-1" role="dialog" :class="{'d-block': showItem['confirmbox-breakselected'],'d-none': !showItem['confirmbox-breakselected']}">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-uppercase">End selected breakout room(s)</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModel('confirmbox-breakselected')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p><strong>Are you sure you want to end all selected breakout room(s)?</strong></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="toggleModel('confirmbox-breakselected');toggleModel('breakout');">Cancel</button>
                  <button type="button" class="btn btn-primary" @click="endBreakout();">Remove</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal  classroom-popups manage-breakout-modal" tabindex="-1" role="dialog" :class="{'d-block': showItem['breakout'],'d-none': !showItem['breakout']}">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-uppercase">Manage breakout</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModel('breakout')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p v-if="!breakouts.length">No rooms available.</p>
                  <table class="table table-borderless" v-if="breakouts.length">
                    <template  v-for="(bkOut,index) in breakouts">
                      <tr class="namelistcontact">
                        <td><input type="checkbox" :value="index" v-model="selectedBreakouts" /></td>
                        <td><span class="float-left">{{bkOut.name}}</span>&nbsp;<span class="float-right">({{bkOut.participants.length}})</span></td>
                        <td>
                          <a title="Show Participant List" href="javascript:void(0)" v-if="participantList.indexOf(index) == -1" @click="showParticipantList(index)"><span class="fa fa-plus-circle" ></span></a>
                          <a title="Hide Participant List" href="javascript:void(0)" v-if="participantList.indexOf(index) != -1"  @click="hideParticipantList(index)"><span class="fa fa-minus-circle"></span></a>
                        </td>
                        <td class="breakout-duration-column">
                          <div class="input-group">
                            <input type="number" class="form-control input-sm" v-model="bkOut.timeOut" step="15" v-on:keyup="bkOut.timeOut=bkOut.timeOut =='' ? '' : parseInt(Math.abs(bkOut.timeOut))" v-on:blur="changeTimeout(index,bkOut)" placeholder="Enter duration in minutes" aria-label="Enter duration in minutes" >
                            <span class="input-group-append">
                              <span class="input-group-text">minutes</span>
                            </span>
                          </div>
                        </td>
                        <td class="add-list">
                          <a href="javascript:void(0)" @click="addParticipantToBreakout(index)">+ Add Participants</a>
                        </td>
                      </tr>
                      <tr class="detail-row" v-if="participantList.indexOf(index) != -1">
                        <td>&nbsp;</td>
                        <td colspan="3">
                          <table class="table table-borderless">
                            <tr class="leadactions">
                              <th>Lead</th>
                              <th>Participants</th>
                              <th>Action</th>
                            </tr>
                            <tr v-if="!bkOut.participants.length"><td colspan="3">No participants in this room</td></tr>
                            <tr v-for="identity in bkOut.participants">
                              <td><input type="radio" @change="changeGroupLeader(index, identity)" v-model="bkOut.groupLeader" :value="identity" /></td>
                              <td>{{allParticipants[identity].firstName+ ' '+ allParticipants[identity].lastName}}</td>
                              <td class="signoutcolor"><a title="Remove participant from room" href="javascript:void(0)" @click="toggleModel('breakout');confirmParticipantRemove(index,identity)"><i class="fas fa-sign-out-alt"></i></a></td>
                            </tr>
                          </table>
                        </td>
                        <td>&nbsp;</td>
                      </tr>
                    </template>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button"  :disabled="selectedBreakouts.length <= 0" class="btn btn-primary" @click="toggleModel('breakout');toggleModel('confirmbox-breakselected')">End Selected Room(s)</button>
                  <button type="button" class="btn btn-primary" @click="toggleModel('breakout');toggleModel('confirmbox-breakall')">End All Room(s)</button>
                  <button type="button" class=" btn cancel" data-dismiss="modal" @click="toggleModel('breakout')">Cancel</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal classroom-popups" tabindex="-1" role="dialog" :class="{'d-block': showItem['participants'],'d-none': !showItem['participants']}">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-uppercase">Add participants from main room</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModel('participants')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p v-if="Object.keys(remaining_participants).length <= 1">No participants available.</p>
                  <p v-if="Object.keys(remaining_participants).length > 1">Assign participants to room <b>{{breakout.name}}</b></p>
                  <p v-if="Object.keys(remaining_participants).length > 1">* Assign leads from breakout rooms</b></p>
                  <table class="table" v-if="Object.keys(remaining_participants).length > 1">
                    <thead>
                      <tr>
                        <th class="bg-secondary text-white border-left">Name</th>
                        <th class="bg-secondary text-white border-left">Options</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="participant in remaining_participants" v-if="!participant.presenter">
                        <td class="roomlist">{{participant.firstName+ ' '+ participant.lastName}}</td>
                        <td><input type="checkbox" :value="participant.identity" v-model="selectedParticipants" /></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class=" btn cancel" data-dismiss="modal" @click="toggleModel('breakout');toggleModel('participants')">Cancel</button>
                  <button type="button"  :disabled="selectedParticipants.length <= 0" class="btn btn-primary" @click="addParticipants(addBreakoutIndex);">Add</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal classroom-popups" tabindex="-1" role="dialog" :class="{'d-block': showItem['youtube'],'d-none': !showItem['youtube']}">
            <div class="modal-dialog modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-uppercase">Load youtube video</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModel('youtube')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="input-group">
                    <span class="input-group-prepend">
                      <span class="input-group-text">https://www.youtube.com/watch?v=</span>
                    </span>
                    <input type="text" class="form-control input-sm" v-model="youtubeVideoId" v-on:keyup.13="loadVideo" id="youtube-video-id" placeholder="Video ID..." aria-label="Video ID..." aria-describedby="youtube-id-submit">
                    <span class="input-group-append">
                      <button class="btn btn-danger btn-sm" id="youtube-id-submit" title="Load youtube video" v-on:click="loadVideo"><i class="fab fa-youtube"></i></button>
                    </span>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="toggleModel('youtube')">Close</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal classroom-popups" tabindex="-1" role="dialog" :class="{'d-block': showItem['import'],'d-none': !showItem['import']}">
            <div class="modal-dialog modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-uppercase">Import template file</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModel('import')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" id="templateFile" class="custom-file-input input-sm" accept=".vdtmpl" v-on:change="readTemplate" placeholder="Import template file" aria-label="Import template file" aria-describedby="import-template-submit">
                      <label class="custom-file-label" for="templateFile" >Choose file</label>
                    </div>
                    <div class="input-group-append">
                      <button class="btn btn-sm" id="import-template-submit" :disabled="templateFile==null" title="Import template file" v-on:click="importTemplate">Import <i class="fa fa-download"></i></button>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="toggleModel('import')">Close</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal classroom-popups" tabindex="-1" role="dialog" :class="{'d-block': showItem['media'],'d-none': !showItem['media']}">
            <div class="modal-dialog modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-uppercase">Load media content</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModel('media')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p v-if="mediaList.length <= 0">No media content available</p>
                  <div v-if="isLoadingMedia" class="d-flex justify-content-center loader-container"><div class="lds-ripple"><div class="border-dark"></div><div class="border-dark"></div></div></div>
                  <media-list v-if="!isLoadingMedia" :media-list="mediaList" @load-media="loadMedia"></media-list>
                  <paginate
                    v-if="!isLoadingMedia"
                    v-model="currentMediaPage"
                    :page-count="totalMediaPages"
                    :click-handler="changeMediaPage"
                    :prev-text="'&laquo;'"
                    :next-text="'&raquo;'"
                    :container-class="'pagination justify-content-center'"
                    :page-class="'page-item'"
                    :page-link-class="'page-link'"
                    :prev-class="'page-item'"
                    :prev-link-class="'page-link'"
                    :next-class="'page-item'"
                    :next-link-class="'page-link'"
                    >
                  </paginate>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="toggleModel('media')">Close</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal classroom-popups" tabindex="-1" role="dialog" :class="{'d-block': showItem['content'],'d-none': !showItem['content']}">
            <div class="modal-dialog modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-uppercase">Load Content</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModel('content')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div v-if="isLoadingContent" class="d-flex justify-content-center loader-container"><div class="lds-ripple"><div class="border-dark"></div><div class="border-dark"></div></div></div>
                  <content-list v-if="!isLoadingContent"  :socket="socket" :current-folder="currentFolder" :show-private="showPrivate" :folder-list="folderList" :content-list="contentList" @add-folder="addFolder" @delete-folder="deleteFolder" @load-folder="loadFolder" @private-content="privateContent" @load-content="loadContent" @go-back="goBack"></content-list>
                  <p v-if="contentList.length <= 0 && showPrivate!=null">No content available</p>
                  <paginate
                    v-if="!isLoadingContent && showPrivate!=null"
                    v-model="currentContentPage"
                    :page-count="totalContentPages"
                    :click-handler="changeContentPage"
                    :prev-text="'&laquo;'"
                    :next-text="'&raquo;'"
                    :container-class="'pagination justify-content-center'"
                    :page-class="'page-item'"
                    :page-link-class="'page-link'"
                    :prev-class="'page-item'"
                    :prev-link-class="'page-link'"
                    :next-class="'page-item'"
                    :next-link-class="'page-link'"
                    >
                  </paginate>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="toggleModel('content')">Close</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-backdrop fade show" :class="{'d-block': showItem['youtube'] || showItem['media'] || showItem['content'] || showItem['import'] || showItem['createbreakout'] || showItem['breakout'] || showItem['participants'] || showItem['confirmbox-participant'] || showItem['confirmbox-breakall'] || showItem['confirmbox-breakselected'] || showItem['confirmbox-clearworkspace'] || showItem['confirmbox-endclass'] ,'d-none': !showItem['youtube'] && !showItem['media'] && !showItem['content'] && !showItem['import'] && !showItem['createbreakout'] && !showItem['breakout'] && !showItem['participants'] && !showItem['confirmbox-breakselected'] && !showItem['confirmbox-breakall'] && !showItem['confirmbox-participant'] && !showItem['confirmbox-clearworkspace'] && !showItem['confirmbox-endclass'] && !showItem['videosetting']}"></div>
          <!-- Models ended -->
      </div>

    </div>
    <template id="moments-ago">
      <span class="moments-ago">
          {{timeFromNow}}
      </span>
    </template>
    <template id="white-board">
      <div class="white-board-container">
        <div class="white-board" :id="item.id"></div>
        <div v-if="item.type==='content' && Object.keys(item.content).length > 1 " class="content-nav position-absolute fixed-bottom text-center m-auto p-2"><a href="javascript:void(0)" class="btn-dark rounded-left p-2" @click="goPrev()" :class="{'disabled': item.currentPage <= 1 }"  title="Prev page">&laquo;</a><span class=" border-white bg-white rounded-0 p-2"> {{item.currentPage || 1 }} / {{Object.keys(item.content).length}} </span><a href="javascript:void(0)"  @click="goNext()" class="btn-dark rounded-right p-2" title="Next page" :class="{'disabled': item.currentPage >= Object.keys(item.content).length }">&raquo;</a></div>  
      </div>
    </template>
    <template id="code-editor">
      <div class="code-container">
        <select v-model="chosenLang" class="language-chooser position-absolute border-0 fixed-bottom m-2" @change="changeLanguage(item.id)">
          <option v-for="language in languages" v-bind:value="language">
            {{ language  | capitalize}}
          </option>
        </select>
        <div class="code-editor position-absolute" :id="item.id"></div>
      </div>
    </template>
    <template id="media-list">
      <div class="row media-list" v-if="mediaList.length">
        <div class="media-item col-sm-3" v-for="media in mediaList">
          <a @click="loadVideo(media)" href="javascript:void(0)">{{media.title}}</a>
        </div>
      </div>
    </template>
    <template id="content-list">
      <div>
        <div class="row"  v-if="showPrivate != null">
          <div class="col-sm-2"><a href="javascript:void(0)" v-on:click="goBack()"><i class="fa fa-arrow-left"></i></a></div>
          <div class="col-sm-6"><input type="file" placeholder="Upload File" accept="image/*,application/pdf" v-on:change="uploadFile" /></div>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" v-model="folderName" class="form-control input-sm" v-on:keyup.13="addFolder" id="folder-name" placeholder="Add folder" aria-label="Add folder">
              <span class="input-group-append">
                <button class="btn btn-primary btn-sm" id="folder-submit" v-on:click="addFolder"><i class="fa fa-folder"></i></button>
              </span>
            </div>
          </div>
        </div>
        <div class="row content-list">
          <div class="content-item col-sm-3" v-if="showPrivate == null">
            <a href="javascript:void(0)" @click="setPrivate()"><i class="fa fa-folder fa-4 theme-color"></i><br>Private</a>
          </div>
          <div class="content-item col-sm-3" v-if="showPrivate == null">
            <a href="javascript:void(0)" @click="setPublic()"><i class="fa fa-folder fa-4 theme-color"></i><br>Public</a>
          </div>
          <div class="content-item col-sm-3" v-if="showPrivate != null && folderList.length" v-for="folder in folderList">
            <a @click="changeFolder(folder)" href="javascript:void(0)"><i class="fa fa-folder fa-4 theme-color"></i><br>{{folder.name}}</a>
            <a v-if="folder.editable" href="javascript:void(0)" class="position-absolute folder-edit"><i class="fa fa-edit fa-1 theme-color"></i></a>
            <a @click="deleteFolder(folder)" v-if="folder.editable" href="javascript:void(0)" class="position-absolute folder-delete"><i class="fa fa-trash fa-1 theme-color"></i></a>
          </div>
        </div>
        <div class="row content-list" v-if="contentList.length">
          <div class="content-item col-sm-3" v-for="content in contentList">
            <a @click="loadContent(content)" href="javascript:void(0)" :class="{'pdf-item': content.type=='pdf'}"><i class="fa fa-file-pdf theme-color" v-if="content.type=='pdf'"></i><img :src="content.url" width="150" v-if="content.type=='image'" /><br>{{content.name}}</a>
          </div>
        </div>
      </div>
    </template>
    <template id="message-list">
      <ul class="chat-list">
        <li class="left clearfix" v-for="chat in messages">
          <div class="chat-body clearfix">
            <div class="header">
              <strong class="text-greenish">{{loggedInUser.identity===chat.user.identity ? 'Me' : chat.user.firstName}}</strong> : <span><strong>{{chat.message}}</strong></span>&nbsp;&nbsp;<small class="text-muted"><span class="fa fa-clock"></span><moments-ago :date="chat.timestamp"></moments-ago></small>
            </div>
          </div>
        </li>
      </ul>
    </template>
    <template id="chat-box">
      <div class="row-fluid mt-0">
        <div class="col-sm-12 pl-0 pr-0">
          <!--h3><span class="fa fa-comment"></span> Chat</h3-->
          <div id="chatBox">
            <div class="col-sm-12 p-0">
              <!--ul class="nav nav-tabs chat-bar">
                
                <li class="nav-item small" :class="{'d-none': group.hideMe,'d-block': !group.hideMe}" v-for="(group,index) in messageGroups" :key="group.name !=='common' ? (group.to.identity==loggedInUser.identity ? group.from.identity : group.to.identity) : 'common'">
                  <a class="nav-link" :class="{'bg-primary text-white': group.name==currentGroup, 'active': group.name!=currentGroup}" @click="chatWith(group.name !=='common' ? (group.to.identity==loggedInUser.identity ? group.from.identity : group.to.identity) : 'common')">{{group.name !=='common' ? (group.to.identity==loggedInUser.identity ? group.from.firstName : group.to.firstName) : 'General'}}<span v-if="group.newMessage" class="new_message"></span><span v-if="group.name !=='common'"> | <i class="fa fa-times text-black" @click="removeChat(index,$event)"></i></span></a>
                </li>
              </ul-->
              <div class="chat-groups">
                <message-list v-for="group in messageGroups" v-bind:messages="group.messages" :logged-in-user="loggedInUser"  :class="{'d-block': (currentGroup == group.name && !group.hideMe),'d-none': (currentGroup != group.name || group.hideMe)}" :key="group.name !=='common' ? (group.to.identity==loggedInUser.identity ? group.from.identity : group.to.identity) : 'common'" />
              </div>
            </div>
            <div class="chat-input mb-1">
              <div class="input-group">
                <input type="text" v-model="chatMessage" class="form-control input-sm" v-on:keyup.13="addComment" id="chat-message" placeholder="Type your message here..." aria-label="Type your message here..." aria-describedby="chat-submit">
                <span class="input-group-append">
                  <button class="btn btn-primary btn-sm" id="chat-submit" v-on:click="addComment"><img src="img/chatarrow.png"></button>
                </span>
              </div>
            </div>
          </div>
        </div>
      <div>
    </template>
    <template id="video_template">
      <div class="video_box col-4 p-1">
        <video class="rounded mx-auto col-sm-12 pl-0 pr-0 d-block" autoplay>
          Video unavailable
        </video>
        <div class="no-vid-container d-none text-white">
          <i class="fa fa-video-slash"><br>No Video</i>
        </div>
        <div class="vid-controls">
          <div class="control-container">
            <a class="p-1 fa video-control" href="javascript:void(0)" title="Toggle Video"><i class="fa fa-video-slash"></i><i class="fa fa-video"></i></a>
            <a class="p-1 fa audio-control" href="javascript:void(0)" title="Toggle Audio"><i class="fa fa-microphone-slash"></i><i class="fa fa-microphone"></i>
            </a>
            <a class="p-1 fa expand-control" href="javascript:void(0)" title="Expand Fullscreen"><i class="fa fa-compress"></i><i class="fa fa-expand"></i></a>
            
          </div>
        </div>
      </div>
    </template>
    <template id="video-box">
      <div class="row-fluid align-items-center" id="video-container">
            <video class="mx-auto col-sm-12 pl-0 pr-0" ref="videoObj" v-bind:class="{ 'd-block': isVidAvailable || isScreenShared, 'd-none': !isVidAvailable && !isScreenShared }" id="presenter_video" muted="muted" autoplay>
              Video unavailable
            </video>
            <img src="http://placehold.it/400x300/000000/fff&text=No Video" alt="Presenter" class="img-fluid no-video-img col-sm-12 pl-0 pr-0" v-bind:class="{ 'd-block': !isVidAvailable && !isScreenShared, 'd-none': isVidAvailable || isScreenShared }" />
            <div class="remote-videos row">
              
            </div>
            
          </div>
    </template>
    <!--script type="text/javascript" src="https://www.youtube.com/iframe_api"></script-->
    <script src="js/ice.js"></script>
    <script src="js/screen/adapter.js"></script>
    <!-- We are using webrtc extension for screen capture on chrome, so using their screenid too -->
    <script src="//cdn.webrtc-experiment.com/getScreenId.js"></script>
    <script src="js/screen/screen.js"></script>
    <script src="js/vendors.js" defer></script>
    <script type="text/javascript" src="https://latex.codecogs.com/js/eq_config.js" ></script>
    <script type="text/javascript" src="https://latex.codecogs.com/js/eq_editor-lite-18.js" ></script>
    <script type="text/javascript">
      EqEditor.embed('equationToolbar');
    </script>
  </body>
</html>