<div class="container-fluid">
	<div class="user-details-tab-head">
    <div class="py-1 px-2">
    	<div class="row">
        <div class="col-12">
        	<h5 class="m-0 mt-1 p-0 font-weight-bold">
          	<i class="fa fa-leanpub" aria-hidden="true"></i> Certificate Library
        	</h5>
      	</div>
    	</div>
    </div>
  </div>
  <div class="custmized-heading">
  	<div class="row">
	  	<div class="col-9">
	  		<p>Manage Certificate Model</p>
	  	</div>
	  	<div class="col-3">
	  		<select class="btn-inside-table ng-untouched ng-pristine ng-valid" id="filter_dropdown" ng-reflect-model="-1">
	  			<option value="-1" ng-reflect-value="-1">All</option>
	  			<option value="0" ng-reflect-value="0">Default</option>
	  			<option value="1" ng-reflect-value="1">Custom</option>
	  		</select>
	  	</div>
	  </div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<ng-container *ngIf="certificatesResult">
			<div *ngFor="let certificate of pageOfItems" class="col-sm-4">
				<img height="200" width="250" [src]="certificate.file_url" />
			</div>
		</ng-container>
	</div>
	<div class="row">
		<jw-pagination [items]="certificates" [pageSize]="pageSize" (changePage)="onChangePage($event)"></jw-pagination>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-5">
			<div class="upload-btn">
				<input disabled="" id="certificate_img" name="search2" placeholder="upload certificate" type="text">
				<input accept="image/*" class="hide" type="file" #web_uploader accept=".png, .jpeg, .jpg" (change)="fileChange($event,'certificate_img')">
				<button  (click)="web_uploader.click()"><i aria-hidden="true" class="fa fa-file-o"></i></button>
			</div>
		</div>
		<div class="clo-sm-3">
			<label class="btn-bs-file btn btn-primary" (click)="saveCertificate('certificate_img')">
				Upload Certificate
			</label>
		</div>
	</div>
</div>
<!-- message / error modal -->

<div class="modal fade" ngDraggable mdbModal #certificateMsg="mdbModal" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="certificateMsg">Upload Certificate</h5>
            <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close"  (click)="certificateMsg.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body msg-alert-block text-center">
            <div *ngIf="error" class="alert alert-danger" role="alert">
						  {{message}}
						</div>
          </div>
        </div>
      </div>
    </div>