<div class="container-fluid">
  <div class="user-details-tab-head">
    <div class="py-2 px-2">
        <div class="row">
            <div class="col-md-6">
                <h5 class="m-0 p-0 font-weight-bold"> <i class="fa fa-microphone" aria-hidden="true"></i> Recordings</h5>
            </div>
        </div>
    </div>                    
  </div>
  <div class="user-details-body">
    <p></p>
    <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered ">
      <thead>
        <tr>
          <th style="width: 200px;">Date</th>
          <th style="width: 250px;">Live Class Title </th>
          <th style="min-width: 350px;">Time </th>
        </tr>
      </thead>
      <tbody *ngIf="recordings?.length <= 0">
      </tbody>
      <tbody *ngIf="recordings?.length > 0">
        <tr *ngFor="let recording of recordings">
          <td>{{recording.created_at | date:'dd-MM-yyyy EEEE'}} </td>
          <td class="grn-txt-clr"><a routerLink="/live_classes"> {{recording.description}} </a></td>
          <td>
            <span>{{recording.liveclass.start_time | amDateFormat:'HH:mm a'}} - {{recording.liveclass.end_time | amDateFormat: 'HH:mm a'}} GMT {{recording.liveclass.timezone}} ({{recording.liveclass.end_time | amDifference: recording.liveclass.start_time :'minutes' : true}} Mins)</span>
            <div class="pull-right">
              <a target="_blank" href="{{recording.filename}}" title="Download">
                <i class="fa fa-download" aria-hidden="true"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div>
