<div class="container-fluid">
  <div class="user-details-tab-head">
    <div class="py-2 px-2">
        <div class="row">
            <div class="col-md-6">
                <h5 class="m-0 p-0 font-weight-bold"> <i class="fa fa-university" aria-hidden="true"></i> Manage Live Class </h5>
            </div>
        </div>
    </div>                    
  </div>
  <div class="user-details-body">
    <div class="user-list-btn">
       <a class="btn" routerLink="/live_classes/add"> Add Live Class </a>
    </div>
    <div class="clearfix"></div>
    <p></p>
    <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered ">
      <thead>
        <tr>
          <th style="width: 50px;">Select</th>
          <th style="width: 60px;">Date</th>
          <th style="width: 250px;">Live Class Title </th>
          <th style="width: 80px;">Participants</th>
          <th style="min-width: 350px;">Time </th>
        </tr>
      </thead>
      <tbody *ngIf="classes?.length <= 0">
      </tbody>
      <tbody *ngIf="classes?.length > 0">
        <tr *ngFor="let class of classes">
          <td><input type="checkbox" class="files_list_checkbox" [(ngModel)]="selectedClasses[class.id]" /></td>
          <td>{{toTime(class.start_time,class.timezone) | date:'dd-MM-yyyy'}} </td>
          <td class="grn-txt-clr"><a routerLink="/live_classes/edit/{{class.id}}"> {{class.title}} </a></td>
          <td>{{class.students.length}} / {{plan.no_of_users_per_class}} <a href="javascript:void(0);" class="float-right grn-txt-clr" title="View Participants" (click)="classStudents=class.students;viewParticipantsModel.show()"><i class="fa fa-eye"></i></a></td>
          <td>
            <span>{{toTime(class.start_time,class.timezone) | amDateFormat:'HH:mm a'}} - {{toTime(class.end_time,class.timezone) | amDateFormat: 'HH:mm a'}} GMT {{class.timezone}} ({{class.end_time | amDifference: class.start_time :'minutes' : true}} Mins)</span>
            <div class="pull-right">
              <a href="javascript:void(0);" class="btn btn-sm" *ngIf="isAfter(class.start_time,class.end_time)">Upcoming</a>
              
              <span class="text-danger mx-3"  *ngIf="isBetween(class.start_time,class.end_time) && class.is_live"><i class="fa fa-stop-circle-o"></i> Live</span>

              <a target="_blank" href="/class/?discussion_id={{class.id}}&token={{token}}" class="btn btn-danger btn-sm" title="Go to class" *ngIf="isBetween(class.start_time,class.end_time) && !class.is_closed">Launch</a>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot class="action-tfoot">
        <tr>
          <th colspan="5">
            <label class="mr-2 " *ngIf="classes?.length > 0"><input type="checkbox" class="select_all" (change)="selectAllClasses($event)" /> Select All</label>
            <a title="Delete selected class." href="javascript:void(0);" *ngIf="anySelected() && currentUser['user_type']!='student'" (click)="deleteClassModal.show()" class="btn selected_toggle">Delete Selected</a>
          </th>
        </tr>
      </tfoot>
    </table>
    <div class="modal fade" ngDraggable mdbModal #viewParticipantsModel="mdbModal" >
      <div class="modal-dialog" role="document">
        <div class="modal-content" ngResizable>
          <div class="modal-header">
            <h5 class="modal-title">
              View Participants
            </h5>
            <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="viewParticipantsModel.hide();">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body table-in reset-style">
            <table class="table table-bordered table-striped default_data_table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name/Email ID</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let classStudent of classStudents;let i= index">
                  <td>{{i+1}}</td>
                  <td>{{classStudent.student.firstname| titlecase}}/{{classStudent.student.email}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-no" (click)="viewParticipantsModel.hide()">Close</button>
          </div>
        </div>
      </div>
    </div>
  	<!-- Models starts here -->
    <div class="modal fade" ngDraggable mdbModal #deleteClassModal="mdbModal" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> Delete Live Class </h5>
            <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close"  (click)="deleteClassModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body msg-alert-block text-center">
            <p> Are you sure you want to Delete? </p>
            <a href="javascript:void(0);" class="btn btn-no" data-dismiss="modal" aria-label="Close" (click)="deleteClassModal.hide()"> No </a> <a
              href="javascript:void(0);" class="btn" (click)="deleteSelected();deleteClassModal.hide();"> Yes </a>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" ngDraggable mdbModal #deleteClassMessageModal="mdbModal" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> Delete Live Class </h5>
            <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close"  (click)="deleteClassMessageModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body msg-alert-block text-center">
            <div class="alert alert-warning" role="alert">
              Can't delete ongoing class...
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
