<div class="container-fluid">
  <div class="user-details-tab-head">
    <div class="py-2 px-2">
        <div class="row">
            <div class="col-md-6">
                <h5 class="m-0 p-0 font-weight-bold"> <i class="fa fa-wrench" aria-hidden="true"></i> CMS Pages </h5>
            </div>
        </div>
    </div>                    
  </div>
  <div class="user-details-body">
    <div class="user-list-btn">
          <div class="row">
              <div class="col-sm-5">
                  <p class="mt-2"> Create static pages for your institution. This feature is useful for SEO purposes </p>
              </div>
              <div class="col-sm-7">
                  <div class="text-right add-bulk-import">
                     <a class="btn" routerLink="/cms_pages/add" > Add New Page </a>
                  </div>
              </div>
          </div>
      </div>

      <div class="clearfix"></div>
      <p></p>
     <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered ">
        <thead>
          <tr>
            <th>Page Title</th>
            <th>Author</th>
            <th>Added On</th>
            <th class="text-center no-sort" width="110">Options</th>
          </tr>
        </thead>
    	  <tbody *ngIf="cmsPageList?.length == 0">
    			<tr>
    				<td colspan="4">No records found</td>
    			</tr>
    		</tbody>
    		<tbody *ngIf="cmsPageList?.length > 0" [sortablejs]="cmsPageList" [sortablejsOptions]="sortOpts">
	          <tr *ngFor="let page of cmsPageList">
              <td class="grn-txt-clr"><a routerLink="/cms_pages/edit/{{page.id}}" class="need-val">{{ page.title |titlecase }}</a></td>
              <td class="font-weight-bold">{{page.user.firstname+' '+page.user.lastname | titlecase}}</td>
              <td>{{ page.created_at | date:'dd-MM-yyyy' }}</td>
              <td class="text-center check-with-icon"> 
                <span class="custom-control custom-switch">
                  <input type="checkbox" id="customSwitch2_{{page.id}}" class="custom-control-input" [(ngModel)]="page.active" (change)="changeStatus(page)">
                  <label class="custom-control-label c-pointer" for="customSwitch2_{{page.id}}"></label>
                </span>
               <a class="action-color" routerLink="/cms_pages/edit/{{page.id}}"> <i class="fa fa-pencil" aria-hidden="true"></i> </a> <a  class="action-color" href="javascript:void(0);" (click)="tmpPage=page;basicModal.show()" role="button"> <i class="fa fa-trash" aria-hidden="true"></i> </a>
              </td>
            </tr>
        </tbody>
    	</table>
      <div class="clearfix"></div>
      <p></p>
      <h6 class="grn-txt-clr"> CMS Page Preview </h6>
      <ul class="preview-page-link list-inline">
        <li class="list-inline-item" *ngFor="let page of cmsPageList" [ngClass]="{'d-none': !page.active}"> <a target="_blank" routerLink="/{{page.seo_url}}"> {{page.title | titlecase}} </a> </li>  
      </ul>
    	<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          
          <div class="modal-header">
            <h5 class="modal-title " id="myModalLabel">Remove page from cms pages</h5>
          <button type="button" class="close-circle pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span> 
          </button>
          
          </div>
           <div class="modal-body msg-alert-block text-center">
          <p> Are you sure you want to remove page from the cms pages? </p>
          
          <button type="button" aria-label="Close" (click)="basicModal.hide()" class=" btn btn-no" mdbWavesEffect>No</button>
          <button type="button" class="btn"  (click)="deleteCmsPage(tmpPage);basicModal.hide()" mdbWavesEffect>Yes</button>
           </div>
        </div>
        </div>
      </div>
  </div>
</div>
