<div class="container-fluid">
  <div class="user-details-tab-head">
    <div class="py-2 px-2">
        <div class="row">
            <div class="col-md-6">
                <h5 class="m-0 p-0 font-weight-bold"> <i class="fa fa-wrench circle-head-icon" aria-hidden="true"></i> CMS Pages </h5>
            </div>
        </div>
    </div>                    
  </div>
  <div class="user-details-body">
    <div class="user-list-btn">
        <div class="row">
            <div class="col-sm-5">
                <p class="mt-2"> Add your own CMS pages at the footer of your domain with the pages you need </p>
            </div>
            <div class="col-sm-7">
                
            </div>
        </div>
    </div>
    <div class="details-content-edit info-view-block">
      <form name="cms_page_form" (ngSubmit)="f.form.valid && savePage()" #f="ngForm" novalidate>
      <div class="row">
          <div class="col-md-5">
              <div class="form-group">
                <label>Page Title <sup class="red-txt-clr"> * </sup></label>
                <div class="info-icon-block">
                  <input type="text" name="page_title" #page_title="ngModel" (change)="slugify()" class="form-control" required [(ngModel)]="page.title">
                  <div class="info-icon" data-toggle="tooltip" data-placement="top" title="Page title">
                      <i class="fa fa-info" aria-hidden="true" ></i>
                  </div>
                </div>
                <div *ngIf="f.submitted && !page_title.valid" class="help-block">Please enter the page title</div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label>SEO URL <sup class="red-txt-clr"> * </sup></label>
                <div class="info-icon-block">
                    <input type="text" name="seo_url" required  #seo_url="ngModel" class="form-control" (blur)="slugify()" [(ngModel)]="page.seo_url">
                    <div class="info-icon" data-toggle="tooltip" data-placement="top" title="Seo URL.">
                        <i class="fa fa-info" aria-hidden="true" ></i>
                    </div>
                </div>
                <div *ngIf="f.submitted && !seo_url.valid" class="help-block">Please enter the seo url</div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label>Meta Keywords  </label>
                <div class="info-icon-block">
                    <input type="text" name="meta_keywords" class="form-control" [(ngModel)]="page.meta_keywords">
                    <div class="info-icon" data-toggle="tooltip" data-placement="top" title="Meta Keywords.">
                        <i class="fa fa-info" aria-hidden="true" ></i>
                    </div>
                </div>
              </div>
            </div>                                
            <div class="col-md-5">
              <div class="form-group">
                <label>Meta Title </label>
                <div class="info-icon-block">
                    <input type="text"  name="meta_title" class="form-control" [(ngModel)]="page.meta_title">
                    <div class="info-icon" data-toggle="tooltip" data-placement="top" title="Meta title.">
                        <i class="fa fa-info" aria-hidden="true" ></i>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-10">
              <div class="form-group">
                <label>Meta Description </label>
                <div class="info-icon-block">
                    <input type="text"  name="meta_description" class="form-control" [(ngModel)]="page.meta_description">
                    <div class="info-icon" data-toggle="tooltip" data-placement="top" title="Meta Description.">
                        <i class="fa fa-info" aria-hidden="true" ></i>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-10">
              <div class="form-group">
                <label>Page Description</label>
                <div class="info-icon-block">
                    <ckeditor [editor]="Editor" (ready)="onReady($event)" [(ngModel)]="page.description" name="page_descripiton"></ckeditor>
                    <div class="info-icon" data-toggle="tooltip" data-placement="top" title="Page content.">
                        <i class="fa fa-info" aria-hidden="true" ></i>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group" *ngIf="operation.lifecycle=='stopped'">
                <div class="alert alert-success" [ngClass]="{'alert-success': operation.status,'alert-danger': !operation.status}"><p [innerHTML]="operation.message"></p></div>
              </div>
              <div class="form-group" *ngIf="operation.lifecycle=='running'">
                <div class="alert alert-info"><p>Saving cms page. Please wait...</p></div>
              </div>
            </div>
            <div class="col-md-5">
                <div class="mt-4">
                    <a *ngIf="page.id" routerLink="/{{page.seo_url}}" class="btn drkgrn-bckgrd-clr">Preview Page</a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="text-right mt-4">
                    <a routerLink="/cms_pages" class="btn btn-no">Cancel</a>
                    <button type="submit" class="btn drkgrn-bckgrd-clr">Save Details</button>
                </div>
            </div>                                
        </div>
      </form>
    </div>
  </div>
</div>
