
<div class="container-fluid">
	<div class="user-details-tab-head">
		<div class="py-1 px-2">
			<div class="row">
				<div class="col-6">
					<h5 class="m-0 mt-1 p-0 font-weight-bold"> <i class="fa fa-user" aria-hidden="true"></i> {{model.firstname}} {{model.lastname}} </h5>
				</div>
				<div class="col-6">
					<div class="text-right">
						<a routerLink="/user-lists" title="Back to List" class="backward-text"> <i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to List </a>
					</div>
				</div>
			</div>
		</div>
		<div class="user-details-body p-2">
			<div class="row">
				<div class="col-md-2 col-sm-3">
					<div class="user-img-block">
						<img src="/assets/images/user-images.jpg" alt="user-images" class="img-fluid">
					</div>
				</div>
				<div class="col-md-5 col-sm-9">
					<p class="details-type m-0"> <span> First:</span> {{model.firstname}} </p>
					<p class="details-type m-0"> <span> Last:</span> {{model.lastname}} </p>
					<p class="details-type m-0"> <span> User ID/Email ID:</span>{{model.user.email}}</p>
					<p class="details-type m-0 nrml-txt-clr"> 
						<a href="javascript:void(0);" (click)="selectedUser=model.user_id;confirmLoginModal.show();"><span class="nrml-txt-clr"> <i class="fa fa-eye" aria-hidden="true"></i> </span> View User Dashboard </a>
					</p>
				</div>
				<div class="col-md-5 col-sm-9 offset-sm-3 offset-md-0">
					<p class="details-type m-0"> <span> Enrolled Via: </span> Institute </p>
					<p class="details-type m-0"> <span> Usertype:</span> {{model.user.user_type.name}}  </p>
					<p class="details-type m-0"> <span> Created On:</span> {{model.user.created_at | amDateFormat:'DD-MM-YYYY - HH:mm'}} </p>
					<p class="details-type m-0"> <span> Last Login:</span> {{model.user.last_login_at | amDateFormat:'DD-MM-YYYY - HH:mm'}} </p>
				</div>
			</div>
		</div>
		
			<ul class="nav nav-tabs mt-2 ml-4 responsive-nav-tab" id="myTab" role="tablist">
			  <li class="nav-item">
				<a class="nav-link active" id="data-tab1" (click)="loadTable['assignedGroups']=true;currentTab='group'" [ngClass]="{'active': currentTab=='group'}">Group ({{groupsCounts}})</a>
			  </li>
			  <li class="nav-item">
				<!-- <a class="nav-link" id="data-tab2" (click)="loadTable['courseAssign']=true;currentTab='courses'" [ngClass]="{'active': currentTab=='courses'}" *ngIf="model.user.user_type.name!='student'">Courses ({{teacherCoursesCounts}})</a> -->
				<!-- <a class="nav-link" id="data-tab2" (click)="loadTable['courseEnroll']=true;currentTab='courses'" [ngClass]="{'active': currentTab=='courses'}" *ngIf="model.user.user_type.name=='student'">Courses ({{studentCoursesCounts}})</a> -->
				<a class="nav-link" id="data-tab2" (click)="loadTable['courseEnroll']=true;currentTab='courses'" [ngClass]="{'active': currentTab=='courses'}">Courses ({{studentCoursesCounts}})</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link disabled text-muted" id="data-tab3" >Quizzes (0)</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link disabled text-muted" id="data-tab4" >Assigments (0)</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" id="data-tab5" (click)="loadTable['assignedClasses']=true;currentTab='liveclass'" [ngClass]="{'active': currentTab=='liveclass'}">Live Classes ({{ClassesCounts}})</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" id="data-tab6" (click)="currentTab='info'" [ngClass]="{'active': currentTab=='info'}">Personal Info</a>
			  </li>
			</ul>
		</div>	
	<div class="tab-content py-3 ml-4" id="myTabContent">
			<div class="tab-pane fade" [ngClass]="{'active show': currentTab=='group'}">
				<div class="table-btn-inset">
					  <!-- Button trigger modal -->
				 
				  <a class="btn table-btn-right" href="javascript:void(0);" data-toggle="modal" (click)="showAssignedGroups()" > Assign to Group </a>
				  <table *ngIf="loadTable['assignedGroups']" datatable [dtOptions]="dtOptions['assignedGroups']"  id="groupTable" class="border-0 table table-bordered table-striped default_data_table ">
							<thead>
								<tr >
									<th>Group Name</th>
									<th class="text-center no-sort">Options</th>
								</tr>
							</thead>
							<tbody *ngIf="assignedGroupsList?.length == 0">
								<tr>
									<td colspan="2">No records found</td>
								</tr>
							</tbody>
							<tbody *ngIf="assignedGroupsList?.length > 0">
								<tr *ngFor="let assignGroup of assignedGroupsList; ">
									<td class="grn-txt-clr"> <a [routerLink]="'/group_detail/'+assignGroup.group.id"> {{assignGroup.group.group_name}} </a> </td>
									<td class="text-center"> <a href="javascript:void(0);" (click)="deleteAssignedGroup(assignGroup)"> <i class="fa fa-trash" aria-hidden="true"></i> </a> </td>
								</tr>
						   </tbody>
						</table>
				</div>
			</div>
			<div class="tab-pane fade" [ngClass]="{'active show': currentTab=='courses'}">
				<!-- <div class="table-btn-inset" *ngIf="model.user.user_type.name != 'student'">
					<a href="javascript:void(0);" class="btn table-btn-right" (click)="loadTable['courses']=true;showEnrolledCourses()"> Enroll to Course </a>
					<table *ngIf="loadTable['courseAssign']" datatable [dtOptions]="dtOptions['courseAssign']" id="coursesTable" class="table table-bordered table-striped default_data_table ">
							<thead>
								<tr>
									<th>Course ID/Name</th>
									<th>Enrollment Date</th>
									<th>Status</th>
									<th class="text-center no-sort">Options</th>
								</tr>
							</thead>
							<tbody *ngIf="assignedCoursesList?.length == 0">
								<tr>
									<td colspan="4">No records found</td>
								</tr>
							</tbody>
							<tbody  *ngIf="assignedCoursesList?.length > 0">
								<tr *ngFor="let assignCourse of enrolledCoursesList;" >
									<td class="grn-txt-clr">{{assignCourse.course.course_uid +' - '+ assignCourse.course.course_title}}</td>
									<td>{{assignCourse.created_at}}</td>
									<td>
										<div class="progress-bar">
										  <div class="progress-cover" style="width:25%"></div>
										  <div class="progress-percent">
											{{assignCourse.completed}}
										  </div>
										</div>
									</td>
									<td class="text-center"> <a href="javascript:void(0);" (click)="deleteEnrolledCourse(assignCourse)"> <i class="fa fa-trash" aria-hidden="true"></i> </a> </td>
								</tr>
							</tbody>
						</table> 
				</div> -->
				
				<!--Student enrolled courses tab *ngIf="model.user.user_type.name == 'student'"-->
				<div class="table-btn-inset" >
					<!-- Button trigger modal -->
					<a href="javascript:void(0);" class="btn table-btn-right" (click)="loadTable['courses']=true;showEnrolledCourses()"> Enroll to Course </a>
					<table *ngIf="loadTable['courseEnroll']" datatable [dtOptions]="dtOptions['courseEnroll']"  id="coursesTable" class="table table-bordered table-striped default_data_table ">
							<thead>
								<tr>
									<th>Course ID/Name</th>
									<th>Enrollment Date</th>
									<th>Status</th>
									<th class="text-center no-sort">Options</th>
								</tr>
							</thead>
							<tbody *ngIf="enrolledCoursesList?.length <= 0">
								<tr>
									<td colspan="4">No records found</td>
								</tr>
							</tbody>
							<tbody  *ngIf="enrolledCoursesList?.length > 0">
								<tr *ngFor="let enrollCourse of enrolledCoursesList;" >
									<td class="grn-txt-clr">{{enrollCourse.course.course_uid +' - '+ enrollCourse.course.course_title}}</td>
									<td>{{enrollCourse.created_at}}</td>
									<td>
										<div class="progress-bar">
											<div class="progress-cover" [style]="getWidthPercent(enrollCourse.course.completed)"></div>
											<div class="progress-percent">
											{{enrollCourse.course.completed | number: '1.0-0'}}%
										  </div>
										</div>
									</td>
									<td class="text-center"> <a href="javascript:void(0);" (click)="deleteEnrolledCourse(enrollCourse)"> <i class="fa fa-trash" aria-hidden="true"></i> </a> </td>
								</tr>
							</tbody>
						</table> 
				</div>
			</div>
			<div class="tab-pane fade" [ngClass]="{'active show': currentTab=='quizzes'}">
				<div class="table-btn-inset">
					<!-- Button trigger modal -->
					<a href="javascript:void(0);" class="btn table-btn-right" (click)="exampleModal7.show()"> Enroll to Test(s) </a>
				<table datatable [dtOptions]="dtOptions['quizzes']"  id="quizzes" class="table table-bordered table-striped default_data_table ">
						<thead>
							<tr>
								<th>Test Name</th>
								<th>Test Date</th>
								<th>Score</th>
								<th class="text-center no-sort">Options</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="grn-txt-clr"> General Knowledge for 10th</td>
								<td>29-04-2019</td>
								<td>
									<div class="progress-bar">
									  <div class="progress-cover" style="width:50%"></div>
									  <div class="progress-percent double-info">
										<div class="pull-right"> 50% </div> 
										<div class="pull-left"> Pass </div> 
										<div class="clearfix"></div>
									  </div>
									</div>
								</td>
								<td class="text-center"> <a href="javascript:void(0);"  data-toggle="modal" data-target="#exampleModal8"> <i class="fa fa-trash" aria-hidden="true"></i> </a> </td>
							</tr>
							<tr>
								<td class="grn-txt-clr">Quick Fire Science</td>
								<td>29-04-2019</td>
								<td>
									<div class="progress-bar">
									  <div class="progress-cover rse-bckgrd" style="width:25%"></div>
									  <div class="progress-percent double-info">
										<div class="pull-right"> 25% </div> 
										<div class="pull-left"> Fail </div> 
										<div class="clearfix"></div>
									  </div>
									</div>
								</td>
								<td class="text-center"> <a href="javascript:void(0);"  data-toggle="modal" data-target="#exampleModal8"> <i class="fa fa-trash" aria-hidden="true"></i> </a> </td>
							</tr>
							<tr>
								<td class="grn-txt-clr">Dynamics of Science</td>
								<td>29-04-2019</td>
								<td>
									<div class="progress-bar">
									  <div class="progress-cover" style="width:0%"></div>
									  <div class="progress-percent double-info">
										<div class="pull-right">  </div> 
										<div class="pull-left"> Incomplete </div> 
										<div class="clearfix"></div>
									  </div>
									</div>
								</td>
								<td class="text-center"> <a href="javascript:void(0);"  data-toggle="modal" data-target="#exampleModal8"> <i class="fa fa-trash" aria-hidden="true"></i> </a> </td>
							</tr>
					   </tbody>
					</table>
				</div>
			</div>
			<div class="tab-pane fade" [ngClass]="{'active show': currentTab=='assignments'}">
					<div class="table-btn-inset">
					<!-- Button trigger modal -->
					<a href="javascript:void(0);" class="btn table-btn-right" (click)="exampleModal3.show()"> Enroll to Assigment(s) </a>
					 <table datatable [dtOptions]="dtOptions['assignments']"  id="assigments" class="table table-bordered table-striped default_data_table ">
						<thead>
							<tr>
								<th> Assignment Name</th>
								<th> Assignment Date</th>
								<th>Score</th>
								<th class="text-center no-sort">Options</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="grn-txt-clr"> Rules of Mughal Emperors in India</td>
								<td>29-04-2019</td>
								<td>
									<div class="progress-bar">
									  <div class="progress-cover" style="width:100%"></div>
									  <div class="progress-percent">
										10/10
									  </div>
									</div>
								</td>
								<td class="text-center"> <a href="javascript:void(0);"  data-toggle="modal" data-target="#exampleModal4"> <i class="fa fa-trash" aria-hidden="true"></i> </a> </td>
							</tr>
							<tr>
								<td class="grn-txt-clr"> India war of Independence</td>
								<td>29-04-2019</td>
								<td>
									<div class="progress-bar">
									  <div class="progress-cover" style="width:50%"></div>
									  <div class="progress-percent">
										5/10
									  </div>
									</div>
								</td>
								<td class="text-center"> <a href="javascript:void(0);"  data-toggle="modal" data-target="#exampleModal4"> <i class="fa fa-trash" aria-hidden="true"></i> </a> </td>
							</tr>
							<tr>
								<td class="grn-txt-clr"> Politics of Modern India </td>
								<td>29-04-2019</td>
								<td>
									<div class="progress-bar">
									  <div class="progress-cover" style="width:0%"></div>
									  <div class="progress-percent">
										Incomplete
									  </div>
									</div>
								</td>
								<td class="text-center"> <a href="javascript:void(0);"  data-toggle="modal" data-target="#exampleModal4"> <i class="fa fa-trash" aria-hidden="true"></i> </a> </td>
							</tr>
							<tr>
								<td class="grn-txt-clr"> Rules of Mughal Emperors in India</td>
								<td>29-04-2019</td>
								<td>
									<div class="progress-bar">
									  <div class="progress-cover" style="width:100%"></div>
									  <div class="progress-percent">
										10/10
									  </div>
									</div>
								</td>
								<td class="text-center"> <a href="javascript:void(0);"  data-toggle="modal" data-target="#exampleModal4"> <i class="fa fa-trash" aria-hidden="true"></i> </a> </td>
							</tr>
							<tr>
								<td class="grn-txt-clr"> India war of Independence</td>
								<td>29-04-2019</td>
								<td>
									<div class="progress-bar">
									  <div class="progress-cover" style="width:50%"></div>
									  <div class="progress-percent">
										5/10
									  </div>
									</div>
								</td>
								<td class="text-center"> <a href="javascript:void(0);"  data-toggle="modal" data-target="#exampleModal4"> <i class="fa fa-trash" aria-hidden="true"></i> </a> </td>
							</tr>
							<tr>
								<td class="grn-txt-clr"> Politics of Modern India </td>
								<td>29-04-2019</td>
								<td class="drkgrn-txt-clr font-weight-bold">
									N/A
								</td>
								<td class="text-center"> <a href="javascript:void(0);"  data-toggle="modal" data-target="#exampleModal4"> <i class="fa fa-trash" aria-hidden="true"></i> </a> </td>
							</tr>
					   </tbody>
					</table>
					</div>
			</div>
			<div class="tab-pane fade " [ngClass]="{'active show': currentTab=='liveclass'}">
				<div class="table-btn-inset">
				<table *ngIf="loadTable['assignedClasses']" datatable [dtOptions]="dtOptions['assignedClasses']"  id="live-class" class="table table-bordered table-striped default_data_table ">
						<thead>
							<tr>
								<th>Live Class Title</th>
								<th>Date/Time</th>
								<th>Status</th>
								<th class="text-center">Attendance</th>
							</tr>
						</thead>
						<tbody *ngIf="liveClassesList?.length == 0">
							<tr>
								<td colspan="4">No records found</td>
							</tr>
						</tbody>
						<tbody *ngIf="liveClassesList?.length > 0">
							<tr *ngFor="let assignLiveclass of liveClassesList;">
								<td> <span class="grn-txt-clr"> {{assignLiveclass.liveclass.title}} </span> <i>({{assignLiveclass.liveclass.duration}} minutes)</i> </td>
								<td> {{assignLiveclass.liveclass.start_time | amDateFormat:'DD-MM-YYYY'}} / <span class="grn-txt-clr">{{assignLiveclass.liveclass.start_time | amDateFormat:'HH:mm'}}-{{assignLiveclass.liveclass.end_time | amDateFormat:'HH:mm'}}</span></td>
								<td class="red-txt-clr">
									
									<span *ngIf="isClassLive(assignLiveclass.liveclass)"><i class="fa fa-video-camera" aria-hidden="true"></i> Live </span>
									<span *ngIf="isClassPending(assignLiveclass.liveclass)"> Pending </span>
									<span *ngIf="isClassComplete(assignLiveclass.liveclass)"> Completed </span>
								</td>
								<td class="text-center grnclr-txt-clr"> <i class="fa fa-check-circle-o" aria-hidden="true"></i>{{is_attended}}</td>
							</tr>
							
					   </tbody>
					</table>
				</div>
			</div>
			<div class="tab-pane fade" [ngClass]="{'active show': currentTab=='info'}">
				 <div class="details-content-view" *ngIf="!edit">
                  		<p class="details-type m-0 mb-1"> <span> First Name</span> {{model.firstname}} </p>
                  		<p class="details-type m-0 mb-1"> <span> Last Name</span> {{model.lastname}} </p>
                  		<p class="details-type m-0 mb-1"> <span> Email ID / Username</span> {{model.user.email}} </p>
                        <div class="line-break"></div>
                  		<p class="text-right m-0"> <a routerLink="/edit_user_detail/{{model.user_id}}" [queryParams]="{tab: 'info',edit: 1}" class="grn-txt-clr" *ngIf = "model.user_type_id != 2" (click)="initDatePicker()"> Edit Profile Details </a></p>
                  		<p class="details-type m-0 mb-1"> <span> Birth Date</span> <i class="fa fa-calendar" aria-hidden="true"></i>{{model.dob | amDateFormat:'Do MMM, YYYY'}} </p>
                  		<p class="details-type m-0 mb-1"> <span> Country</span> {{model.country}} </p>
                  		<p class="details-type m-0 mb-1"> <span> Time Zone</span>{{model.timezone}} </p>
                  		<p class="details-type m-0 mb-1"> <span> Telephone</span>{{model.phone_number}} </p>
                  		<p class="details-type m-0 mb-1"> <span> City</span> {{model.city}}</p>
                  		<p class="details-type m-0 mb-1"> <span> Zip Code</span> {{model.pin_code}}</p>
                  		<p class="details-type m-0 mb-1"> <span> User Type</span> {{model.user.user_type.name}} </p>
				 </div>
				 <div class="details-content-edit" *ngIf="edit">
						<form name="form" id="institute_user" role="form" class="form-horizontal register" (ngSubmit)="f.form.valid && savePersonalInstituteUser()" #f="ngForm" novalidate>
							<div class="row">
								<div class="col-md-5">
								  <div class="form-group">
									<label>First Name</label>
									<input type="text" class="form-control" id="firstname" placeholder="Enter Your First Name" name="firstname" [(ngModel)]="model.firstname" #firstname="ngModel" required />
									<div *ngIf="f.submitted && !firstname.valid" class="help-block">First Name is Required</div>
									<!--<input type="text" class="form-control bckgrd-nn" placeholder="Amit" value="{{userProfile['firstname']}}"> -->
								  </div>
								</div>
								<div class="col-md-5">
								  <div class="form-group">
									<label>Last Name</label>
									<input type="text" class="form-control" id="lastname" placeholder="Enter Your Last Name" name="lastname" [(ngModel)]="model.lastname" #lastname="ngModel" required />
									<div *ngIf="f.submitted && !lastname.valid" class="help-block">Last Name is Required</div>
									<!--<input type="text" class="form-control bckgrd-nn" placeholder="Rana" value="{{userProfile['lastname']}}">-->
								  </div>
								</div>
								<div class="col-md-7">
								  <div class="form-group">
										<label>Email ID/Username</label>
										<input type="email" class="form-control" id="email" placeholder="Enter Your Email" name="email" [(ngModel)]="model.user.email" #email="ngModel" readonly />
										<div *ngIf="f.submitted && !email.valid" class="help-block">Email is Required</div>
										<!--<input type="text" class="form-control bckgrd-nn" placeholder="Rana" value="{{userProfile['email']}}">-->
								  </div>
								</div>
								<div class="col-md-5">
									<p class="text-right mx-5 mt-4"> <a href="javascript:void(0);" class="grn-txt-clr mt-3" (click)="sendResetInstruction(model.user);exampleModal9.show()"> Reset Password </a></p>
								</div>
								<div class="col-md-12">
									<div class="line-break mb-3"></div>
								</div>
								<div class="col-md-12">
									<div class="other-form-control">
										<div class="row">
											<div class="col-md-5">
											  <div class="form-group">
												<label>Country</label>
												<select class="form-control" [(ngModel)]="model.country" name="country" >
												  <option [value] = "country.name" *ngFor="let country of countries" >{{country.name}}</option>
												</select>
											  </div>
											</div>
											<div class="col-md-5">
											  <div class="form-group">
												<label>Time Zone</label>
												<select class="form-control" [(ngModel)]="model.timezone" name="timezone" >
												  <option [value] = "country.timezone" *ngFor="let country of countries" >{{country.name}}({{country.timezone}})</option>
												</select>
											  </div>
											</div>
											<div class="col-md-5">
											  <div class="form-group">
												<label>Birth Date</label>
												<div class="input-icon-block">
													<input type='text' #dob class="form-control create-basic-date" name="dob"/>
												</div>
											  </div>
											</div>
											<div class="col-md-5">
											  <div class="form-group">
												<label>Tele Phone</label>
												<div class="input-group mb-3">
												  <div class="input-group-prepend">
													 <select class="btn btn-outline-secondary"  style="margin: 0px !important;padding: 0px !important;" [(ngModel)]="model.phone_code" name="phone_code" >
														  <option [value] = "country.phone_code" *ngFor="let country of countries" >{{country.phone_code}}</option>
														</select>
												  </div>
												 <!-- <input type="text" class="form-control" placeholder="9841310733" aria-label="Username" aria-describedby="basic-addon1" value="{{userProfile['phone_number']}}">-->
												  <input type="number" class="form-control" id="phone_number" placeholder="" name="phone_number" [(ngModel)]="model.phone_number" #phone_number="ngModel" pattern="[0-9]{10,12}" />
													<div *ngIf="f.submitted && !phone_number.valid" class="help-block">Phone Number should be 10-12 numbers long</div>
												</div>
											  </div>
											</div>
											<div class="col-md-5">
											  <div class="form-group">
												<label>City</label>
												<!--<input type="text" class="form-control" placeholder="Chennai">-->
												 <input type="text" class="form-control" id="city" placeholder="" name="city" [(ngModel)]="model.city" #city="ngModel" />
													<div *ngIf="f.submitted && !city.valid" class="help-block">City Name is Required</div>
											  </div>
											</div>
											<div class="col-md-5">
											  <div class="form-group">
												<label>Zip Code</label>
												<!--<input type="text" class="form-control" placeholder="600 021">-->
												<input type="text" class="form-control" id="pincode" placeholder="" name="pin_code" [(ngModel)]="model.pin_code" #pin_code="ngModel" />
													<div *ngIf="f.submitted && !pin_code.valid" class="help-block">zip Code is Required</div>
											  </div>
											</div>
											<div class="col-md-5">
											  <div class="form-group">
												<div class="form-group">
													<label>User Type</label>
													
													<select [(ngModel)]="model.user.user_type_id" name="userType" class="form-control">
													  <option *ngFor="let usersType of userTypeList" value="{{usersType.id}}">{{usersType.name}}</option>
													</select>
												</div>
											  </div>
											</div>
											<div class="col-sm-10">
												<div class="form-group" *ngIf="operation.lifecycle=='stopped'">
													<div class="alert alert-success" [ngClass]="{'alert-success': operation.status,'alert-danger': !operation.status}"><p [innerHTML]="operation.message"></p></div>
							          </div>
												<div class="form-group" *ngIf="operation.lifecycle=='running'">
													<div class="alert alert-info"><p>Saving user information, please wait...</p></div>
							          </div>													
											</div>
											<div class="col-md-10">
												<div class="text-right">
													<a routerLink="/user-lists" class="btn btn-no">Cancel</a>
													<button type="submit" class="btn drkgrn-bckgrd-clr">Save Details</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				
			</div>
	</div>
</div>

        <!-- Modal one -->
         <div mdbModal ngDraggable #enrollCourseModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content" ngResizable>
              <div class="modal-header">
                <h5 class="modal-title" id="enrollCourseModalLabel"> Assign New COURSE </h5>
                <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="enrollCourseModal.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body table-in">
					 <table datatable [dtOptions]="dtOptions['courses']"  class="table table-bordered table-striped default_data_table" style="width:100%">
						<thead>
							<tr>
								<th> Course ID/Name</th>
								<th class="text-center no-sort">Options</th>
							</tr>
						</thead>
						<tbody *ngIf="courseslist?.length <= 0"></tbody>
						<tbody *ngIf="courseslist?.length > 0">
							<tr *ngFor="let course of courseslist">
								<td class="grn-txt-clr">{{course.course_uid + ' - '+ course.course_title |titlecase}}</td>
								<td class="text-center"> <input type="checkbox" [(ngModel)]="selectedCourses[course.id]"> </td>
							</tr>
					   </tbody>
					</table>
              </div>
              <div class="alert alert-success" *ngIf="message['assignCourse'] && message['assignCourse']!=''">{{message['assignCourse']}}</div>
              <div class="modal-footer" *ngIf="message['assignCourse']==''">
                <button type="button" class="btn btn-primary" (click)="saveEnrollCourses()">Assign</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal two -->
      <div mdbModal ngDraggable #confirmLoginModal="mdbModal" ngdraggable class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteEnrollCourseModalLabel"> Login as user </h5>
                <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="confirmLoginModal.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body msg-alert-block text-center" >
                <p> Are you sure you want to login as a user? </p>
                	<a href="javascript:void(0);" class="btn btn-no" (click)="confirmLoginModal.hide()"> No </a> <a href="javascript:void(0);" class="btn" (click)="loginAs()"> Yes </a>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Modal two -->
      <div mdbModal ngDraggable #deleteEnrollCourseModal="mdbModal" ngdraggable class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content" ngResizable>
              <div class="modal-header">
                <h5 class="modal-title" id="deleteEnrollCourseModalLabel"> Remove Assign COURSE </h5>
                <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="deleteEnrollCourseModal.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body msg-alert-block text-center" >
                <p> Are you sure you want to remove assigned course? </p>
                	<a href="javascript:void(0);" class="btn btn-no" (click)="deleteEnrollCourseModal.hide()"> No </a> <a href="javascript:void(0);" class="btn" (click)="removeEnrolledCourse()"> Yes </a>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Modal three -->
       <div mdbModal ngDraggable #exampleModal3="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content" ngResizable>
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3"> Assign New Assignment </h5>
                <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="exampleModal3.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body table-in">
                <table id="new-assigments" class="table table-bordered table-striped default_data_table" style="width:100%">
                    <thead>
                        <tr>
                            <th> Assignment Topic</th>
                            <th class="text-center no-sort">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="grn-txt-clr"> Rules of Mughal Emperors in India </td>
                            <td class="text-center"> <input type="checkbox"> </td>
                        </tr>
                        <tr>
                            <td class="grn-txt-clr"> India war of Independence </td>
                            <td class="text-center"> <input type="checkbox"> </td>
                        </tr>
                        <tr>
                            <td class="grn-txt-clr">Politics of Modern India</td>
                            <td class="text-center"> <input type="checkbox"> </td>
                        </tr>
                        <tr>
                            <td class="grn-txt-clr"> Rules of Mughal Emperors in India </td>
                            <td class="text-center"> <input type="checkbox"> </td>
                        </tr>
                        <tr>
                            <td class="grn-txt-clr"> India war of Independence </td>
                            <td class="text-center"> <input type="checkbox"> </td>
                        </tr>
                        <tr>
                            <td class="grn-txt-clr">Politics of Modern India</td>
                            <td class="text-center"> <input type="checkbox"> </td>
                        </tr>
                   </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">Assign</button>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Modal four -->
        <div mdbModal ngDraggable #exampleModal4="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content" ngResizable>
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Remove User From Assignments </h5>
                <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="exampleModal4.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body msg-alert-block text-center">
                <p> Are you sure you want to remove user from the Assignments? </p>
                	<a href="javascript:void(0);" class="btn btn-no" data-dismiss="modal" aria-label="Close"> No </a> <a href="javascript:void(0);" class="btn"> Yes </a>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Modal five -->
        <div mdbModal ngDraggable #assignGroupModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content" ngResizable>
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3"> Assign New Group </h5>
                <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="assignGroupModal.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body table-in">
				<table datatable [dtOptions]="dtOptions['groups']"  class="table table-bordered table-striped default_data_table" style="width:100%">
					<thead>
						<tr>
							<th> Group Name</th>
							<th class="text-center no-sort">Options</th>
						</tr>
					</thead>
					<tbody *ngIf="groupslist?.length <= 0"></tbody>
					<tbody *ngIf="groupslist?.length > 0">
						<tr *ngFor="let group of groupslist">
							<td class="grn-txt-clr">{{group.group_name | titlecase}}</td>
							<td class="text-center"> <input type="checkbox" [(ngModel)]="selectedGroups[group.id]"> </td>
						</tr>
				   </tbody>
				</table>
              </div>
              <div class="alert alert-success" *ngIf="message['assignGroup'] && message['assignGroup']!=''">{{message['assignGroup']}}</div>
              <div class="modal-footer" *ngIf="message['assignGroup']==''">
                <button type="button" class="btn btn-primary" (click)="saveAssignGroups()">Assign</button>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Modal six -->
       <div mdbModal ngDraggable #deleteAssignGroupModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content" ngResizable>
              <div class="modal-header">
                <h5 class="modal-title" id="deleteAssignGroupModalLabel"> Remove Assign Group </h5>
                <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="deleteAssignGroupModal.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body msg-alert-block text-center">
                <p> Are you sure you want to remove user from the group? </p>
                	<a href="javascript:void(0);" class="btn btn-no" data-dismiss="modal" aria-label="Close" (click)="deleteAssignGroupModal.hide()"> No </a> <a href="javascript:void(0);" class="btn" (click)="removeAssignedGroup()"> Yes </a>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Modal seven -->
       <div mdbModal ngDraggable #exampleModal7="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content" ngResizable>
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3"> Assign New Quiz </h5>
                <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="exampleModal7.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body table-in">
                <table id="user-quiz-add" class="table table-bordered table-striped default_data_table" style="width:100%">
                    <thead>
                        <tr>
                            <th> Quiz Name</th>
                            <th class="text-center no-sort">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="grn-txt-clr"> General Knowledge for 10th </td>
                            <td class="text-center"> <input type="checkbox"> </td>
                        </tr>
                        <tr>
                            <td class="grn-txt-clr"> Quick Fire Science </td>
                            <td class="text-center"> <input type="checkbox"> </td>
                        </tr>
                        <tr>
                            <td class="grn-txt-clr"> Dynamics of Science </td>
                            <td class="text-center"> <input type="checkbox"> </td>
                        </tr>
                   </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">Assign</button>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Modal eight -->
        <div mdbModal ngDraggable #exampleModal8="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content" ngResizable>
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Remove User From Quizzes </h5>
                <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="exampleModal8.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body msg-alert-block text-center">
                <p> Are you sure you want to remove user from the Quiz? </p>
                	<a href="javascript:void(0);" class="btn btn-no" data-dismiss="modal" aria-label="Close"> No </a> <a href="javascript:void(0);" class="btn"> Yes </a>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Modal nine -->
        <div mdbModal ngDraggable #exampleModal9="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content" ngResizable>
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Reset Password </h5>
                <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="exampleModal9.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body msg-alert-block text-center">
                <p> New Password has been mailed to your registered Email ID </p>
                	<a href="javascript:void(0);" class="btn" (click)="exampleModal9.hide()"> ok </a>
              </div>
            </div>
          </div>
        </div>


