
<div class="container-fluid">
	<div class="user-details-tab-head">
		<div class="py-1 px-2">
			<div class="row">
				<div class="col-6">
					<h5 class="m-0 mt-1 p-0 font-weight-bold"> <i class="fa fa-wrench" aria-hidden="true"></i> Login Page Settings</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="custmized-heading">
	  <div class="col-6">
		<p>Customize your landing page content with the features mentioned below</p>
	  </div>
	</div>
</div>
	
<div class="container-fluid">
	<div class="row mt-3">
	  <div class="col-xs-12 col-sm-12">
		<div class="card login-setting">
		  <div class="card-body ml-3">
			  <form class="login-settings" role="form" name="form" enctype="multipart/form-data" (ngSubmit)="f.form.valid && saveLoginSettings()" #f="ngForm" novalidate>
				<div class="form-group">
					<div class="row_tooltip_settings">
				  	<label for="exampleInputEmail1">Home Page Title</label><i class="fa fa-info-circle" aria-hidden="true"></i>
					</div>
				   <input class="form-control" type="text"  name="left_title" [(ngModel)]="model.left_title" #left_title="ngModel" required >
                   <div *ngIf="f.submitted && !left_title.valid" class="help-block">Please enter the home page title</div>
				</div>
				<div class="form-group">
					<div class="row_tooltip_settings">
				  <label for="exampleInputEmail1">Home Page Text</label><i class="fa fa-info-circle" aria-hidden="true"></i>
					</div>
				  <ckeditor [editor]="Editor" id= "left_description" [(ngModel)]="model.left_description" name="left_description"></ckeditor>
				</div>
				<div class="form-group">
					<div class="row_tooltip_settings">
				  		<label for="exampleInputPassword1">Right Column Title</label><i class="fa fa-info-circle" aria-hidden="true"></i>
				  	</div>	
					<input class="form-control" type="text"  name="right_title" [(ngModel)]="model.right_title" #right_title="ngModel" required >
                   <div *ngIf="f.submitted && !right_title.valid" class="help-block">Please enter the right page title</div>
				</div>
				<div class="form-group">
					<div class="row_tooltip_settings">
					<label for="exampleInputEmail1">Right Column text</label><i class="fa fa-info-circle" aria-hidden="true"></i>
					</div>
					 <ckeditor [editor]="Editor" id= "right_description" [(ngModel)]="model.right_description" name="right_description"></ckeditor>
				  </div>
				  <div class="form-group">
				  	<div class="row_tooltip_settings">
						<label for="exampleInputPassword1">Copyrights Title</label><i class="fa fa-info-circle" aria-hidden="true"></i>
					</div>
					<input class="form-control" type="text"  name="copyright_title" [(ngModel)]="model.copyright_title" #copyright_title="ngModel" required >
                   <div *ngIf="f.submitted && !copyright_title.valid" class="help-block">Please enter copy right title</div>
				  </div>
				  <div class="form-group study-course-images">
					  <h3>Banner Image</h3>
						<img [src]="file_srcs" class="img-fluid" style="width:45%;">
				  </div>
				  <div class="course-images">
					  <div class="upload-btn loginpage-upload">
							  <input type="text" disabled placeholder="Banner Image" name="search2" [(ngModel)]="banner_image.name">
							  <input type="file" accept=".jpg" class="hide" #web_uploader (change)="fileChange($event)" name="banner_image"/>
							  <button type= 'button' (click)="web_uploader.click()"><i class="fa fa-file-o" aria-hidden="true"></i></button>
						</div>
						  </div>
<!--
				  <div class="upload-img-btn logo-setting-uplooad-btn">
							  <label class="btn-bs-file btn btn-primary">
								Upload
								<input type="file" name="banner_image" (change)="fileChange($event)" accept=".jpg" id="file">
							  </label>
					</div>
-->
					<div class="clearfix"></div>
					<div class="form-group" *ngIf="operation.lifecycle=='stopped'">
						<div class="alert alert-success" [ngClass]="{'alert-success': operation.status,'alert-danger': !operation.status}"><p [innerHTML]="operation.message"></p></div>
          </div>
					<div class="form-group cancel-savedetail login-setting-btn-defeault m-0 p-0">
					<button type="button" class="btn btn-primary save-detal" (click)="resetSetting()">Reset Settings</button>
					<button type="submit" class="btn btn-primary save-detal">Save Details</button>
				  </div>
			  </form>				
		  </div>
		</div>
	  </div>
	</div>
</div>


