<section class="signin-live">
	<div class="sign-overlay">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12">
				  <div class="form-group" *ngIf="operation.lifecycle=='stopped'">
					<div class="alert alert-success" [ngClass]="{'alert-success': operation.status,'alert-danger': !operation.status}"><p [innerHTML]="operation.message"></p></div>
				  </div>
				  <div class="form-group" *ngIf="operation.lifecycle=='running'">
					<div class="alert alert-info"><p>We are activating your account,Please wait....</p></div>
				  </div>
				</div>
				<p class="forgot-password-link" ><a routerLink='/'>Go To Login</a></p>
			</div><!--row-->
		</div><!--container-->
	</div><!--signup-overlay-->
</section>

