	
<section class="live-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 no-padding">

                <img *ngIf = "loginSetting == null" src="/assets/images/study-image.jpg" class="img-responsive">

                <img *ngIf = "loginSetting != null" [src] ="file_srcs" class="img-responsive">
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 no-padding">
                <div class="benificalwhom-signin">
                    <div class="signin-live">
                        <div class="col-md-10 col-md-offset-1">
						<form class="sign-in" role="form" name="form" (ngSubmit)="f.form.valid && login(f)" #f="ngForm" novalidate>
                            <h3><span>Sign in</span> {{loginSetting.institute.title ? loginSetting.institute.title : 'Live@Class'}}</h3>
                            <div *ngIf="message" class="alert" [ngClass]="{'alert-success': !loginError,'alert-danger': loginError}">
								<h6 class="">{{message}}</h6>
							</div>
                            <div class="input-container">	
									<fa-icon class="icon fonticon" [icon]="['fas', 'envelope']" [fixedWidth]="true" size="6x"></fa-icon>
									<input class="input-field" type="text"  placeholder="Email ID" name="email" [(ngModel)]="model.email" #email="ngModel" required email autocomplete="off">
                            </div>
                            <div *ngIf="f.submitted && !email.valid" class="help-block">
									<div *ngIf="email.errors.required">Email is required.</div>
									<div *ngIf="email.errors.email">Email must be a valid.</div>
							</div>
                            
                            <div class="input-container">
								<fa-icon class="icon fonticon" [icon]="['fas', 'lock']" [fixedWidth]="true" size="6x"></fa-icon>

								<input class="input-field" type="password" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required minlength="6" autocomplete="off">
                            
                            </div>
                            <div *ngIf="f.submitted && !password.valid" class="help-block">
								<div *ngIf="password.errors.required">Password is required</div>
								<div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
							</div>
                        <div class="forgot-password">
                            <p class="forgot-password-link" data-toggle="modal" (click)="forgotPassword.show()">Forgot Password?</p>
                            <button type="submit" class="btn">Sign In</button>
                        </div>
                        </form>
                    </div>
                    </div>
                    <!-- <div class="benifical-whom">
                        <p>Beneficial to whom?</p>
                             <ul>
                                 <li><a href="#"><fa-icon [icon]="['fas', 'angle-double-right']" [fixedWidth]="true"></fa-icon>Schools</a></li>
                                 <li><a href="#"><fa-icon [icon]="['fas', 'angle-double-right']" [fixedWidth]="true"></fa-icon> Teachers</a></li>
                                 <li><a href="#"><fa-icon [icon]="['fas', 'angle-double-right']" [fixedWidth]="true"></fa-icon> Students</a></li>
                                 <li><a href="#"><fa-icon [icon]="['fas', 'angle-double-right']" [fixedWidth]="true"></fa-icon>Private Institutes</a></li>
                                 <li><a href="#"><fa-icon [icon]="['fas', 'angle-double-right']" [fixedWidth]="true"></fa-icon>Organisation</a></li>
                             </ul>
                    </div> -->
            </div>
            </div>
        </div>
    </div>
</section>
<section class="about-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="about-live-chat">
                    <h3 *ngIf = "loginSetting != null"><span>About</span> {{loginSetting.left_title}}</h3>
                    <h3 *ngIf = "loginSetting == null"><span>About</span> Live@Class</h3>
                    <p *ngIf = "loginSetting == null">Understanding eLearning is simple. eLearning is learning utilizing electronic technologies to access educational curriculum outside of a traditional classroom.  In most cases, it refers to a course, program or degree delivered completely online. There are many terms used to describe learning that is delivered online, via the internet, ranging from Distance Education, to computerized electronic learning, online learning, internet learning and many others.</p>
                    <p  *ngIf = "loginSetting != null" [innerHTML] = "loginSetting.left_description"></p>
            </div>
            </div>
            <div class="col-md-5 add-border">
            <div class="unique-feature arrow-list">
				<h3 *ngIf = "loginSetting != null">{{loginSetting.right_title}}</h3>
                <h3 *ngIf = "loginSetting == null"> Unique Feature</h3>
                  <ul *ngIf = "loginSetting == null">
                         <li><a href="#">Blended Learning Tools</a></li>
                         <li><a href="#">Robust Reporting with Customizability</a></li>
                         <li><a href="#">Brand Integration</a></li>
                         <li><a href="#">Online Course Catalogs</a></li>
                  </ul>
                  <p  *ngIf = "loginSetting != null" [innerHTML] = "loginSetting.right_description"></p> 
                </div>
            </div>
        </div>
    </div>
</section>
<!--Forgot Password Modal-->
        <div mdbModal #forgotPassword="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordLabel" aria-hidden="true">
            <div class="modal-dialog pass-link " role="document">
                <div class="modal-content pass-link">
                    <div class="modal-header ">
                        <h5 class="modal-title" id="forgotPasswordLabel"> Forgot password? </h5>
                        <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="forgotPassword.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
						<form class="forgot-passsword-modal" role="form" name="forgotform" (ngSubmit)="fp.form.valid &&  resetPassword(fp)" #fp="ngForm" novalidate>
							 <div *ngIf="newmessage" class="alert" [ngClass]="{'alert-success': !forgotError,'alert-danger': forgotError}">
								<h6 class="">{{newmessage}}</h6>
							</div>
							<div class="form-group">
								<label for="email">Email address:</label>
								<input type="email" class="form-control" placeholder="Registered Email ID" name="forgotEmail" [(ngModel)]="model.forgotEmail" #forgotemail="ngModel" required email >
<!--
								<input class="input-field" type="email"  placeholder="Registered Email ID" name="email" [(ngModel)]="forgotEmail" #email="ngModel" required >
-->
								<div *ngIf="fp.submitted && !forgotemail.valid" class="help-block">
									<div *ngIf="forgotemail.errors.required">Email is required.</div>
									<div *ngIf="forgotemail.errors.email">Email must be a valid.</div>
								
								</div>
							</div>
							<div class="reset-link text-right">
								<button type = "submit"class="btn btn-default">Reset Link</button>
							</div>
						</form>
                    </div>
                </div>
            </div>
        </div>
        
        <div mdbModal #validation="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="validationLabel" aria-hidden="true">
            <div class="modal-dialog pass-link " role="document">
                <div class="modal-content pass-link">
                    <div class="modal-header ">
<!--
                        <h5 class="modal-title" id="validationLabel"> Forgot password? </h5>
-->
                        <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="validation.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
						{{message}}
                    </div>
                </div>
            </div>
        </div>
