<div *ngIf="message != undefined" class="success_message">
	<button class="btn btn-info" id="closediv" onclick="hide();"><i class="fa fa-close"></i></button>
	<h5 class="">{{message}}</h5>
</div>
		<section class="signin-live">
		<div class="sign-overlay">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6">
						<div class="form-style login">
							<form class="form-horizontal sign-in" role="form" name="form" (ngSubmit)="f.form.valid && setPassword()" #f="ngForm" novalidate>
							   <h3>Reset Password</h3>
							   <div class="login-overlay">
									<div class="form-group form-md-line-input">
										<div class="col-md-10 col-sm-10">
											<div class="input-container">
												<fa-icon class="icon fonticon" [icon]="['fas', 'lock']" [fixedWidth]="true" size="6x"></fa-icon>

												<input class="input-field" type="password" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required minlength="6" autocomplete="off">
											
											</div>
											<div *ngIf="f.submitted && !password.valid" class="help-block">
												<div *ngIf="password.errors.required">Password is required</div>
												<div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
											</div>
										</div>
									</div>
									
									<div class="form-group form-md-line-input">
										<div class="col-md-10 col-sm-10">
											<div class="input-container">
												<fa-icon class="icon fonticon" [icon]="['fas', 'lock']" [fixedWidth]="true" size="6x"></fa-icon>

												<input class="input-field" type="password" placeholder="Confirm Password" name="confirmpasswords" [(ngModel)]="model.confirmpassword" #confirmpassword="ngModel" required minlength="6" autocomplete="off">
											
											</div>
											<div *ngIf="f.submitted && !confirmpassword.valid" class="help-block">
												<div *ngIf="confirmpassword.errors.required">Confirm Password is required</div>
												<div *ngIf="confirmpassword.errors.minlength">Confirm Password must be at least 6 characters</div>
											</div>
										</div>
									</div>
									
									</div>

							<div class="forgot-password">
								<p class="forgot-password-link" ><a routerLink='/'>Sign in</a></p>
								<button type="submit" class="btn">Submit</button>
							</div>

								
							</form>
                          
						
						</div><!--form-style-->
					</div>
				</div><!--row-->
			</div><!--container-->
			</div><!--signup-overlay-->
		</section>

