<div class="col-md-3 col-sm-4 col-md-12">
							<div class="module-sidebar">
							<div class="course">
								<h3>{{data["DASHBOARD"]}}</h3>
									<ul class="syllabus-conts">
										<li><a [routerLink]="['/dashboard']">{{data["DASHBOARD"]}}</a></li>
									</ul>
							</div>
							<div class="course" *ngIf="permissions['courses']['C'] == true || permissions['courses']['U'] == true">
								<h3>{{data["COURSE_CONTENT"]}}</h3>
									<ul class="syllabus-conts">
										<li><a [routerLink]="['/syllabus',  CourseID]">{{data["SYLLABUS"]}}</a></li>
										<li><a [routerLink]="['/assignment',  CourseID]">{{data["ASSIGNMENT"]}}</a></li>
<!--
										<li *ngIf="permissions['module']['C'] == true && currentUser['user_type_id'] != 4" ><a [routerLink]="['/questions_list']">Question Bank List</a></li>
-->
									</ul>
							</div>
							<div class="courses" *ngIf="permissions['courses']['U'] == true && currentUser['user_type_id'] != 3 ">
								<h3>{{data["COURSE_INFO"]}}</h3>
								<ul class="course-info">
									<li class="introduction" *ngIf="permissions['courses']['C'] == true "><a [routerLink]="['/course_intro',  CourseID]">{{data["INTRODUCTION"]}}</a></li>
<!--
									<li><a [routerLink]="['/course_summary',  CourseID]">{{data["COURSE_SUMMARY"]}}</a></li>
-->
									<li><a [routerLink]="['/course_summary',  CourseID]">{{data["COURSE_SUMMARY"]}}</a></li>
									<li><a [routerLink]="['/course_image',  CourseID]">{{data["COURSE_IMAGE"]}}</a></li>
									<li><a [routerLink]="['/promo',  CourseID]">{{data["PROMO_VIDEO"]}}</a></li>
									<li *ngIf="permissions['courses']['D'] == true"><a href="javascript:void(0);" (click) = "openConfirmationDialog(CourseID)" class="" role="button">{{data["DELETE_COURSE"]}}</a></li>
								</ul>
							</div>	
							<div class="lines">
								<ul class="course-guidelines">
									<li><a [routerLink]="['/manage-course',  CourseID]">{{data["COURSE_GUIDLINE"]}}</a></li>
								</ul>
							</div>	
							</div>
						
						</div>
		
<div id="myModal" class="modal confirmPopup " [ngClass]="{'hide': 
!confirmBox,'show': confirmBox}">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- dialog body -->
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>
	</button>
       Are You Sure.You Want To Delete This.
      </div>
      <!-- dialog buttons -->
      <div class="modal-footer"><button type="button" class="btn 
      btn-primary" (click)="deleteMyCourse(CourseID)">OK</button><button type="button" class="btn 
      btn-primary" 
      (click)="closePopUp()">close</button></div> 
     
    </div>
  </div>
</div>
<div class="modal-backdrop fade in" [ngClass]="{'hide': 
!confirmBox,'show': confirmBox}"></div>
