
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <ul class="footer-about">
                    <li><a href="#">About Us </a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Mission and Visions</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                    <ul class="footer-terms">
                            <li><a href="#">Terms & Conditions</a></li>
                            <li *ngIf = "model.copyright_title != ''"><a href="#">{{model.copyright_title}}</a></li>
                            <li *ngIf = "model.copyright_title == ''"><a href="#">CopyRights @ liveatclass.com</a></li>
                        </ul>
            </div>
        </div>
    </div>
</footer>
