<header *ngIf = "theme=='frontend-page'">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="logo-brand">
                    <a routerLink="/">
                      <i class="fa fa-home fa-3x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<header *ngIf = "theme=='blank'">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="logo-brand">
                    <a routerLink="/">
                      <img src="/assets/images/logo.png" *ngIf="!site_settings.web_logo" class="img-responsive institute_logo">
                      <img [src]="site_settings.web_logo" *ngIf="site_settings.web_logo" class="img-responsive institute_logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<header *ngIf = "theme=='frontend' || theme=='course-preview'">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="logo-brand">
					          <a routerLink="/">
                      <img src="/assets/images/logo.png" *ngIf="!site_settings.web_logo" class="img-responsive institute_logo">
                      <img [src]="site_settings.web_logo" *ngIf="site_settings.web_logo" class="img-responsive institute_logo">
                    </a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="course-offered">
                   <a routerLink="/course_catalogue" target="_blank">
                    <img src="/assets/images/book-icon.png" class="img-responsive">
                    <p class="course-offer">Courses Offered <fa-icon [icon]="['fas', 'angle-double-down']" [fixedWidth]="true"></fa-icon></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<header *ngIf="theme=='backend' && currentUser">
	<div class="container-fluid">
		<div class="row">
			<div class="col-4">
				<div class="logo-brand">
          <a routerLink="/">
            <img src="/assets/images/logo.png" *ngIf="!site_settings.web_logo" class="img-fluid institute_logo">
  					<img [src]="site_settings.web_logo" *ngIf="site_settings.web_logo" class="img-fluid institute_logo">
          </a>
				</div>
			</div>
			<div class="col-8">
				<div class="dropdown float-right" [ngClass]="{'show': showMenu}">
				  <a class="" href="javascript:void(0)" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  (click)="toggleMenu()">
					<div class="user-icon float-right">
            <img src="/assets/images/avatar.png" class="img-fluid" *ngIf="currentUser['profile_image']=='' || !currentUser['profile_image']">
						<img [src]="currentUser['profile_image']" class="img-fluid rounded-circle" *ngIf="currentUser['profile_image']">
						<img src="/assets/images/dropdown-arrow.png" class="dropdown-arrow">
					</div>
				  </a>
				 
				  <div *ngIf="currentUser" [ngClass]="{'show': showMenu}" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink" (click)="toggleMenu()">
					<a class="dropdown-item" href="javascript:void(0)"><div class="first-word pull-left"> {{ currentUser['firstname'].substr(0,1)}} </div> <div class="name-email pull-left"> <div class="user_name text-truncate">{{ currentUser['firstname']}} {{ currentUser['lastname']}}</div> <div class="email_dtls">{{ currentUser['email']}}</div> </div> <div class="clearfix"></div> </a>
					<!-- <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-picture-o" aria-hidden="true"></i> Change Avatar</a> -->
					<a class="dropdown-item" routerLink="/user_profile"><i class="fa fa-id-card-o" aria-hidden="true"></i> Profile Information</a>
					<a *ngIf="currentUser['user_type'] != 'student'" class="dropdown-item" routerLink="/profile/{{currentUser['id']}}"><i class="fa fa-id-card-o" aria-hidden="true"></i> Bio</a>
					<!-- <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-file-audio-o" aria-hidden="true"></i> Invoices</a> -->
					<a class="dropdown-item" routerLink="/plan/detail" *ngIf="currentUser['user_type'] != 'student' && currentUser['user_type'] != 'teacher'"><i class="fa fa-file-text-o" aria-hidden="true"></i> Plan Details</a>
					<a (click)="logout()" class="dropdown-item"><i class="fa fa-sign-in" aria-hidden="true"></i>Logout</a>
				  </div>
				</div>
				<p *ngIf="currentUser" class="header-text">Welcome, {{ currentUser['firstname']}}!</p>
				<div class="clearfix"></div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</header>

<header *ngIf="theme=='curriculum'" class="header-pd">
	<div class="container-fluid">
		<div class="row">
			<div class="col-6 d-flex justift-content-between">
				<div class="logo-brand">
					<img src="/assets/images/logo.png" class="img-fluid cv-img mr-4" />
				</div>
				
				<h6 class="m-0 mt-2">{{courseTitle}}</h6>
			</div>
			<div class="col-6">
				<div class="dropdown float-right" [ngClass]="{'show': showMenu}" >
				  <a class="" href="javascript:void(0)" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="toggleMenu()">
					<div class="user-icon float-right">
						<img src="/assets/images/user-icon.png" class="img-fluid">
						<img src="/assets/images/dropdown-arrow.png" class="dropdown-arrow">
					</div>
				  </a>
				 
				  <div *ngIf="!!currentUser" [ngClass]="{'show': showMenu}" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink"  (click)="toggleMenu()">
					<a class="dropdown-item" href="javascript:void(0)"><div class="first-word pull-left"> {{ currentUser['firstname'].substr(1)}} </div> <div class="name-email pull-left"> <div class="user_name">{{ currentUser['firstname']}} {{ currentUser['lastname']}}</div> <div class="email_dtls">{{ currentUser['email']}}</div> </div> <div class="clearfix"></div> </a>
					<a class="dropdown-item" routerLink="/user_profile"><i class="fa fa-id-card-o" aria-hidden="true"></i> Profile Information</a>
					<a *ngIf="currentUser['user_type_id']==3 || currentUser['user_type_id']==2" class="dropdown-item" routerLink="/profile/{{currentUser['id']}}"><i class="fa fa-id-card-o" aria-hidden="true"></i> Bio</a>
					<a (click)="logout()" class="dropdown-item"><i class="fa fa-sign-in" aria-hidden="true"></i>Logout</a>
				  </div>
				</div>
				<p *ngIf="!!currentUser" class="header-text cv-header-text">Welcome, {{ currentUser['firstname']}}!</p>
				<div class="clearfix"></div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</header>



