<div class="container" *ngIf="!page && operation.lifecycle=='running'">
  <h2>Loading ....</h2>
</div>
<div class="container ckeditor" *ngIf="!page && operation.lifecycle=='stopped'">
  <h2>404!</h2>
  <div class="pt-2">
    <p>Page not found.</p>
  </div>
</div>
<div class="container ckeditor" *ngIf="page">
    <h2>{{page.title}}</h2>
    <div> by {{page.user.firstname+' '+page.user.lastname | titlecase}} <a href="javascript:void(0);"> Posted on {{page.created_at | date:'yyyy-MM-dd'}} </a> </div>
    
    <div class="pt-2">
        <section>
            <div class="container" [innerHTML]="page.description">
            </div>
        </section>
    </div>
</div>
