/*slider*/
.scot_slid_full {
	width: 100%;
	background: url(../img/bg-slider.png) center top repeat;
	padding: 40px 0;
	margin: 0;
	position: relative;
}
.text_slide_out {width: 100%;text-align: center;}
.text_slide_out h3 {
	font-size: 21px;
	color: #223a5b;
	margin: 15px 0;
	font-family: 'industry-bolduploaded_file';
}
.text_slide_out.styling-class h3 span {color: #5bcb93;}
.owl-theme .owl-item .item {text-align: center;}
.testimonial_image_otr {display: inline-block;width:95px; height:95px;}
.testimonial_image_otr img {border-radius: 50%;border: 1px solid #3b4e00;width: 100%;}
.text_slide_out h4{color: #3f5105;font-size: 15px;}
#text_p {
	margin: 15px 0;
	padding: 0 120px;
}
.owl-theme .owl-controls .owl-page span {background: #949494 !important;}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	border: 0 !important;
	background-color: #3f5105 !important;
}
@media (min-width:768px) and (max-width:991px){
#text_p {padding: 0 30px !important;}
}

@media (min-width:320px) and (max-width:767px){
#text_p {padding: 0 !important;}
}

