<div class="container-fluid">
  <div class="user-details-tab-head">
    <div class="py-1 px-2">
      <div class="row">
        <div class="col-12">
          <h5 class="m-0 mt-1 p-0 font-weight-bold">
            <i class="fa fa-wrench" aria-hidden="true"></i> Create/Manage Groups
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="user-details-body p-2">
    <div class="user-list-btn">
      <div class="row">
        <div class="col-sm-5">
            <p class="mt-2"> Add/Edit user groups and assign resources to them </p>
        </div>
        <div class="col-sm-7">
            <div class="text-right">
                <a href="javascript:void(0)" (click)="group={};addGroupModal.show()" class="btn"> Add Groups </a>  
            </div>
        </div>
      </div>
    </div>
    <table datatable [dtOptions]="dtOptions['groups']" class="table table-striped table-bordered ">
      <thead>
        <tr>
          <th>Group Name</th>
          <th>Description </th>
          <th class="text-center no-sort" width="110">Options</th>
        </tr>
      </thead>
      <tbody *ngIf="groups?.length <= 0">
      </tbody>
      <tbody *ngIf="groups?.length > 0">
        <tr *ngFor="let group of groups">
          <td class="grn-txt-clr"><a [queryParams]="{tab: 'detail'}" routerLink="/group_detail/{{group.id}}"> {{group.group_name}} </a></td>
          <td class=" font-weight-bold"> {{group.description.length > 200 ? (group.description+'...') : group.description}} </td>
          <td class="text-center check-with-icon"> 
            <a href="javascript:void(0);" title="Add New User" (click)="showAddUserModal(group)"> <i class="fa fa-users" aria-hidden="true"></i> </a> 
            <a [queryParams]="{tab: 'detail'}" routerLink="/group_detail/{{group.id}}" title="Edit"> <i class="fa fa-pencil" aria-hidden="true"></i> </a> 
            <a href="javascript:void(0);" title="Delete" (click)="showDeleteGroupModal(group)"> <i class="fa fa-trash" aria-hidden="true"></i> </a> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Models starts here -->
  <div class="modal fade"  ngDraggable mdbModal #deleteGroupModal="mdbModal" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Delete Group </h5>
          <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close"  (click)="deleteGroupModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body msg-alert-block text-center">
          <p> Are you sure you want to Delete? </p>
          <a href="javascript:void(0);" class="btn btn-no" data-dismiss="modal" aria-label="Close" (click)="deleteGroupModal.hide()"> No </a> <a
            href="javascript:void(0);" class="btn" (click)="deleteSelected();deleteGroupModal.hide();"> Yes </a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" ngDraggable mdbModal #addUserModal="mdbModal" >
    <div class="modal-dialog" role="document">
      <div class="modal-content" ngResizable>
        <div class="modal-header">
          <h5 class="modal-title"> Add New User </h5>
          <button type="button" class="close-circle" (click)="addUserModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table datatable [dtOptions]="dtOptions['users']"  class="table table-bordered table-striped default_data_table" style="width:100%">
              <thead>
                  <tr>
                      <th> Name/Email ID </th>
                      <th class="text-center no-sort">Options</th>
                  </tr>
              </thead>
              <tbody *ngIf="users?.length <= 0">
              </tbody>
              <tbody *ngIf="users?.length > 0">
                  <tr *ngFor="let user of users">
                      <td class="grn-txt-clr"> {{user.firstname |titlecase}}/{{user.email}}</td>
                      <td class="text-center"> <input type="checkbox" [(ngModel)]="selectedUsers[user.user_id]"> </td>
                  </tr>
             </tbody>
          </table>
          <div class="alert alert-success" [ngClass]="{'alert-success': operation.status,'alert-danger': !operation.status}" *ngIf="operation.lifecycle=='stopped'"><p [innerHTML]="operation.message"></p></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="assignUsersToGroup()">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" mdbModal #addGroupModal="mdbModal" >
    <div class="modal-dialog" role="document">
      <div class="modal-content" ngDraggable >
        <div class="modal-header">
          <h5 class="modal-title">
            Create New Group
          </h5>
          <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="addGroupModal.hide();">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Group Name</label>
            <input type="text" class="form-control" [(ngModel)]="group.group_name" placeholder="Group name">
          </div>
          <div class="form-group">
            <label>Group Description</label>
            <textarea type="text" class="form-control"  [(ngModel)]="group.description" placeholder="A brief description about the group"></textarea>
          </div>
          <div class="alert alert-success" [ngClass]="{'alert-success': operation.status,'alert-danger': !operation.status}" *ngIf="operation.lifecycle=='stopped'"><p [innerHTML]="operation.message"></p></div>
        
          <div class="text-center ">
            <button class="btn btn-no" data-dismiss="modal"  [ngClass]="{'disabled': operation.lifecycle=='running'}"  aria-label="Close" (click)="addGroupModal.hide();">Cancel</button>
            <button type="button" class="btn drkgrn-bckgrd-clr" (click)="addGroup()">Save Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>