<div class="container-fluid">
  <div class="user-details-tab-head">
    <div class="py-1 px-2">
          <div class="row">
              <div class="col-6">
                  <h5 class="m-0 mt-1 p-0 font-weight-bold"> <i class="fa fa-users" aria-hidden="true"></i> {{group.group_name}} </h5>
              </div>
              <div class="col-6">
                  <div class="text-right">
                      <a routerLink="/groups" href="javascript:void(0)" title="Back to List" class="backward-text"> <i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to List </a>
                  </div>
              </div>
          </div>
      </div>
      <div class="user-details-body p-2">
        <div class="row">
            <div class="col-sm-6">
                <p class="details-type">  {{group.description}} </p>
              </div>
            <div class="col-sm-6 text-right">
                <p class="details-type">  <span> Created On:</span> {{group.created_at | date:'dd-MM-yyyy'}} </p>
              </div>
          </div>
      </div>
      <ul class="nav nav-tabs mt-2 ml-4 responsive-nav-tab">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': currentTab=='users'}" (click)="loadTable['assignedUsers']=true;currentTab='users';">Users ({{totalUsers}})</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': currentTab=='courses'}" (click)="loadTable['assignedCourses']=true;currentTab='courses';">Courses ({{totalCourses}})</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled text-muted">Quizzes (0)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled text-muted">Assigments (0)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': currentTab=='classes'}" (click)="loadTable['assignedClasses']=true;currentTab='classes';">Live Classes ({{totalClasses}})</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': currentTab=='details'}" (click)="currentTab='details';">Group Details</a>
        </li>
      </ul>
  </div>
  <div class="tab-content pb-3 ml-4">
    <div class="tab-pane " [ngClass]="{'active': currentTab=='users'}">
      <div class="user-list-btn">
          <div class="text-right">
              <a href="javascript:void(0);" class="btn" (click)="loadTable['users']=true;assignUserModal.show()"> Assign User </a> 
          </div>
      </div>
      <table *ngIf="loadTable['assignedUsers']" datatable [dtOptions]="dtOptions['assignedUsers']" class="table table-striped table-bordered ">
        <thead>
          <tr>
            <th> Name </th>
            <th> Email ID </th>
            <th class="text-center no-sort">Options</th>
          </tr>
        </thead>
        <tbody *ngIf="assignedUsers?.length <= 0">
        </tbody>
        <tbody *ngIf="assignedUsers?.length > 0">
          <tr *ngFor="let assignedUser of assignedUsers">
            <td class="grn-txt-clr">{{assignedUser.user_detail.firstname |titlecase}} {{assignedUser.user_detail.lastname |titlecase}}</td>
            <td> {{assignedUser.user_detail.user.email}} </td>
            <td class="text-center check-with-icon">
              <a href="javascript:void(0);" (click)="tempRec=assignedUser;deleteUserModal.show()"> <i class="fa fa-trash" aria-hidden="true"></i> </a> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane " [ngClass]="{'active': currentTab=='courses'}">
      <div class="user-list-btn">
          <div class="text-right">
              <a href="javascript:void(0);" class="btn" (click)="loadTable['courses']=true;assignCourseModal.show()"> <!-- Assign -->Enroll  New Course </a> 
          </div>
      </div>
      <table *ngIf="loadTable['assignedCourses']" datatable [dtOptions]="dtOptions['assignedCourses']" class="table table-striped table-bordered ">
          <thead>
            <tr>
              <th> Course ID </th>
              <th> Course Name </th>
              <th> Teachers </th>
              <th class="text-center no-sort">Options</th>
            </tr>
          </thead>

          <tbody *ngIf="assignedCourses?.length <= 0">
          </tbody>
          <tbody *ngIf="assignedCourses?.length > 0">
            <tr *ngFor="let assignedCourse of assignedCourses;">
              <td class="grn-txt-clr"> {{assignedCourse.course.course_uid}} </td>
              <td class="grn-txt-clr"> {{assignedCourse.course.course_title}} </td>
              <td> {{assignedCourse.course.teacherNames}} </td>
              <td class="text-center check-with-icon">
                <a href="javascript:void(0);" (click)="tempRec=assignedCourse;deleteCourseModal.show()"> <i class="fa fa-trash" aria-hidden="true"></i> </a> 
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane ">
        <div class="user-list-btn">
            <div class="text-right">
                <a href="javascript:void(0);" class="btn" data-toggle="modal" data-target="#exampleModal7"> Assign New Quiz </a> 
            </div>
        </div>
        <table id="quizzes" class="table table-striped table-bordered ">
          <thead>
            <tr>
              <th> Test Name </th>
              <th> Created by </th>
              <th> Date of Adding </th>
              <th class="text-center no-sort">Options</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="grn-txt-clr"> App Development with Java </td>
              <td class=" font-weight-bold">Ms Narmada</td>
              <td>01-01-2019</td>
              <td class="text-center check-with-icon">
                <a href="javascript:void(0);"  data-toggle="modal" data-target="#exampleModal8"> <i class="fa fa-trash" aria-hidden="true"></i> </a> 
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane " id="data-item-4" role="tabpanel" aria-labelledby="data-tab4">
        <div class="user-list-btn">
          <div class="text-right">
              <a href="javascript:void(0);" class="btn" data-toggle="modal" data-target="#exampleModal1"> Assign New Assignment </a> 
          </div>
        </div>
        <table id="create-manage-user" class="table table-striped table-bordered ">
          <thead>
            <tr>
              <th> Assignment Name </th>
              <th> Created by </th>
              <th> Date of Adding </th>
              <th class="text-center no-sort">Options</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="grn-txt-clr"> Rulers of Mughal Emperors in India </td>
              <td class=" font-weight-bold">Ms Narmada</td>
              <td>01-01-2019</td>
              <td class="text-center check-with-icon">
                <a href="javascript:void(0);"  data-toggle="modal" data-target="#exampleModal2"> <i class="fa fa-trash" aria-hidden="true"></i> </a> 
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane " [ngClass]="{'active': currentTab=='classes'}" >
        <div class="user-list-btn">
          <div class="text-right">
              <a href="javascript:void(0);" class="btn" (click)="loadTable['classes']=true;assignClassModal.show()"> Assign Live Class </a> 
          </div>
        </div>
        <table *ngIf="loadTable['assignedClasses']" datatable [dtOptions]="dtOptions['assignedClasses']" class="table table-bordered table-striped default_data_table" style="width:100%">
            <thead>
                <tr>
                  <th>Live Class Title</th>
                  <th>Date/Time</th>
                  <th>Hosted By</th>
                  <th>Status</th>
                  <th class="text-center no-sort">Options</th>
                </tr>
            </thead>
            <tbody *ngIf="assignedClasses?.length <= 0">
            </tbody>
            <tbody *ngIf="assignedClasses?.length > 0">
                <tr *ngFor="let assignedClass of assignedClasses">
                  <td> <span class="grn-txt-clr"> {{assignedClass.class.title}}</span> <i>({{assignedClass.class.duration}} minutes)</i> </td>
                  <td> {{assignedClass.class.start_time| date:'dd-MM-yyyy'}} / <span class="grn-txt-clr">{{assignedClass.class.start_time| date:'HH:mm'}}-{{assignedClass.class.start_time | amAdd : assignedClass.class.duration : 'minutes' | amDateFormat : 'hh:mm'}}</span></td>
                  <td> {{assignedClass.class.teacher.firstname|titlecase}} {{assignedClass.class.teacher.lastname|titlecase}} </td>
                  <td>
                      Scheduled
                  </td>
                  <td class="text-center check-with-icon">
                    <a href="javascript:void(0);" (click)="tempRec=assignedClass;deleteClassModal.show()"> <i class="fa fa-trash" aria-hidden="true"></i> </a> 
                  </td>
                </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane " [ngClass]="{'active': currentTab=='details'}">
        <div class="tab-inner-form details-content-edit field-block">
            <div class="form-group">
              <label> Group Topic Name </label>
              <input type="text" class="form-control" placeholder="Group Name" [(ngModel)]="group.group_name">
            </div>
            <div class="form-group">
              <label>Group Topic Description</label>
              <textarea type="text" class="form-control" placeholder="Description" [(ngModel)]="group.description"></textarea>
            </div>
            <div class="alert alert-success" [ngClass]="{'alert-success': operation.status,'alert-danger': !operation.status}" *ngIf="operation.lifecycle=='stopped'"><p>{{operation.message}}</p></div>
            <div class="row">
              <div class="col-sm-6">
                <p class="details-type">  Group created On: <span class="font-weight-bold"> {{group.created_at| date:'dd-MM-yyyy'}} </span> </p>
              </div>
              <div class="col-sm-6 text-right">
                  <button class="btn btn-no" routerLink="/groups">Cancel</button>
                  <button type="button" class="btn drkgrn-bckgrd-clr" (click)="saveDetail()">Save Details</button>
              </div>
            </div>
        </div>
      </div>
      <div class="modal fade" ngDraggable mdbModal #assignUserModal="mdbModal" >
        <div class="modal-dialog" role="document">
          <div class="modal-content" ngResizable>
            <div class="modal-header">
              <h5 class="modal-title"> Add New User </h5>
              <button type="button" class="close-circle" (click)="assignUserModal.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table *ngIf="loadTable['users']" datatable [dtOptions]="dtOptions['users']"  class="table table-bordered table-striped default_data_table" style="width:100%">
                <thead>
                    <tr>
                        <th> Name/Email ID </th>
                        <th class="text-center no-sort">Options</th>
                    </tr>
                </thead>
                <tbody *ngIf="users?.length <= 0">
                </tbody>
                <tbody *ngIf="users?.length > 0">
                    <tr *ngFor="let user of users">
                        <td class="grn-txt-clr"> {{user.firstname |titlecase}}/{{user.email}}</td>
                        <td class="text-center"> <input type="checkbox" [(ngModel)]="selectedUsers[user.user_id]"> </td>
                    </tr>
               </tbody>
              </table>
              <div class="alert alert-success" [ngClass]="{'alert-success': operation.status,'alert-danger': !operation.status}" *ngIf="operation.lifecycle=='stopped'"><p>{{operation.message}}</p></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="assignUsersToGroup()">Add</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" ngDraggable mdbModal #assignCourseModal="mdbModal" >
        <div class="modal-dialog" role="document">
          <div class="modal-content" ngResizable>
            <div class="modal-header">
              <h5 class="modal-title"> Add New Course </h5>
              <button type="button" class="close-circle" (click)="assignCourseModal.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table *ngIf="loadTable['courses']" datatable [dtOptions]="dtOptions['courses']"  class="table table-bordered table-striped default_data_table" style="width:100%">
                <thead>
                    <tr>
                        <th> Course Title </th>
                        <th class="text-center no-sort">Options</th>
                    </tr>
                </thead>
                <tbody *ngIf="courses?.length <= 0">
                </tbody>
                <tbody *ngIf="courses?.length > 0">
                    <tr *ngFor="let course of courses">
                        <td class="grn-txt-clr"> {{course.course_title |titlecase}}</td>
                        <td class="text-center"> <input type="checkbox" [(ngModel)]="selectedCourses[course.id]"> </td>
                    </tr>
               </tbody>
              </table>
              <div class="alert alert-success" [ngClass]="{'alert-success': operation.status,'alert-danger': !operation.status}" *ngIf="operation.lifecycle=='stopped'"><p>{{operation.message}}</p></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="assignCoursesToGroup()">Add</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" ngDraggable mdbModal #assignClassModal="mdbModal" >
        <div class="modal-dialog" role="document">
          <div class="modal-content" ngResizable>
            <div class="modal-header">
              <h5 class="modal-title"> Add New Class </h5>
              <button type="button" class="close-circle" (click)="assignClassModal.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table *ngIf="loadTable['classes']" datatable [dtOptions]="dtOptions['classes']"  class="table table-bordered table-striped default_data_table" style="width:100%">
                <thead>
                    <tr>
                        <th> Class Title </th>
                        <th class="text-center no-sort">Options</th>
                    </tr>
                </thead>
                <tbody *ngIf="classes?.length <= 0">
                </tbody>
                <tbody *ngIf="classes?.length > 0">
                    <tr *ngFor="let class of classes">
                        <td class="grn-txt-clr"> {{class.title |titlecase}}</td>
                        <td class="text-center"> <input type="checkbox" [(ngModel)]="selectedClasses[class.id]"> </td>
                    </tr>
               </tbody>
              </table>
              <div class="alert alert-success" [ngClass]="{'alert-success': operation.status,'alert-danger': !operation.status}" *ngIf="operation.lifecycle=='stopped'"><p>{{operation.message}}</p></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="assignClassesToGroup()">Add</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" mdbModal ngDraggable #deleteUserModal="mdbModal" >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"> Delete User </h5>
              <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close"  (click)="deleteUserModal.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body msg-alert-block text-center">
              <p> Are you sure you want to Delete? </p>
              <a href="javascript:void(0);" class="btn btn-no" data-dismiss="modal" aria-label="Close" (click)="deleteUserModal.hide()"> No </a> <a
                href="javascript:void(0);" class="btn" (click)="deleteUser(tempRec);deleteUserModal.hide();"> Yes </a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" mdbModal ngDraggable #deleteCourseModal="mdbModal" >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"> Delete Course </h5>
              <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close"  (click)="deleteCourseModal.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body msg-alert-block text-center">
              <p> Are you sure you want to Delete? </p>
              <a href="javascript:void(0);" class="btn btn-no" data-dismiss="modal" aria-label="Close" (click)="deleteCourseModal.hide()"> No </a> <a
                href="javascript:void(0);" class="btn" (click)="deleteCourse(tempRec);deleteCourseModal.hide();"> Yes </a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" mdbModal ngDraggable #deleteClassModal="mdbModal" >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"> Delete Class </h5>
              <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close"  (click)="deleteClassModal.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body msg-alert-block text-center">
              <p> Are you sure you want to Delete? </p>
              <a href="javascript:void(0);" class="btn btn-no" data-dismiss="modal" aria-label="Close" (click)="deleteClassModal.hide()"> No </a> <a
                href="javascript:void(0);" class="btn" (click)="deleteClass(tempRec);deleteClassModal.hide();"> Yes </a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
