
:root{ --drkgrn_color:#125252; --lgtgrn_color:#B8DCDC; --grn_color:#009900; --txtgrn_color:#009999; --rse_color:#FF0032;--light_green:#006666}
/*** Text Colors **/
.nrml-txt-clr{ color:#000 !important}
.hover-txt-wht:hover{ color:#fff !important}
.default-txt-clr{ color:#a9a7a7 !important}
.drkgrn-txt-clr{ color:var(--drkgrn_color)}
.grn-txt-clr{ color:var(--txtgrn_color)}
.grnclr-txt-clr{ color:var(--grn_color)}
.red-txt-clr{ color:var(--red)}
.green-txt-clr{ color:var(--grn_color)}
.purple-txt-clr{ color:var(--purple)}
/** Cursor **/
.c-pointer {cursor: pointer !important;}
.c-not-allowed {cursor: not-allowed !important;}
/*** Border Color ***/
.border-clr-lgtgrn{ border-color:var(--lgtgrn_color) !important;}
/*** Background Colors **/
.rse-bckgrd{ background:var(--rse_color) !important;}
.drkgrn-bckgrd-clr{ background:var(--drkgrn_color) !important}
.bckgrd-nn{ background:none}
.bkgrd-white{ background:#fff !important}
/*** Reset Classed ***/
a,a:hover{ text-decoration:none; color:inherit;} 
a, a.btn{display:inline-block; text-decoration:none !important}
a:hover{ color:var(--drkgrn_color)}
[disabled],.disabled{pointer-events: all !important;}
ul{ padding:0px; margin:0; list-style-type:none}
body { position:relative; padding: 0; margin: 0; font-family: 'Roboto', sans-serif; background:#F9F9F9; color:#6A6A71; font-weight:normal; color:#212529; z-index:0; font-size:14px;}
.w-100{ width:100%;}
 p{margin-bottom: 1rem !important;}
/*** SOF Header ***/
header { padding: 12px 0; background:#fff}
.header-text{ float: right; top: 12px; position: relative; font-weight: 300; font-size: 20px; margin: 0 15px;}
header .user-icon{ position:relative; border-radius:50%; position:relative; width:37px; height:37px;}
header .dropdown-arrow{ position:absolute; content:''; right:-5px; bottom:-5px}
header .dropdown>a{ display:inline-block}
header .dropdown-menu{ border-radius:0px; padding:0; border:1px solid rgba(0,0,0,.15); box-shadow:0px 0px 4px rgba(0,0,0,0.1); min-width:240px; max-width: 280px;}
header .dropdown:hover .dropdown-menu{ display: block; }

header .dropdown-menu i{ width:30px; font-size:18px}
header .dropdown-menu .first-word{ background:#494544; margin:10px 0; color: #fff; /*width: 16%;*/ width:26px; height: 26px; line-height: 25px; text-align: center; border-radius: 50%;}
header .dropdown-menu .name-email{ width:88%; box-sizing:border-box; padding:10px 8px 0px;}
header .dropdown-menu .email_dtls{ font-size:12px}
header .dropdown-item{ padding:5px 10px; border-bottom:1px solid rgba(0,0,0,.15)}
/*** EOF Header ***/
/*** SOF Main Block ***/
#main-block{ position:relative; padding-left:20px; margin-left: 280px; transition: padding-left .7s; transition: margin-left .7s;border-top: 2px solid rgba(0,0,0,.15);}
.toggle-icon>a{ position:absolute; left: 0px; transition: left .7s; top: -2px; font-size:26px; padding:5px 6px; border-radius:0 10px 10px 0; color:#fff; z-index:99; background:var(--drkgrn_color);}
#main-block.togglemaincontent {margin-left: 0px;}
#main-block.togglemaincontent .toggle-icon>a{ left:0px;}
/*** EOF Main Block ***/


/*** SOF Sidebar Block ***/
/*** SOF Sidebar Block ***/
#change-icon.active.fa-angle-double-left:before{content: "\f101" !important;}
#sidebar,#course-collapse-sidebar { min-height:527px; width: 280px; /*height: calc(100vh - 50px);*/ height: 92%; position: absolute; overflow-y: auto; overflow-x: hidden; z-index: 9; top:99px; transition: width .7s; white-space: nowrap; background: #fff; transition: left .7s; border:1px solid rgba(0,0,0,.15); left:0; border-bottom: none;}
#sidebar .sidebar-inner-block , #course-collapse-sidebar .sidebar-inner-block{ position:relative;}
#sidebar.togglesidebar , #course-collapse-sidebar.togglesidebar {left: -300px;}
#sidebar [data-toggle="collapse"] .circle-icon:before ,.card-header [data-toggle="collapse"] .circle-icon:before { content: "\f068";}

#sidebar [data-toggle="collapse"].collapsed .circle-icon:before ,.card-header [data-toggle="collapse"].collapsed .circle-icon:before  , #course-collapse-sidebar [data-toggle="collapse"].collapsed .circle-icon:before { content: "\f067";}

#sidebar .card-header, #course-collapse-sidebar .card-header{ background:var(--lgtgrn_color); padding:0;}
#sidebar .card-header h5 ,  #course-collapse-sidebar .card-header h5{ font-size:19px}
#sidebar .card-body,#course-collapse-sidebar .card-body{ padding:0px; background:var(--drkgrn_color)}
#sidebar .sub-link-list,#course-collapse-sidebar .sub-link-list{ padding-left:40px; list-style-type:none}
#sidebar .sub-link-list>li,#course-collapse-sidebar .sub-link-list>li{ background:#fff;}
#sidebar .sub-link-list>li>a,#course-collapse-sidebar .sub-link-list>li>a{ display:block; border-bottom:1px solid rgba(0,0,0,.15); padding:5px 10px; font-size:15px; font-weight:500; color:#333333}
#sidebar .sub-link-list>li>a:hover, #sidebar .sub-link-list>li.active>a , #course-collapse-sidebar .sub-link-list>li>a:hover, #course-collapse-sidebar .sub-link-list>li.active>a   { background:#999999; color:#fff !important}
.btn-link.active{ background:#0B9298; color:#fff !important}
#sidebar .btn-link , #course-collapse-sidebar .btn-link {width: 100%;text-align: left; padding:10px 8px; color:inherit}
#sidebar .btn-link:hover, .btn-link:focus , #course-collapse-sidebar .btn-link:hover,{ text-decoration:none; color:inherit}
#sidebar .nrml-icon , #course-collapse-sidebar .nrml-icon{ width:25px;}
#sidebar .btn-link .circle-icon,.card-header .circle-icon , #course-collapse-sidebar .btn-link .circle-icon { text-align:center; width:22px; height:22px; line-height:20px; font-weight:100; display:inline-block; border:2px solid rgba(0,0,0,0.7); border-radius:50%; font-size:12px;}
/*** EOF Sidebar Block ***/
.user-details-tab-head{ background:var(--lgtgrn_color);}
.user-details-tab-head .justify-content-start{ background:var(--lgtgrn_color);}
.user-details-tab-head .user-details-body{ background:#EBF7F7; border:1px solid rgba(0,0,0,.15); min-height:124px;}
.user-details-tab-head .user-details-body .details-type{ font-size:14px;}
.user-details-tab-head h5{ font-size:18px}
.user-details-tab-head .details-type{ color:var(--drkgrn_color); font-weight:500; padding:2px 0}
.user-details-tab-head .details-type span{ color: #908e8e; font-weight: normal; display: inline-block; width: 110px; text-align:right}
.user-details-tab-head .user-img-block{ border:1px solid var(--drkgrn_color); width:106px; height:106px; overflow:hidden}
.user-details-tab-head .details-type.nrml-txt-clr{ font-size:12px}
.user-details-tab-head .nav-tabs .nav-item.show .nav-link, .user-details-tab-head .nav-tabs .nav-link.active{ border-radius:0; border-top:4px solid #B4C5C5}
.user-details-tab-head .nav-tabs .nav-link{ position:relative; font-weight:500; font-size:15px; color:#262626; padding:3px 15px; border-top:4px solid transparent ;}
.user-details-tab-head .nav-tabs .nav-link:after{ position:absolute; content:''; background:var(--drkgrn_color); top:2px; bottom:8px; left:100%; width:1px; opacity:0.4}
.user-details-tab-head .nav-tabs .nav-link:hover{ background:rgba(0,0,0,0.1)}
.user-details-tab-head .nav-tabs .nav-link:hover:after, .user-details-tab-head .nav-tabs .nav-link.active:after{ display:none}
/*** SOF Table Custom Search Icon Remove ***/
.dataTables_filter{ text-align:left; position:relative; display:inline-block; float:left !important;}
.dataTables_filter [type=search]{width:220px !important; border:1px solid rgba(0,0,0,.40); border-radius:2px; padding:2px 10px ; margin-left:0 !important;}
.dataTables_filter:before { position:absolute; content: "\f002"; font-family: FontAwesome; right:10px; top:6px; font-size:14px; z-index:3}
.dataTables_filter.remove-icon:before{ display:none}
#Quizzes_filter{ float:right !important}
/*** EOF Data Table Custom Search Icon Remove ***/
/*** SOF Progress Bar ***/
.progress-bar{ position:relative; background:#666666; color:#fff;}
.progress-cover{ background:var(--grn_color);height:20px;}
.progress-percent{ position:absolute; content:''; top:0; right:5px;}
.progress-percent.double-info{ left:5px;}
/*** EOF Progress Bar ***/
/*** SOF Ordering Icons Changed ***/
/*
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before{content: "\f0de"; font-family: FontAwesome; right:0.5em; top:10px}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{content: "\f0dd"; font-family: FontAwesome; right:0.5em; top:10px}
*/
/*** EOF Ordering Icons Changed ***/
thead{ background:#999999; color:#fff; font-weight:normal}
.table, .table td { border:none}
.table thead th, .table td{ font-weight:normal; padding:8px 15px;}
.table-block-relative .table-share-icon{ border:none}
.table-btn-inset{ position:relative;}
.btn{background:var(--txtgrn_color);  font-weight:400; color:#fff !important; border:none; margin:5px 0px 5px 10px !important}
.btn.mt-0{margin-top: 0px !important;}
.table-btn-right{ position:absolute; content:''; right:0; top:0; z-index:999;}
.btn:hover{ background:var(--drkgrn_color) !important; color:#fff !important}
/* Disable browser close icon for IE /
input[type="search"]::-ms-clear { display: none; width : 0; height: 0; }
input[type="search"]::-ms-reveal { display: none; width : 0; height: 0; }
/ Disable browser close icon for Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
/*** SOF ckeditor ***/
.ck-editor__editable { min-height: 200px !important;}
/*** EOF ckeditor ***/
/*** SOF Model Style ***/
.modal-footer, .modal-header, .modal-body{position:relative; padding:10px 15px; border:none}
.modal-header{padding:5px 15px}
.modal-body.table-in{ position:relative; height:350px; overflow-y:scroll; overflow-x:hidden;}
.modal-dialog .modal-content .modal-body .dataTables_wrapper { height: 400px;}
.modal-body.table-in.reset-style{ height:auto; overflow:inherit}
.modal-footer:after{ position:absolute; content:''; left:10px; right:10px; top:0; height:1px; background:var(--drkgrn_color);}
.modal-content{ border-radius:10px;}
.close-circle{ position:absolute; content:''; text-align:center; top:-10px; right:-10px; background:#fff; border-radius:50%; width:30px; height:30px; line-height:22px; display:inline-block; opacity:1; border:none; font-size:24px; padding:0; border:1px solid #ced4da}
.close-circle:focus{ outline:none}
.close-circle span{ line-height:0; color:var(--drkgrn_color); display: inline-block;}
.modal-header{ background:var(--drkgrn_color); color:#fff;}
.modal-header h5{ line-height:normal; font-weight:400; font-size:16px; text-transform:uppercase}
.msg-alert-block{ padding:15px}
.btn-no{ background:#666666;}
.modal-body .btn{ padding:8px 30px; margin:0 20px;}
/*** EOF Model Style ***/
.icon-disable i{ opacity:0.3; cursor:not-allowed}
.details-content-view .details-type{ color: #373838; font-weight:500; padding:2px 0}
.details-content-view .details-type span{ margin-right:15px; color:var(--txtgrn_color); font-weight: normal; display: inline-block; width: 30%; text-align:right}
.details-content-view a, .details-content-edit a{ text-decoration:underline}
.details-content-edit .details-type span{ color:var(--drkgrn_color)}
.details-content-view .line-break, .details-content-edit .line-break{ background:rgba(0,0,0,0.2); height:1px; margin:10px 0}
.details-content-edit label{ color:var(--txtgrn_color); font-weight:400; font-size:16px;}
.details-content-edit .form-control{ border-radius:0px; border-color:rgba(0,153,153,0.3); color:#000; background:#fff;}
.details-content-edit textarea.form-control{ height:100px;}
.details-content-edit .form-control:focus{ outline:none; box-shadow:none;}
.details-content-edit .input-group-text{ border-radius:0}
.other-form-control ::placeholder { color:#666666 !important}
.other-form-control .form-control{ border:1px solid #ced4da}
.other-form-control .nrml-txt-clr{ color:#666666 !important}
.other-form-control .btn{ padding:10px 25px; text-transform:uppercase; margin:0 15px}
.other-form-control .btn:hover{ background:var(--txtgrn_color) !important}
.input-icon-block .form-control{ padding-left:40px}
.input-icon-block{ position:relative;}
.input-icon-block i{ position: absolute; content: ''; top: 7px !important;left: 10px; }
.user-details-tab-head i.circle-head-icon { background: #7C7C7C; text-align: center; color: #fff; border-radius: 50%; width: 25px; font-size: 14px; box-sizing: border-box; height: 25px; line-height: 25px; }
.user-list-btn{ padding:5px 0}
.user-list-btn .btn{ font-size:14px; margin:0 5px}
.dataTables_paginate{ border:1px solid #ced4da; padding:0 !important; margin:0px}
.dataTables_paginate .paginate_button { background:#B6DDDC; margin:0px !important; border-radius:0px !important; color:#fff !important}
.dataTables_paginate .paginate_button:hover{ background:#00999B !important; color:#ffffff !important; border-color:transparent !important}
.dataTables_wrapper .dataTables_paginate .paginate_button{ padding:2px 10px; border-right:1px solid #009999;}
.paginate_button.next, .paginate_button.previous{ background:#fff;border-right:none !important;}
.paginate_button.disabled{ cursor:no-drop !important; }
.paginate_button.disabled:hover{background:#f9f9f9 !important}
.dataTables_paginate{ margin:10px 0}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{ background:#00999B !important; color:#ffffff !important;}
.dt-buttons .dt-button { padding: 6px 15px; margin: 5px 0;}
.dt-buttons .dt-button:hover{ background:var(--txtgrn_color); color:#fff}
.dataTables_filter{ margin-top:5px;}
.dataTables_filter [type=search]{ padding:5px 10px !important; margin-bottom:10px}
.dataTables_filter label{ margin:0 !important}
.dataTables_length{ margin:10px 0}
.dataTable thead th{ font-size:16px;}
.custom-switch{ display:inline-block; }
.check-with-icon i{ width:30px; display:inline-block; }
.table.dataTable i{ font-size:16px}
.table.dataTable .custom-control-input:checked~.custom-control-label::before{ background:none}
.table.dataTable input[type=checkbox]:focus, .table.dataTable input[type=radio]:focus, .table.dataTable .custom-control-label::before{ outline:none; box-shadow:none}
.table.dataTable .custom-control-label::before{ border:1px solid #C9C9C9; background:#C9C9C9; height:18px; top:3px;}
.table.dataTable .custom-switch .custom-control-label::after{ background:#fff}
.table.dataTable .custom-switch .custom-control-input:checked~.custom-control-label::after{ background:#fff;}
.table.dataTable .custom-switch .custom-control-input:checked~.custom-control-label::before{ background:green; border-color: green;}
.table.dataTable .text-disable{color:#9F9F9F; cursor:not-allowed}
.dataTables_wrapper .dataTables_length, .dt-buttons{ float:right}
.dataTables_wrapper .dataTables_length{ width:20%;}
div.dataTables_wrapper div.dataTables_length label{ float:right}
.dt-buttons{ display:flex}
.dt-buttons .dt-button{ border:none; background:none; font-size:20px; color:#6A6A71}
.dt-buttons .dt-button:focus{ outline:none}
.dt-buttons .dt-button:hover{ background:none; color:var(--txtgrn_color);}
.dt-buttons .buttons-excel, .dt-buttons .buttons-csv, .dt-buttons .buttons-pdf{ background:none; box-shadow:none; border:1px solid #ced4da; font-size:14px}
.dt-buttons .buttons-excel{ border-left:none; border-right:none}
.dt-buttons .buttons-excel:hover, .dt-buttons .buttons-csv:hover, .dt-buttons .buttons-pdf:hover{ background:var(--txtgrn_color); color:#fff}
.field-block .btn{ padding:10px 30px; text-transform:uppercase; font-size:14px}
.download-block .btn{ background:#519596; color:#fff; display:inline-block; padding:4px 15px;}
.download-block .fa-download{ color:#666666; font-size:24px}
input[type="file"] { display: none;}
.custom-file-upload { position:relative; border: 1px solid #ccc; display: inline-block; cursor: pointer;}
.custom-file-upload i{ background:var(--drkgrn_color); width: 25px; height: 25px; line-height: 25px; text-align: center; color: #fff; font-size: 12px; display: inline-block;}
.modal.show .modal-dialog.w-30{ width:390px;}
.dataTables_wrapper{ overflow-x: auto}
.tab-inner-form { width:80%; margin: 50px auto;}
.storage-details-show h6{ display:inline-block; margin:0 15px 10px; font-size:14px !important;}
.storage-details-show h6 span{ color:var(--drkgrn_color); font-size:18px; margin:0 10px}
.storage-details-show td.drkgrn-txt-clr span{ color:#a9a7a7}
.storage-details-show td.highlight-txt{ font-size:18px; line-height: normal;}
.storage-details-show .progress{ background:#4C4C4C; height:6px; margin:6px 0; }
.storage-details-show .progress-bar{ background:#77CAFE; box-shadow: inset 0 0 3px #000000;}
.storage-details-show .progress-bar-danger{ background:#fd033d; box-shadow: inset 0 0 3px #000000;}
.storage-details-show tfoot{ border:1px solid var(--txtgrn_color); border-right:none; border-left:none}
.storage-details-show tfoot td{}
.storage-details-show tfoot .progress{ background:#000 !important}
.storage-details-show tfoot .progress-bar{ background:#2190FC}
.info-view-block .form-control{ border:1px solid #ced4da}
label.error, span.error{ color:var(--red) !important; font-size:12px !important; margin:0}
.error.valid{ display:none !important}
.preview-page-link{ background:var(--lgtgrn_color); padding:5px 0; font-size:16px}
.preview-page-link>li{ position:relative; padding:0 10px;}
.preview-page-link>li:after{ position:absolute; content:''; top:4px; bottom:4px; right:-2px; width:1px; background:rgba(0,0,0,0.2);}
.preview-page-link .list-inline-item:not(:last-child){ margin-right:0;}
.preview-page-link .list-inline-item:last-child:after{ display:none}
.preview-page-link .list-inline-item:hover>a{ color:green}
.ui-sortable .ui-state-default.ui-sortable-helper:hover{ cursor:move;}
.dashed-separator>li:not(:last-child):after{ position:absolute; content:''; top:4px; bottom:4px; right:-2px; width:1px; background: rgba(243, 241, 241, 0.72);}
.dashed-separator>li{position: relative;}
.dashed-separator>li>a{padding-right: 0.5rem;}
.radio{position:relative;}
.radio label{display:inline-block; position:relative; padding-left:25px; margin-bottom:0; cursor:pointer;}
.radio label::before{content:""; display:inline-block; position:absolute; width:17px; height:17px; left:0; border:1px solid #999; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;background-color:#fff;-webkit-transition:border 0.15s ease-in-out;-o-transition:border 0.15s ease-in-out;transition:border 0.15s ease-in-out;}
.radio label::after{display:inline-block; position:absolute; content:" "; width:11px; height:11px; left:3px; top:3px; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; background-color:#555555;-webkit-transform:scale(0, 0);-ms-transform:scale(0, 0);-o-transform:scale(0, 0);transform:scale(0, 0);-webkit-transition:-webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);-moz-transition:-moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);-o-transition:-o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);transition:transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);}
.radio input[type="radio"]{position:absolute; top:0; left:0; margin:4px 3px; opacity:0;}
.radio input[type="radio"]:checked + label::after{-webkit-transform:scale(1, 1);-ms-transform:scale(1, 1);-o-transform:scale(1, 1);transform:scale(1, 1);}
.radio input[type="radio"]:disabled + label{opacity:0.65;}
.radio input[type="radio"]:disabled + label::before{cursor:not-allowed;}
.radio.radio-inline{margin-top:0;}
.radio td{position:relative;}
.radio td label{margin-right:10px;}
span.radio{display:inline-block; position:relative;}
.radio-vertical td{padding-bottom:15px;}
.radio.radio_only label{width:17px; height:17px; padding:0;}

.radio-primary input[type="radio"] + label::after{background-color:#428bca;}
.radio-primary input[type="radio"]:checked + label::before{border-color:#428bca;}
.radio-primary input[type="radio"]:checked + label::after{background-color:#428bca;}

.radio-danger input[type="radio"] + label::after{background-color:#d9534f;}
.radio-danger input[type="radio"]:checked + label::before{border-color:#d9534f;}
.radio-danger input[type="radio"]:checked + label::after{background-color:#d9534f;}

.radio-info input[type="radio"] + label::after{background-color:#5bc0de;}
.radio-info input[type="radio"]:checked + label::before{border-color:#5bc0de;}
.radio-info input[type="radio"]:checked + label::after{background-color:#5bc0de;}

.radio-warning input[type="radio"] + label::after{background-color:#f0ad4e;}
.radio-warning input[type="radio"]:checked + label::before{border-color:#f0ad4e;}
.radio-warning input[type="radio"]:checked + label::after{background-color:#f0ad4e;}

.radio-success input[type="radio"] + label::after{background-color:#5cb85c;}
.radio-success input[type="radio"]:checked + label::before{border-color:#5cb85c;}
.radio-success input[type="radio"]:checked + label::after{background-color:#5cb85c;}

/*** SOF Range Silder ***/
.range-slider{ width:80%; margin:0 auto}
.range-slider__range { -webkit-appearance: none; width: calc(100% - (73px)); height: 10px; border-radius: 5px; background: #d7dcdf; outline: none; padding: 0; margin: 0 auto; display:block; }
.range-slider__range::-webkit-slider-thumb { -webkit-appearance: none; appearance: none; width: 20px; height: 20px; border-radius: 50%; background: #2c3e50; cursor: pointer; transition: background .15s ease-in-out;}
.range-slider__range::-webkit-slider-thumb:hover { background: #1abc9c;}
.range-slider__range:active::-webkit-slider-thumb { background: #1abc9c;}
.range-slider__range::-moz-range-thumb { width: 20px; height: 20px; border: 0; border-radius: 50%; background: #2c3e50; cursor: pointer; transition: background .15s ease-in-out;}
.range-slider__range::-moz-range-thumb:hover { background: #1abc9c;}
.range-slider__range:active::-moz-range-thumb { background: #1abc9c;}
.range-slider__range:focus::-webkit-slider-thumb { box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;}
.range-slider__value { display: inline-block; position: relative; color: var(--red); font-weight:bold; line-height: 20px; text-align: center; border-radius: 0px; background: transparent; border:2px solid var(--txtgrn_color); padding: 4px 10px; width: 55px; box-sizing:border-box;}
.range-slider__value::placeholder { color: var(--red) !important;}
.range-slider__value:focus{ outline:none; box-shadow:none}
.range-slider__value:after { position: absolute; top: 8px; left: -7px; width: 0; height: 0; border-top: 7px solid transparent; border-right: 7px solid #2c3e50; border-bottom: 7px solid transparent; content: '';}
::-moz-range-track { background: #d7dcdf; border: 0;}
input::-moz-focus-inner, input::-moz-focus-outer { border: 0;}
/*** EOF Range Silder ***/
/*** SOF Datatable Custom Styles ***/
.dataTables_wrapper .dataTables_paginate {float: right; text-align: right; padding-top: 0.25em;}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active { cursor: default; color: #666 !important; border: 1px solid transparent; background: transparent; box-shadow: none;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover { color: #333 !important; border: 1px solid #979797; background-color: white; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc)); background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%); background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%); background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%); background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%); background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);}
.draggable-cursor{ cursor:move}
/*** EOF Datatable Custom Styles ***/
/*** SOF info-icon ***/
.info-icon-block{ position:relative;}
.info-icon{ position:absolute; content:''; top:-20px; right:0; height:15px; line-height:13px; width:18px; text-align:center; font-size:8px; color:#787878; border:1px solid #787878; border-radius:50%; box-shadow:inset 0px 0px 1px 2px rgba(0,0,0,0.1)}
.info-icon:hover{ cursor:pointer}
.info-icon:after{ position:absolute; content:''; top:100%; left:32%; width: 0; height: 0; border-left: 3px solid transparent; border-right: 3px solid transparent; border-top: 4px solid #787878;}
.info-icon.nrml-info-icon{ position:relative; display:inline-block}
/*** EOF info-icon ***/
/*** SOF Reset radio ***/
.reset-check-input{ position:relative; margin:0}
.custom-radio .custom-control-label::before { border-radius: 50%; box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.2);}
.custom-radio .custom-control-input:checked~.custom-control-label::after { background: #514F50; border-radius: 50%; box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.2); top: 7px; left: -21px; width: 10px; height: 10px}
.custom-control-input:checked~.custom-control-label::before{ border-color: #adb5bd ; background-color: transparent}
/*** EOF Reset radio ***/
/*** SOF Dashboard ***/
.referesh-btn{ font-size:18px; color:#515350}
.visitor-count{ font-size:60px; font-weight:normal; color:var(--txtgrn_color)}
.pie-filled{ font-weight:normal; color:#999999;}
.pie-filled span{ display:block; font-size:60px;}
.top-rank-block{ border:1px solid rgba(0,0,0,0.3)}
.top-rank-block h6{ white-space:nowrap; overflow:hidden}
.top-rank-block .review-txt{ font-size:12px; color:var(--txtgrn_color)}
.rateing-star .fa{ color:var(--yellow); margin:0 1px; font-size:16px}
.top-rank-block i.author{ font-weight:500}
.top-rank-block .img-block img{ width:100%; height:180px;}
.chart-groups{ position:relative; overflow:hidden;}
.chart-groups .chart-block{ position:relative; padding:15px; margin:15px 2px; box-sizing:border-box; background:#ffffff; box-shadow: 0px 0px 3px rgba(0,0,0,0.8); border-radius:5px 5px 1px 1px; overflow:hidden}
.chart-groups .chart-name{ position:absolute; content:''; top:0; left:0; right:0; background: var(--drkgrn_color); color: #fff; padding:5px 15px}
.chart-groups .chart-name.drag-block:hover{ cursor:move}
.chart-groups .start-rateing-review, .chart-groups .top-ranked{ margin-top:15px; padding-top:15px; color:#656565; }
.chart-groups .start-rateing-review ul{ list-style-type:none; max-height:234px; overflow-y:auto; overflow-x:hidden}
.default-dashboard-block{max-height:249px; overflow-y:auto; overflow-x:hidden}
.chart-groups .start-rateing-review ul>li{ border-bottom:2px dashed #dadada; padding:5px 0;}
.chart-groups .start-rateing-review ul>li:last-child{ border:none}
.chart-groups .rateing-star{ font-size:18px}
.icon-for-details{ padding:0 15px; font-weight:500}
.icon-for-details{ display:flex}
.modal-footer.icon-for-details{justify-content: inherit; padding:15px;}
.course-test-status .fa{ font-size:18px}
.course-test-status .fa-bar-chart{ font-size:20px}
.chart-groups .start-rateing-review ul.course-test-status>li{ padding:10px 0}
/*** EOF Dashboard ***/
/*** SOF Date and Today Events ***/
.calendar { width: 800px; height: 800px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; font-family: "Satellite", "Roboto", sans-serif; border: 1px solid rgba(21, 21, 21, 0.12); -webkit-transform: scale(1); transform: scale(1); box-shadow: 0px 0px 4px rgba(21, 21, 21, 0.21); -ms-user-select: none; user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; } .calendar.small { width: 400px; height: 500px; } .calendar.medium { width: 600px; height: 600px; } .calendar.large { width: 800px; height: 800px; } .year { width: calc(100% - 10px); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 5px; font-size: 14px; } .year > span { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-transform: uppercase; } .year > div { cursor: pointer; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; } .month { width: calc(100% - 10px); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 0 5px; font-size: 40px; box-shadow: 0px 2px 6px rgba(21, 21, 21, 0.21); } .month > span { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-transform: uppercase; } .month > div { cursor: pointer; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; } .labels { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } .labels > span { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; font-size: 12px; text-transform: uppercase; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 10px; } .days { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; box-shadow: 0px 2px 6px -2px rgba(21, 21, 21, 0.21); } .row {-webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } .day { background:#fff; margin:0; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; padding: 5px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; cursor: pointer; -webkit-transition: box-shadow 200ms ease-in-out; transition: box-shadow 200ms ease-in-out; } .day:last-child { border-right: none; } .day:hover { background-color: rgba(21, 21, 21, 0.012); box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21); } .day-radios { display: none; } .day-radios:checked + .day { background-color: #0B9298;} .day-radios:checked + .day span{color:#fff} .day > span { width: auto; font-size: 14px; color: rgba(21, 21, 21, 0.84); } .day.diluted { background-color: #f9f9f9; box-shadow: inset 0px 0px 1px rgba(21, 21, 21, 0.12); } .day.diluted > span { width: auto; font-size: 10px; color: rgba(21, 21, 21, 0.73); }  .events { width: 800px; height: 800px; font-family: "Satellite", "Roboto", sans-serif; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-user-select: none; user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; } .events.small { width: 400px; max-height: 375px; } .events.medium { width: 600px; height: 600px; } .events.large { width: 800px; height: 800px; } .date { width: calc(100% - 10px); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; background-color: ' + this.calendar.colors[1] + '; color: ' + this.calendar.colors[3] + '; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 5px; font-size: 14px; } .date > span { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-transform: uppercase; } .date > div { cursor: pointer; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; } .rows { width: 100%; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; overflow: hidden !important; } .list { width: 100%; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; overflow-y: auto !important; padding: 0; margin: 0; color: rgba(21, 21, 21, 0.94); } .list > li { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; border-bottom: 1px solid rgba(21, 21, 21, 0.12); } .list > li:hover { box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21); } .list > li > div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 2; -ms-flex: 2; flex: 2; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; padding: 10px; border-right: 1px solid rgba(21, 21, 21, 0.12); } .time { font-size: 14px; } .m { font-size: 14px; text-transform: uppercase; padding-left: 5px; } .list > li > p { -webkit-box-flex: 4; -ms-flex: 4; flex: 4; margin: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; font-size: 18px; word-wrap: break-word; word-break: break-word; }
.day.ended-event{background-color: #f6e1e3;}
.day.upcoming-event{background-color: #e6f2e6; border:0}
.calendar.small .row{ margin:0;}
.date-today-events .small, .date-today-events .year, .date-today-events .month, .date-today-events  .date{ width:100%;}
.labels{ background-color:#E8E9ED !important; color:#33322E !important; font-weight:600}
.today-upcoming{ color:#565656; }
.today-upcoming i.author{ font-size:16px}
.date-today-events .date{ display:none}
.today-upcoming i.fa, .icon-for-details i.fa{ font-size:18px }
.today-upcoming ul.todays-events{ position:relative; border-top:5px solid #CCCCCC; margin:10px 0;}
.today-upcoming ul.todays-events:after, .today-upcoming ul.todays-events:before{ position:absolute; content:''; left:0; right:0; margin:0 auto; width: 0; height: 0;}
/*.today-upcoming ul.todays-events:after{ top:100%; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 15px solid #CCCCCC;}*/
.today-upcoming ul.todays-events:before{ bottom:100%; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 15px solid #CCCCCC;}
ul.todays-events{ color:#666666}
ul.todays-events>li{ border-bottom: 2px dashed #dadada;padding:15px 0}
ul.todays-events>li:last-child{ border:none;}
.today-upcoming .time-display{ font-weight:500}
.today-upcoming .upcoming-event{ border-bottom:1px dashed rgba(0,0,0,0.3); padding:10px 0}
.today-upcoming .upcoming-event .today-upcoming-title{ border-bottom:1px solid rgba(178,176,177,0.5); color:#B2B0B1}
.today-upcoming .upcoming-event h6 span{ color:#8c8c8c}
.today-upcoming.carousel .carousel-control-prev, .today-upcoming.carousel .carousel-control-next{ color:#1c7b8f; width:30px; height:30px; top:-5px; opacity:1; font-size:22px}
/*** SOE Date and Today Events ***/
footer{ background:#519596; color:#fff; padding:10px 0; font-size:16px; font-weight:300; width:100%; float: left;}
footer a{ color:#fff; opacity:0.8}
footer a:hover{ color:#fff; opacity:1}
/*** SOF Div Shuffle Placeholder Color ***/
.ui-sortable-placeholder.ui-state-default.ui-sortable-handle{ position:relative; visibility:visible !important;}
.ui-sortable-placeholder.ui-state-default.ui-sortable-handle:after{ position:absolute; content:''; background-color:#B8DCDC !important; top:15px; left:15px; right:15px; bottom:15px; border-radius:3px; opacity:0.5}
/*** EOF Div Shuffle Placeholder Color ***/
/*** SOF Preview Page CSS ***/
.ckeditorhead-div .course-offered { position: relative; padding: 13px 0 0 0;}
.ckeditorhead-div .course-offered img { vertical-align: middle; border-style: none;}
.ckeditorhead-div .course-offer { position: absolute; top: 27px; left: 59px; font-size: 19px; color: #3e7c7c; font-weight: 200;}
.ckeditorhead-div i.fa{ color: #3e7c7c; font-size: 17px;}
.ckeditor a { color: #0a90eb;}
.ckeditor ul a, .ckeditor ol a { text-decoration: underline !important;}
.ckeditor a:hover{ color:#3e7c7c}
.ckeditor h2{ color:rgba(64,81,102,.96); font-size:35px; margin-top:30px}
.ckeditor h3{ color:rgba(64,81,102,.50); font-size:26px; margin-top:20px}
.ckeditor h4{background-color: #e6f2f5; border-color: transparent; font-weight:normal; line-height:24px; color: #003440;    padding: 16px; margin-bottom: 21px; border: 1px solid transparent; text-align: left; position: relative; font-size:15px}
.ckeditor p{ font-size: 16px; line-height: 28px; letter-spacing: -.003rem;}
.ckeditor  td, .ckeditor  th { border: 1px solid #ddd; padding: 8px;}
.ckeditor  tr:nth-child(even){background-color: #f2f2f2;}
.ckeditor  tr:hover {background-color: #ddd;}
.ckeditor  th { padding-top: 12px; padding-bottom: 12px; text-align: left; background-color: #9ca5af; color: white;}
.ckeditor ul li{ position:relative; padding-left:20px;}
.ckeditor ul li:before{content: "\f192"; font-family: FontAwesome; left:0px; position:absolute; opacity:0.5; top:1px;}
/*** EOF Preview Page CSS ***/
/*** SOF Tab Responsive ***/
.responsive-nav-tab {display: block; white-space:nowrap; overflow-y:hidden; border:none}
.responsive-nav-tab>li{ display:inline-block}
/*********** Responsive Boostrap tabs *************/
@media(max-width:991px){
	.modal-dialog{
      margin: .5rem;
  }
  #sidebar.togglesidebar { left:0px;top:108px;z-index: 99;}
	#sidebar{left: -280px;}
	/*#main-block.togglemaincontent { margin-left: 280px;}*/
	#main-block { margin-left: 0px; padding-left:0px}
	#main-block.togglemaincontent .toggle-icon>a{ left:258px;}
	#change-icon.respon-change-icon.fa-angle-double-left:before{content: "\f101" !important;}
	#change-icon.respon-change-icon.fa-angle-double-right:before{content: "\f100" !important;}
	.user-details-body p.ml-5{ margin-left:0 !important}
	.user-details-tab-head .nav-tabs .nav-link:hover {background: #fff;}
  .btn-inside-table
  {
    position:inherit !important;
  }
}
@media(max-width:767px){
	.dataTables_wrapper .dataTables_length {width: 26%;}
	.modal.show .modal-dialog.w-30 { width: auto;}
	.user-details-tab-head .details-type span{ text-align:left}
}
@media(max-width:639px){
	.header-text { float: right; top: 13px; width: 60%; text-align: right;}
	.user-list-btn .text-right{ text-align:left !important}
	.dataTables_wrapper .dataTables_length{ width:100%; float:inherit;}
	.dataTables_wrapper .dataTables_length{  }
	.dataTables_wrapper .dt-buttons{ float:inherit}
	.field-block .modal-body.table-in, .field-block .modal-body{ padding:15px }
	#sidebar{top:108px;z-index: 1000;}
	.table-btn-right{ position:relative}
	.details-content-view .details-type span{ text-align:left}
	.tab-content.ml-4{ margin-left:0px !important}
}
/*
.icon-for-details span {
    font-size: 14px;
    font-weight: 500;
}
*/


/****loginpagesetting***/
.custmized-heading p {
    padding: 4px 0 0 13px;
}
  .button-menu-mobile{
	position: absolute;
	right: -26px;
	top: -1px;
	background-color: #115252; 
  }
  .login-setting .card {
    background-color: #efefef;
    border: 1px solid #efefef;
    margin-left: 26px;
}
.login-setting{
	background-color: #f9f9f9;
    border: 0px solid rgb(249, 249, 249);
}
.login-setting label {
    color: #347676;
	font-size: 17px;
	font-weight: 600;
}
.login-setting .form-group {
    margin-bottom: 24px;
}
.login-setting .cancel-savedetail {
    float: right;
}
.login-setting .cancel-savedetail .cancel-btn {
    background-color: #8b8888;
    border-color: #8b8888;
    color: #fff;
    border-radius: 11px;
    padding: 8px 0px;
    text-transform: uppercase;
    width: 140px;
    font-size: 16px;
}
.login-setting .cancel-savedetail .save-detal {
    background-color: #115252;
    border-color: #115252;
    color: #fff;
    border-radius: 11px;
    text-transform: uppercase;
    padding: 8px 0px;
    width: 140px;
    font-size: 16px;
    margin-left: 42px;
}
/**ck0editor***/
.login-setting .ck-editor__editable_inline {
  min-height: 150px;
}
/*.login-setting .ck.ck-editor.editor-focused{
  border: 1px solid #f2cd3a;
  box-shadow: 1px 1px 04px 1px #d4d4d4;
}
.login-setting .ck.ck-editor.editor-focused .ck-content.ck-editor__editable.ck-focused{
  border: 0px;
}*/
/***logo-setting***/
.content .upload-logos {
	margin: 36px 0 0 2em;
  }
  .upload-logos .website-logo h3 {
	font-size: 17px;
   text-align: center;
   color: #347676;
       margin-bottom: .5rem;
  }
  .logos img {
	width: 130px;
	height: 117px;
  }
  .upload-logos .logos {
	text-align: center;
	background-color: #fff;
	border: 1px solid #cccccc;
	padding: 10px 0;
  }
  .upload-logos .recommed-size {
	text-align: center;
	margin-top: 8px;
  }
    .upload-logos .favicon-text h3 {
    margin-right: 9px !important;
}
  .login-setting .card-body {
    padding: 0 0 0 12px;
}
  
/*upload***/
.upload-btn input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
  }
  
  .upload-btn button {
	float: left;
	width: 20%;
	padding: 10px;
	background: #00425c;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
  }
  .recommed-size p {
	margin: 0;
	padding: 2px 0 1px 0;
	font-size: 13px;
  color: #878383;
  font-style: italic;
  }
  .recommed-size p:nth-of-type(2) {
	color: #115252;
	font-size: 16px;
	font-weight: 500;
	padding-bottom: 12px;
  }
  .upload-img-btn .btn-bs-file{
	position:relative;
  }
  .upload-img-btn .btn-bs-file input[type="file"]{
	position: absolute;
	top: -9999999;
	filter: alpha(opacity=0);
	opacity: 0;
	width:0;
	height:0;
	outline: none;
	cursor: inherit;
  }
  .upload-img-btn .btn-primary {
	color: #fff;
	background-color: #115252;
	border-color: #115252;
	padding: 7px 22px 7px 22px;
	margin-top: 26px;
	border-radius: 10px;
	font-size: 17px;
	cursor: pointer;
  }
  .upload-img-btn {
    float: left;
    width: 100%;
    margin-top: 13px;
}
.upload-logos {
    margin-left: 1em;
}
.upload-logos .website-logo {
    height: 176px;
    text-align: center;
}
.institute_logo{max-height:75px;}
.upload-logos .favicon {
  text-align: center;
  background-color: #fff;
  border: 1px solid #cccccc;
  padding: 10px 0;
  height: 80px;
  width: 80px;
  margin: 34px 0 0 0px;
  justify-content: center;
  display: inline-block;
}
.upload-logos .favicon img {
    width: 60px;
}
.login-setting .login-setting-file-upload {
  float: left;
}
.upload-btn input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
.loginpage-upload {
  width: 45%;
  float: left;
}
.upload-img-btn {
  float: left;
  width: 100%;
}
.login-setting .login-setting-file-upload {
  float: left;
}
.loginpage-upload {
  width: 45%;
  float: left;
}
.upload-img-btn {
  float: left;
  width: 100%;
}
.logo-setting-uplooad-btn {
  float: left;
  width: 16%;
margin-top: 0px;
  /* margin-left: 0; */
  text-align: center;
}
.study-course-images h3{
  color: #347676;
  font-size: 17px;
  font-weight: 600;
}
/*.course-images {
  width: 100%;
  float: left;
}*/
.login-setting-btn-defeault{
  margin-top: 100px;
}
.login-setting i.fa.fa-info-circle.float-right {
  margin-top: 14px;
}

/* homepage css */

body{padding: 0; margin: 0;font-family: 'Roboto', sans-serif;}
h1, h2, h3, h4, h5, h6{margin:0;padding: 0;}
p{margin:0;padding: 0;} 
ul li{list-style: none;margin:0;padding: 0;}
ul{ margin: 0; padding: 0;}
a { text-decoration: none;}
a:hover{
    text-decoration: none;
    list-style: none;
}
/*
span{
    font-size: 30px;
    color: #666666;
    font-weight: 200;

}
* */
/*header*/
header {
    padding: 12px 0;
}
header .course-offered {
    position: relative;
    padding: 13px 0 0 0;
}
header .course-offer {
    position: absolute;
    top: 24px;
    left: 54px;
    font-size: 19px;
    color: #3e7c7c;
    font-weight: 200;
}
header i.fas{
    color: #3e7c7c;
    font-size: 11px;
}
header .logo-brand {
    margin-left: 10px;
}
.course-offer .svg-inline--fa.fa-fw {
    width: 1.25em;
    font-size: 11px;
    margin: 0 0 0 -4px;
    padding: 0px;
}
/*live-banner*/
.live-banner{
  background-color: #ecf7f7;
}
.live-banner .row{
    padding: 0px;
    margin: 0;
}
.live-banner .container-fluid{
    padding: 0px;
}
.live-banner img {
    width: 100%;
    height:inherit;
}

.drag-drop-container {
    height: 200px;
    border: 2px dashed black;
    border-radius: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.drag-drop-container p{font-size: 24px;}
.drag-drop-container.dragging {
    background-color: #efefef;
    border-color: rgba(0,0,0,0.3);
}
@media only screen and (min-width: 768px) {
  .live-banner img {
    height:100%;
  }
}

.live-banner .benificalwhom-signin {
    background-color: #ecf7f7;
    padding: 30px 0 30px 0px;
    float: left;
    width: 100%;
}
.live-banner .signin-live {
    text-align: center;
    float: left;
    border-bottom: 1px solid #000;
    width: 95%;
    border-width: 100%;
    margin: 0 0em 0 1em;
}
.signin-live .sign-in span {
    font-size: 30px;
    color: #666666;
    font-weight: 200;
}
.signin-live .sign-in h3 {
    color: #669999;
    font-size: 36px;
    margin-bottom: 30px;
}
.live-banner .no-padding {
    padding: 0px;
}
/*sign-in-form*/
.sign-in .input-container {
    display: inline-flex;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #9a9a9a;
    height: 47px;
  }
  
.help-block {
		text-align: left;
		color: red;
		/* padding: 3px; */
		margin: 5px;
	}
.help-block h5 {
		text-align: center;
		margin-bottom: 15px;
	}
  
  .sign-in .icon {
    padding-top: 10px;
    background: #e6e1e1;
    color: #000;
    min-width: 50px;
    text-align: center;
    font-size: 22px;
  }
  
  .sign-in .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 0px;
  }
  
  .sign-in .input-field:focus {
    border: transparent;
  }
  .sign-in .input-field::placeholder {
    color: #a29f9f;
    font-size: 18px;
    font-weight: 200;
    padding-top: 8px;
  }
  
  /* Set a style for the submit button */
  .sign-in .btn {
    background-color: #519696;
    color: white;
    padding: 6px 52px;
    font-size: 26px;
    font-weight: 100;
    border: 1px solid #295d5d;
    border-radius: 0;
    -webkit-box-shadow: 8px 4px 19px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 4px 19px -5px rgba(0,0,0,0.75);
    box-shadow: 8px 4px 19px -5px rgba(0,0,0,0.75);
  }
  .signin-live .sign-in .forgot-password {
    display:flex;
    justify-content: space-between;
    padding-top: 22px;
}
.signin-live .sign-in .forgot-password p {
    padding: 14px 0 0 0;
    font-size: 18px;
    color: #064846;
    font-weight: 100;
    cursor: pointer;
}
.signin-live form.sign-in {
    padding-bottom: 30px;
}
.benifical-whom {
    margin: 30px 0 0 30px;
    float: left;
    width: 88%;
}
.benificalwhom-signin .benifical-whom p {
    font-size: 16px;
    font-weight: 200;
    padding-bottom: 9px;
}
.benificalwhom-signin .benifical-whom ul {
    margin-left: 30px;
}
.benificalwhom-signin .benifical-whom ul li {
    padding-bottom: 4px;
}
.benificalwhom-signin .benifical-whom ul li a {
    font-size: 18px;
    font-weight: 200;
    color: #000;
    margin: 0 0 0 4px;
}
.fa-angle-double-right:before {
    content: "\f101";
}
.benificalwhom-signin .benifical-whom ul li i.fas{
    font-size: 12px;
}
/*section.about-sec*/
section.about-sec {
    padding: 20px 0 20px 0;
}
.about-live-chat {
	margin-left: 10px;
}
.about-sec .about-live-chat h3 {
    color: #669999;
    font-size: 36px;
    margin-bottom: 22px;
}
.about-sec .about-live-chat p {
    font-size: 16px;
    font-weight: 100;
	padding-bottom: 20px;
    line-height: 27px;
}
.unique-feature {
   margin-left: 49px;
}
.unique-feature h3 {
    font-weight:500;
    color: #519696;
    padding-bottom: 20px;
}
.unique-feature ul {
    margin-left: 29px;
}
.unique-feature ul li {
    padding-bottom: 8px;
    font-weight: 200;
    font-size: 15px;
    color: #000;
    margin: 0 0 0 4px;
}
.svg-inline--fa.fa-fw {
    width: 1.25em;
    font-size: 13px;
}
.benifical-whom fa-icon.ng-fa-icon {
    margin: 0 2px 0 0;
    float: left;
}
svg.svg-inline--fa.fa-envelope.fa-w-16.fa-fw.fa-6x {
    font-size: 20px;
}
svg.svg-inline--fa.fa-lock.fa-w-14.fa-fw.fa-6x
{
   font-size: 20px;
}
.unique-feature ul li i.fas {
    font-size: 12px;
    font-weight: 550;
}
.add-border{
    border-left: 1px solid #519696;
    /*height: 204px;*/
}
/*footer*/
footer{
    background-color: #519696;
    padding: 16px 0 16px 0;
}
footer .footer-about li{
    display: inline-block;
    border-right: 1px solid #fff;
    padding: 0 8px 0 8px;
    line-height: 16px;
}
footer .footer-about li:last-child, footer .footer-terms li:last-child{
    border-right: 0px;
}
footer .footer-about li a{
    font-size: 18px;
    font-weight: 100;
    color: #fff;
}
footer ul.footer-terms {
    float: right;
}
footer .footer-terms li{
    display: inline-block;
    border-right: 1px solid #fff;
    padding: 0px 6px 0 6px;
    line-height: 16px;
}
footer .footer-terms li a{
    font-size: 14px;
    font-weight: 100;
    color: #fff;
}
/*modal*/
/*forgot-password-modal*/

.forgot-passsword-modal label {
        margin-bottom: 0.75rem;
}
.forgot-passsword-modal .modal-header {
    border-bottom: 0px solid #e5e5e5;
    padding: 8px 14px 0 0;
}
.pass-link h2 {
    font-size: 16px;
    text-transform: uppercase;
    color: #294b4b;
    padding-bottom: 22px;
}
.forgot-passsword-modal .form-control{
    height: 48px;
}
.forgot-passsword-modal .btn-default {
    background-color: #519696;
color: white;
padding: 6px 24px;
font-size: 20px;
font-weight: 100;
border: 1px solid #295d5d;
border-radius: 0;
-webkit-box-shadow: 8px 4px 19px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 8px 4px 19px -5px rgba(0,0,0,0.75);
box-shadow: 8px 4px 19px -5px rgba(0,0,0,0.75);
}
/*course-preview*/
.course-preview-header .user-login {
	display: inline-flex;
}
.course-preview-header .welcone {
	padding: 8px 8px 0 0px;
	font-size: 15px;
	font-weight: normal;
	/* float: right; */
}
.line-background-color {
	background-color: #ebf7f7;
    border: 1px solid #b9d4d4;
    padding: 10px 0;
}
.course-introduction {
	padding: 20px 0 0 0;
}
.introduction-oops ul li {
    display: inline-block;
    padding: 0 0px 0 4px;
}
.introduction-oops ul li a{
    color: #999999;
}
.introduction-oops ul .oops a{
    color: #4f6565;
}
.introduction-oops ul {
	margin-left: 11px;
}
.course-introduction .course-listing {
    background-image: linear-gradient(to right top, #dfeeee, #e1f0f0, #e1f0f0, #e1f0f0, #e4f2f2, #e4f2f2, #e7f5f5, #e7f5f5, #e9f6f6, #e9f6f6, #e9f6f6, #e9f6f6);
    float: left;
    width: 100%;
    margin: 20px 0 0 0;
}
.course-introduction .certified-img span {
    font-size: 12px;
    position: absolute;
    left: -2px;
    transform: rotate(-50deg);
    top: 14px;
}
.java-programing {
	margin-top: 15px;
}
.course-listing .yellow-icon{
    padding: 0px;
}
.Programming{
    padding-left: 0px;
}
.course-listing .java-programing h3 {
	font-size: 36px;
	font-weight: lighter;
}
.course-listing .java-programing h4 {
	font-size: 24px;
	font-weight: lighter;
	padding-top: 6px;
}

.course-listing .java-programing p{
    font-size: 18px;
    font-weight: 200;
    color: #666666;
    padding-top: 20px;
}
.course-level-detail {
    float: left;
    width: 100%;
    padding: 14px 0 0 0;
}
.course-level-detail .course-level ul li {
    display: inline-block;
    padding: 0 84px 0 0;
}
.course-level-detail .course-level ul li a {
    color: #333333;
    font-weight: 400;
    font-size: 12px;
}
.course-level-detail .course-level ul li img {
    margin-left: 10px;
}
.course-tabs .tab-content {
    margin: 26px 0 0 0px;
}
.course-introduction .course-level {
    padding-bottom: 20px;
}
.course-tabs ul.nav.nav-tabs {
    background-color: #e1f0f0;
    padding: 0px 0 0 13px;
}
.course-tabs .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #3b3d3d;
    cursor: default;
    background-color: #fff;
    border: 2px solid #b4c5c5;
    border-bottom-color: transparent;
    border-top: 4px solid #b4c5c5;
    font-size: 16px;
    font-weight: 300;
}
.course-tabs .nav>li>a {
    padding: 8px 20px;
    color: #3b3d3d;
    font-weight: 400;
    font-size: 16px;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
}
 #Course-Details h3 {
    color: #2c7c7c;
    border-bottom: 2px solid #e8f5f5;
    width: 177px;
    padding-bottom: 1px;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 18px;
}
.course-tabs #Course-Details ul {
    padding: 12px 0 0 21px;
}
.course-tabs #Course-Details ul li a {
    color: #5f5c5c;
    font-weight: 300;
    font-size: 16px;
}
.course-tabs #Course-Details ul li {
    padding: 0 0 6px 0;
}
.course-tabs #Course-Details ul.view-more {
    float: right;
    margin: -40px 0 0 0;
}
.course-tabs #Course-Details .bottom-line{
    border-bottom: 1px dotted #949292;
}
.about-course {
    padding-top: 20px;
}
.about-course p{
    font-size: 16px;
    font-weight: 200;
    color: #585656;
    padding: 26px 0 10px 0;
}
.curriculum-detail{
    padding-left: 0px;
}
.curriculum {
    background-color: #e7f5f5;
    float: left;
    width: 100%;
    margin: 0px 0 0 0;
    padding-bottom: 16px;
}
.curriculum .lecture-clases h3 {
    font-size: 18px;
    padding-top: 14px;
    color: #2c7c7c;
    border-bottom: 1px solid #2c7c7c;
    width: 112px;
}
.curriculum .lecture-clases ul {
    padding-top: 23px;
}
.curriculum .lecture-clases ul li{
    display: inline-block;
    padding: 0px 6px 0 6px;
    border-right: 1px solid #000;
    line-height: 13px;
}
.curriculum .lecture-clases ul li:last-child{
    border-right: 0px;
}
.curriculum .lecture-clases ul li a{
    color: #2b2f2f;
    font-size: 16px;
    font-weight: 500;
    
}
.quiz-video ul {
    margin-top: 6px;
}
.quiz-video ul li {
    padding: 6px 0 1px 0;
}
.quiz-video ul li:nth-last-of-type(2){
    margin-left: 2px;
}
.quiz-video ul li:nth-last-of-type(1){
    margin-left: 7px;
}
.quiz-video ul li a{
    font-size: 12px;
    font-weight: 400;
    color: #515353;
}
.quiz-video ul li img {
    margin-right: 7px;
}

.modal-body p {
    margin-bottom: 1rem;
}
.modal-dialog .modal-content {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    border-radius: 10px !important;
    border: 0;
    min-height: fit-content;
    min-width: fit-content;
}
.modal-dialog .modal-content .modal-body{
  max-height: calc(100vh - 56px);
  overflow: auto;
}

/** BOF Notification CSS ***/
.notification_group_list{
	 padding:0px 30px;
	margin: 0 auto;
	

}
.notification_group_list h5
{
	font-size: 16px;
	color: var(--txtgrn_color);
	display: inline-block;
margin: 0
 

}
.notification_group_list .notification-title{
	margin: 0 0 15px 45px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #a6a6a6;

}
 
.notification_group_list li a.btn{
	float: right;
    margin: 0 0 0px 4px !important;
    font-size: 13px;
}

.emailtemp-list li{
	width:48%;
	display: inline-block;
	color:var(--txtgrn_color)

}

/*** Libraries ***/
table#manage-files .info-icon{ 
    position: relative;
    top: -12px;
 
	 
	left: -3px;
	

}
table#manage-files .info-icon i{
	font-size: 10px !important
}


/*** custom checkboxes ***/

table#manage-files .custom-checkbox input[type=checkbox] { display:none; } /* to hide the checkbox itself */
table#manage-files .custom-checkbox input[type=checkbox].share-toggle + label:before {
  font-family: FontAwesome;
  display: inline-block;
  font-size: 20px;
  cursor: pointer
}

table#manage-files .custom-checkbox input[type=checkbox].share-toggle + label:before { content: "\f1e0"; color: #c0c0c0;  } /* unchecked icon */
table#manage-files .custom-checkbox input[type=checkbox].share-toggle:checked + label:before { content: "\f1e0"; color: var(--txtgrn_color)  } /* checked icon */

table#manage-files .custom-checkbox input[type=checkbox] + label {
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	 padding:0px 3px;
	cursor: pointer
  }

  table#manage-files  input[type=checkbox] + label { color: #c0c0c0;  } /* unchecked icon */
  table#manage-files input[type=checkbox]:checked + label {  color: #000  }  

  table#manage-files .custom-checkbox  input[type=checkbox]:disabled + label{
	  cursor: not-allowed  
  }

  .action-tfoot {
	  background: var(--light_green);
	  color:#FFF

  }

  .table.dataTable .action-tfoot th{
	  padding-left: 10px
	
}
.table.dataTable .action-tfoot th input[type=checkbox]{
	vertical-align: middle
}

.directory-list-item{
	padding: 10px 0px 0px 0
}
.directory-list-item li{
	position: relative;
	padding-right: 10px;
	margin-right: 5px !important
}
.directory-list-item li:not(:last-child):after{
	content: "/";
	position: absolute;
	right: 0
}

  .action-tfoot a{
	  margin: 0px 5px !important;
	  background: #b7dcdc;
	  color:#006666 !important;
	  border-radius: 30px;
	  font-size:14px;
	  font-weight:normal

  }
  table#manage-files td{
	  vertical-align: middle;
	  
  }
  table#manage-files td a
  {
	color: var(--txtgrn_color)
  }

  table#manage-files td.check-with-icon a{
	  color:#212529

  }
  .storage-view-container{
	  
	  margin: 0 auto
  }

  .popover-header{
	  font-size:12px !important;
	  color:var(--drkgrn_color);
	  background: none;
	  border: none;
	  margin-bottom: 0;
	  padding-bottom: 0


  }
  
 .popover-body h5 , .popover-body ul li{
	  font-size:12px;
	  margin: 0;
	  padding: 0
	  
  }

  .popover-body ul li span{
	  display: inline-block;
	  width: 75px;
  }

/*
  .action-tfoot a.selected_toggle{
	  display: none
  }
*/

  .upload-form-container { 
	  padding:  0px 50px

  }
  .upload-form-container .custom-file-upload i{
	  position: absolute;
	  right: 0;
	 

  }
  .upload-form-container .custom-file-upload{
	  height: 27px;
  }

  .upload-form-container .custom-file-upload input{
	  display: inline-block
  }

  .custom-file-label::after{
	  font-family: 'FontAwesome';
	  content: "\f07c" !important;
	  color:#FFF;

	  background: var(--drkgrn_color)
  }

  .btn-inside-table {
   position: absolute;
   left: 215px;
    top: -5px;
	z-index: 5;

}
.relative-block{
	position: relative !important;
}

#filter_dropdown.btn-inside-table 
{
	left:auto;
	right:160px;
	top:59px;
	width: 200px !important;
	border: 1px solid rgba(0,0,0,.40);
	padding: 5px 10px !important;
    
}


/*** Schedult Live Class ***/
.schedule-class-container .accordion .card-header{
	background: #ebeaea;
	
}

.schedule-class-container .accordion .card-header h2 a{
	font-size:16px;
	cursor: pointer;
	display: block;
	border-radius: 0

}
.schedule-class-container .accordion .card-body label{
	font-weight:bold;
	font-size:14px
}
.schedule-class-container .accordion .card-body .info-icon-block label{
	color: #2a2a2a;
	 

}
.schedule-class-container .accordion label span{
	position: absolute;
	right: -25px

}
.schedule-class-container .action-btn .btn{
	
	margin: 15px 8px !important;
	margin-left: 0px !important;

}
.schedule-class-container  .remove-btn{
	margin:0px !important

}

.schedule-class-container .days-checkbox-list li{
	vertical-align: middle



}

/** Button **/
.btn.btn-m-0 {margin: 0 !important;}
.btn-ml-0{ margin-left: 0 !important }

/** File Upload **/
.upload-file-btn.custom-file-label{ height: auto;}
.upload-file-btn.custom-file-label::after { display: none; }

/* Course Create Basic */
.payment-border{    border-bottom: 1px solid #0033; padding-top: 10px; padding-bottom: 10px; }
.img-circle {width: 102px; height: 94px; border-radius: 50%; border: 1px solid #00000057; }
.cb-circle-icon { position: absolute; right: 0px ; top: 0px ; color: #00000075; }
.avatar-img { width: 100px; position: relative; }
.btn-divider { font-size: 24px; justify-content: center; }
.create-basic-date{ border: 1px solid #0000002e !important; }

/* table course manage */
.chapter-unit-list li {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #c5c5c5;
	border-left: 1px solid #b5c7c6;
	border-right: 1px solid #b5c7c6;
 }
 .chapter-unit-list  { padding-left: 20px; }
 .card-header-cm { padding-bottom: 5px; padding-top: 10px;}
 .card-transparent { padding: 0; }
 .chapter-card { background: transparent; border: none; padding-left: 10px; }
 /* chapter textbox */
 .c-desc { height:75px;}
 .r-width{ width: 300px;}
 /* chapter icons */
 .chap-icons {color:#ffffff;}
 .chap-title{color: #ffffff;}
 .chap-txt{color: #b8dbda}
 .unit-txt { color : #0e5252;}
 .card-header {
	background-color: #125251;
 }
 .chapter-clr {
	color: #b6dbdb;
 }
.course-status-count {
    font-size: 22px;
}
.course-status-label {
    font-size: 16px;
}
.unit-list-heading {
    background-color: #b8dbda;
}


/* Course Catalogue Page */
.catalogue-border{border-bottom: 1px solid #B8DCDC;}
.course-list{display: flex;justify-content: space-evenly; margin-top: 18px; padding-bottom: 200px;padding-left: 30px;padding-right: 30px;}
.card-wh{width: 850px;}
.card-header.img{
    padding:0 40px;
}
.course-card img { object-fit: cover; width: 100%; }
.course-card p.course-listing-page {
    height: 67px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 274px;
}
.course-card{ width: 100%; min-height: 360px;     margin-bottom: 1.75rem; }
.course-card .main-instructors {
    font-weight: bold;
}
.checked{
	color: #FFA500;
}
.course-border{
	border-top: 2px solid #dbdbdb;
}
.cc-view-more { margin: 0px; float: right; cursor: pointer; }


/* Course Create Payment */
.trash-icon-size{ font-size: 20px; }
.course-fee-postion{ position: relative; }
.plus-icon-position{ position: relative; top: 8px; left: 310px; font-size: 20px;}
.course-fee-postion .plus-icon-position {position: unset;font-size: 20px;padding: 10px 0 0px 14px;}
.fees-field-control { width: 100px; }
.dashed-border-bottom { border-bottom: 1px dashed black; }
.cp-icon-cursor { cursor: pointer;}
.cp-date-width { width: 178px; }

/* Dash Board Screen One*/
.img-circle-dashboard{width: 113px; height: 113px; border-radius: 50%; }
.table-border-bg{ background: white; padding: 1rem; border: 1px solid #b5c7c6; margin-top: -1px; }
.table-hide-border { position: relative; z-index: 1;}
.h6-content-space { margin-top: 35px; }
.badge-space { width: 65px; border-radius: 14px; }
.table-padding-dashboard { padding-bottom: 300px; }
.table-border-dashboard { border-bottom: 1px solid #3f7371; }

/* Student DashBoard*/
.user-details-tab-head-bg { background: #f9f9f9; }
.progress-bar-bg { position: relative; background: #666666b3; color: #fff; }
.progress-cover-bg { background: #125252; height: 20px; }
.check-course { display: flex; justify-content: flex-end; margin-bottom: 15px; }
.sd-table-check-row-clr {  background: #ebebeb; }
.sd-check-row-tick { background: #125252; color: white; padding: 8px; width: 30px;}
.sd-uncheck-row { width: 30px;}
.sd-row-trash-icon { margin-top: 12px; margin-right: 9px;}
.sd-content-checkbox { width: 11px; height: 11px; border: 1px solid; margin-top: 5px; border-radius: 2px;}

/* Course View */
.cv-img { width: 40px; }
.cv-header-text { float: right; top: 5px; position: relative; font-weight: 300; font-size: 20px;margin: 0 15px;}
.header-pd { padding-top: 7px; padding-bottom: 0px; }
.cv-head-clr { background: #b8dcdc; }
.cv-head-video { background:#006666; display: flex; padding: 3px; }
.cv-head-font { font-size: 23px; padding: 5px; }
.cv-position { position: relative;}
.cv-font-position-right { position: absolute; top: 2px; right: 0;}
.cv-icon-align { display: flex; justify-content: space-between; padding: 8px; }
.cv-icon-align i { font-size: 20px; }
.cv-body { background: #b8dcdc; padding-bottom: 50px; }
.cv-container-body { width: 1195px; margin-left: 100px; margin-right: 100px; }
.cv-container-content { float: right; }
.cv-embedded-body { padding: 68px; }

/* Course Manage-list */
.course-manage-circle { border-radius: 100%; background: #006666; width: 20px; height: 20px; text-align: center; padding-top: 3px; color: white; font-size: 14px !important; }

.dark-grn-txt-clr { color: #125251; }
.modal-txt-grey { color: #666666; }
.grey-clr-bg { background: #ebebeb; }
.table-dark-txt { color: #115152; }
/***course-create-advance***/
.page {
        color: #ffffff !important;
    background-color: #00999B !important;
}
.page:hover{
        color: #ffffff !important;
    background-color: #00999B !important;
}
.page-link {
    color: #444444;
    background-color: #fff;
    border: 1px solid #dee2e6;
}


/*accordian*/
.accrodiancourse-detail {
    float: left;
    width: 100%;
}
.accrodiancourse-detail .accordion {
    background-color: #b7dcdc;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    font-weight: 400;
    border-bottom: 1px solid #fff;
  }
  
  .accrodiancourse-detail .active, .accordion:hover {
    background-color: #b7dcdc;
  }
  
  .accrodiancourse-detail .panel {
    padding: 0px 0px 0 0px;
    display: none;
    background-color: #ffffff;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /* margin: 0 auto; */
    border-left: 13px solid #f2cd3a;
    border-radius: 0px;
    margin-bottom: 0px;
    border-top: 0px;
  }
  .accrodiancourse-detail .accordion:after {
    content: '\f055'; /* Unicode character for "plus" sign (+) */
    font-size: 20px;
    color: #000;
    float: right;
    margin-left: 5px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  
  .accrodiancourse-detail .active:after {
    content: "\f056"; /* Unicode character for "minus" sign (-) */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  .introduction-side-icon li{
      display: inline-block;
  }
 .accrodiancourse-detail  .listing-item-detail {
    float: left;
    width: 100%;
    padding: 8px 0 8px 0px;
    border-bottom: 1px solid #cccccc;
    margin-left: 0px;
}
.listing-item-detail h4 {
    color: #699494;
}
.listing-item-detail:nth-child(even){
    background-color: #f0eeee;
}
.border-color {
    background-color: #f1f8f8;
    float: left;
    width: 100%;
    margin-top: 40px;
    border: 1px solid #cccccc;
    height: 800px;
}
#Teachers .teacher-name {
    float: left;
}
#Teachers .course-timming li {
    display: inline-block;
    float: right;
    padding: 0 8px 0 8px;
    border-right: 1px solid #c3c1c1;
    line-height: 15px;
}
.course-timming li a {
    font-size: 13px;
    font-weight: 300;
    color: #585656;
}
#Teachers .course-timming li:first-child{
    border-right:none;
}
#Teachers .teacher-description {
    margin-top: 39px;
    font-size: 15px;
    font-weight: 300;
    color: #585656;
}
#Teachers h3 {
    color: #2c7c7c;
    border-bottom: 1px solid #2c7c7c;
    /* font-weight: 300; */
}
#Teachers .teacher-given-description {
    float: left;
    width: 100%;
    border-bottom: 1px dotted #000;
    padding: 20px 0 20px 0;
}
div#Reviews .course-rating-review {
    float: left;
    padding-top: 10px;
}
.star-rating {
    float: right;
}
div#Reviews .star-rating p{
    padding: 0px 18px 0 0px;
    font-size: 30px;
    float: left;
}
div#Reviews .star-rating img.img-responsive {
    padding-top: 7px;
}
.coursereview {
    float: left;
    width: 100%;
    background-color: #ebeaea;
    border: 1px solid #999999;
    padding: 6px 12px 6px 12px;
}
.coursereview .no-padding{
    padding: 0px;
}
div#Reviews .user-given-rating {
    float: left;
    width: 100%;
    margin-top: 18px;
    padding: 18px 0 18px 0;
    border-bottom: 1px dotted #999999;
}
div#Reviews .user-name {
    float: left;
}
div#Reviews .user-rating {
    float: right;
}
div#Reviews .user-rating p {
    /* float: right; */
    margin-left: 35px;
    margin-top: 4px;
}
div#Reviews .write-review p{
    margin: 53px 0 10px 0;
    font-size: 14px;
    font-weight: 300;
}
div#Reviews .write-review button.btn.btn-primary {
    float: right;
    border-radius: 25px;
    background-color: #ebeaea;
    border-color: #999999;
    color: #666666;
}
.course-rating-review h3, .course-rating-review span{
    color: #333333;
    font-size: 20px;
}


/* custom css*/
.custom-file-label::after{
  font-family: 'FontAwesome';
  content: "\f07c" !important;
  color:#FFF;

  background: var(--drkgrn_color)
}
.upload-text label.custom-file-label:after{
display: none;}

.course-completion-rule sup.ml-2 {
    font-size: 14px;
    margin: 2px 0 0 0;
    position: relative;
    top: -2px;
}.custom-switch .custom-control-input:checked~.custom-control-label::before {
    background: green;
    border-color: green;
}
.promotion-video input[type="file"] {
    display: block;
}
.add-course-btn{
    top: -19px;
}
.mat-datepicker-content {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    display: block;
    border-radius: 2px;
    position: absolute;
    top: 69%;
    left: 24%;
    background:#FFF;	
}

.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon-button, .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button {
    font: inherit;
    vertical-align: baseline;
    background: none;
    position: absolute;
    top: -25px;
    right: -171px;
    font-size: 21px;
}
svg.mat-datepicker-toggle-default-icon.ng-star-inserted {
    font-size: 24px;
}
.mat-button-focus-overlay, .mat-button-ripple
{
   background: none !important;
}
.user-details-tab-head .tab-content {
    background: #FFF;
    margin-top: 10px;
    float: left;
        width: 100%;
}
.info-icon-block .btn {
    background-color: #519696;
    color: white;
    padding: 6px 0px;
    font-size: 1rem;
    font-weight: 400;
    border: 0px solid #295d5d;
    border-radius: 0;
    box-shadow: none;
}
.instructional-level {
    margin: 40px 0 26px 0;
}
.add-bulk-import .btn {
    padding: 6px 16px 6px 16px;
    border-radius: 4px;
        font-size: 13px;
}


/* Course Preview */

 .course-preview-container{
     background: #FFF
 }
 .preview-header {
background: #e3f2f2;
border:1px solid #becaca;
border-bottom: 0;
overflow: hidden;
 }
 .preview-header .title-header{
     padding:15px 15px 15px 50px;
     box-sizing:border-box;
     width: 70%;
     border-right:1px solid #d1d2d3;
 }

 .preview-header .title-header h1{
     font-size:36px;
     font-weight:400;
     
 }
 .preview-header .title-header h3{
     font-size:24px;
     font-weight:100
 }
 .preview-header .title-header h6{
     font-size: 18px;
     color:#666666;
     font-style: italic;
     position: relative;
padding: 0;
margin: 0;
bottom: -30px;
 }
 .preview-header  .title-header a.btn{
    position: relative;
    top: 20px;

 }
 .rated-block i,.write-review-block .rated-block{
     font-size:14px;
     color:#fda710

}
.write-review-block i{
    font-size:24px
}
 

 .preview-header .cerfiticate-ribbon{
    width: 150px;
    top: -9px;
    left: -60px;
padding: 30px 0 5px 0;
font-size: 13px;
 }
 .course-img-block {
     width:30%;
     min-height: 170px;
 }

 .course-short-info ul{
     display: table;
     width:100%;
     padding:10px 0px 20px 20px ;
     text-align: left;
     border-top:1px solid #83aaaa
 }
 .course-short-info li{
     display: table-cell;   
     font-size:14px;
     color :   #333333   

 }

 .preview-header .nav-tabs .nav-item:first-child .nav-link{
     position: relative;
     margin: 0px 0 0 10px;
     

 }

 .course-preview-block #course-tab-content{
   border-top: 1px solid #becaca;
   z-index: 0;
margin-top: -1px;
 }
 .b-b-dashed{
     border-bottom: 1px dashed #949292
 }
 .teacher-img{
     width: 170px;
     height:170px;
     border-radius:50%;
     display:block;
     overflow:hidden
 }
 .teacher-img img{
     width:100%
 }
 .teacher-details h4,.sidebar-header h4{
     font-size:18px;
     font-weight:400;
     color:#2c7c7c;
     text-decoration:underline;
      
 }
 .teacher-details h4 span{
     font-size:12px;
     color:#585656;
     text-decoration: none;
     font-weight:100;
     display: inline-block;
     position: relative;
 }
 .teacher-details h4 span:after{
     content:"";
     position: absolute;
     height:1px;
     width: 100%;
     bottom:-8px;
     right:0;
     background:#b7dcdc
 }
 .overall-rating{
     background: #ebeaea;
     padding:10px;
     border:1px solid #999999;
     margin:20px 0;
 }

 .overall-rating h4{
     color:#333333;
     font-size:20px;
     font-weight: 400;
     margin:0
 }
 .overall-rating h4 .rated-block i{
     font-size: 20px

 }
 .course-review-block{
     padding:10px 0;
     margin-bottom:15px;
 }
 .course-review-block .dropcap{
     font-size:20px;
     background: #e4f2f2;
     border:1px solid #b6c6c6;
     height:45px;
     width:45px;
     border-radius:50%;
     display: block;
     text-align:center;
     line-height:45px;

overflow: hidden;
 }

 .course-review-block .dropcap img{
    width:100%;
    border-radius:50%;
 }
 .course-review-block h4{
     font-size:20px;
     font-weight: 300;
     margin-bottom:30px;
 }
 .user-rating span{
font-size:12px;
color:#666666;
display:block;
margin-top:5px;


 }
 .course-review-block a.btn{
     font-size:12px;
     background: #ebeaea;
     color:#a9a9a9 !important;
     border:1px solid #a9a9a9;
     border-radius:30px;
     padding:5px 15px
 }
 .course-review-block a.btn:hover{
     background:#a9a9a9 !important;
     color:#FFF !important
 }
 .course-review-block a i{
     margin: 0px 3px
 }

 #course-preview-sidebar{
     background:#e3f2f2;
     height: 100%;
     border: 1px solid rgba(0,0,0,.15)
     

 }

 .sidebar-header{
     padding: 15px;
     color: #585656;
     box-sizing:border-box;
     
 }

 #course-collapse-sidebar {
     width:100%;
     height: auto;
     top: 0;
     position: relative;;
     z-index: 1;
     background:#e3f2f2;
     border:none
 }

 #course-collapse-sidebar .card-header,#course-collapse-sidebar .card {
   border-radius: 0;
   border-bottom: 0 
}
#course-collapse-sidebar .card-body{
    background: #f2cd3a;
}
#course-collapse-sidebar .sub-link-list{
    padding-left: 20px
}

#course-collapse-sidebar .sub-link-list li a{
    font-size:14px;
    color: #699494

}
#course-collapse-sidebar .sub-link-list li i{
     margin: 0px 2px;
    color: #6d6d6d

}
#course-collapse-sidebar .sub-link-list > li > a:hover, #course-collapse-sidebar sub-link-list > li.active > a{
    background: #f0eeee;
    color: #699494 !important
}
.sidebar-header ul{
    font-size: 13px
}

.sidebar-header ul i{
    float: left;
    margin-right: 9px;
    margin-top: 3px;
}

.short-height{
    height:250px;
    overflow: hidden;
}
.course-status-info{
    font-size: 14px;
    color:var(--txtgrn_color)
}
.course-status-info .smallbox{
    display: inline-block;
    width: 15px;
    height: 15px;
    border:1px solid #c0bdbd;
    

   
}
.complete-course-bg{
    background: #e1e1e1 !important;
   
}
.pending-course-bg{
    background: #FFF !important;
}
.complete-course-bg .sd-uncheck-row{
    background: var(--drkgrn_color);
    position: relative;
    line-height: 42px;
}
.complete-course-bg .sd-uncheck-row:after{
    content: "\f00c "; 
    position:absolute; 
    
    font-family: FontAwesome;
    top:0;
    left: 0;
    right: 0;
    text-align: center;

    color:#FFF
    
}
.progress.light_green{background:#fff; border:1px solid #aaa;}
.progress.light_green .progress-bar{background:#b7dcdc; height:20px;}
.price_labels{text-align:right; margin:5px; border:solid 2px transparent;}
.price_header{height:75px; padding:10px;}
.price_header .h4{font-weight:bold; text-transform:uppercase; color:var(--drkgrn_color);}
.price_header p{font-size:13px; font-style:italic; color:#666; margin-bottom:0;}
.price_labels .price_header .h4{font-size:24px;}
.price_box{border:solid 2px #b7dcdc; box-shadow:0 0 5px rgba(0,0,0,.75); border-radius:8px; margin:5px; text-align:center;}
.price_box .price_header{background:#b7dcdc;}
.price_box .price_cost{background:#daf8f8;}
.price_cost{font-size:18px; text-transform:uppercase; font-weight:bold; height:55px; padding:10px; flex-direction:column; justify-content:center; display:flex;}
.price_details li{min-height:55px; padding:0 10px; flex-direction:column; justify-content:center; display:flex;}
.price_box .price_details li{align-items:center; font-size:18px; font-weight:bold; color:var(--drkgrn_color);}
.price_labels .price_details li{font-size:15px; color:#666;}
.v-align-arrows .owl-nav{position:absolute; top:50%; width:100%;}
.v-align-arrows .owl-next, .v-align-arrows .owl-prev{position:absolute; top:0; background:none !important; color:#333 !important; font-size:24px !important; padding:0 !important; margin:0 !important;}
.v-align-arrows .owl-prev{left:-20px;}
.v-align-arrows .owl-prev:before{content:'\f053'; font-family:'FontAwesome';}
.v-align-arrows .owl-next:before{content:'\f054'; font-family:'FontAwesome';}
.v-align-arrows .owl-next{right:-20px;}
.radio.radio_only label{width:17px; height:17px; padding:0;}

/*Playmode*/
.playmode-header{
    background: #7bb9b7;
    height:45px;
     display: table;
    width: 100%
}
.playmode-header .playmode-header-block{
    display: table-cell;
    padding: 8px 0
}

.playmode-header-block h3{
    margin: 0;
    font-size:20px;
    font-weight:bold;
    display: inline;
    color:var(--drkgrn_color)

}
.playmode-header-title{
    color:#FFF;
    background: var(--drkgrn_color)
}
.playmode-header-title h3,.playmode-header-title a:hover,.playmode-header-block.chapter-header a:hover i{
    color:#FFF
}

.playmode-header-block.chapter-header h3{
    font-size:16px;;
    font-weight: normal;
    margin-left: 10px;
    color:#FFF

}
.playmode-header-block.chapter-header i,.playmode-header-title i{
     
    font-size:20px;
    margin: 0px 5px;

}
 
.playmode-body{
    margin: 0 auto;
    width:85%;
    

}
.playmode-body .playmode-main-container{
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.55);
    border-radius:0

}
.playmode-subheader {
    color: var(--drkgrn_color);
    font-size:16px;

}
#chaplist-container{
    position: absolute;
    top:45px;
    right:0px;
    width:0px;
    overflow: hidden;
    height:100%;
    white-space: nowrap;
    background: #FFF;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.55)

}
#chaplist-container .card {
    border:none
}
.plus-minus-toggle{
    font-size:12px;
    margin-right:5px
}
div#main-block.course-preview {
    border-top: 0px;
    background-color: white;
    padding-top: 0px !important;
    padding-left: 0px;
}


/*Course Details Page */
.details-tab .nav.nav-tabs .nav-link, .details-tab .nav.nav-tabs .nav-link.active {
    font-size:16px;
    color:#3b3d3d;
    border-radius: 0;
    border-right:2px solid transparent;
    border-left:2px solid transparent

}
.details-tab .nav.nav-tabs .nav-link.active,.details-tab .nav.nav-tabs .nav-link:hover{
    border-top:4px solid #b4c5c5;
    border-left:2px solid #b4c5c5;
    border-right:2px solid #b4c5c5;
    

}
.details-tab .tab-content h6{
    font-size:16px;
   text-decoration: underline
}
.details-tab .tab-content{
    color:#5f5c5c;
    line-height: 26px;
    background: white;
    padding: 15px;
    border: 1px solid #b5c7c6;
    margin-top: -1px;
 
}
.details-tab .tab-content a.more-link,.details-tab .tab-content a.view-more-link
{
    position: absolute;
    bottom: 0;
    right:0;
    background: #FFF;
padding: 0px 10px;
    
}
.details-tab .tab-content h1{
    font-size:80px;
    font-weight:bold;
    color:#115252;
    margin: 30px 0 0 0;
    line-height: 76px;

}

.cerfiticate-img-block{
overflow: hidden;
position: relative;
}
.cerfiticate-img-block img {
    width:100%
}
.cerfiticate-ribbon{
    background: #f2cd3a;
position: absolute;
 
top: 12px;
left: -130px;
 right:0;
text-align: center;
line-height: normal;
letter-spacing: 0.2px;
 
padding: 5px;
font-size: 11px;
z-index: 2;
-ms-transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
}
.details-tab .tab-content  .cerfiticate-img-block h6,#course-tab-content .instructor-block h6{
    text-decoration: none

}

.details-tab .tab-content .card,.details-tab .tab-content .card-header{
    border-radius:0 !important;
    border:none

}
/* Course Detail tabs */
.details-tab ul.nav.nav-tabs {display: block; white-space:nowrap; overflow-y:hidden; border:none;margin-top: .5rem;margin-left: 1.5rem;}
.details-tab ul.nav.nav-tabs>li{ display:inline-block}

.preview-course-tab .tab-content{
    padding: 1rem;
}
.preview-course-tab .tab-content h6{
    font-size:16px;
   text-decoration: underline
}

.preview-course-tab .tab-content p {
     margin-top: .5rem;
	 margin-bottom: 1rem;
}

.dataTables_courses_filter .search_course {
    padding: 5px 10px !important;
    margin-bottom: 10px;
}

.dataTables_courses_filter{ text-align:left; position:relative; display:inline-block; float:left !important;}
.dataTables_courses_filter [type=search]{width:200px !important; border:1px solid rgba(0,0,0,.40); border-radius:2px; padding:2px 10px ; margin-left:0;}
/*
.dataTables_courses_filter:before { position:absolute; content: "\f002"; font-family: FontAwesome; right:10px; top:6px; font-size:14px; z-index:3}
*/
.dataTables_courses_filter.remove-icon:before{ display:none}
 span.rated-block span {
    color: #fda710;
    font-size: 18px;
}
 span.rated-block span {
    color: #fda710;
    font-size: 18px;
}

#course-tab-container.nav-tabs .nav-link, #course-tab-container.nav-tabs .nav-link.active {
    font-size:16px;
    color:#3b3d3d;
    border-radius: 0;
    border-right:2px solid transparent;
    border-left:2px solid transparent

}
#course-tab-container.nav-tabs .nav-link.active,#course-tab-container.nav-tabs .nav-link:hover{
    border-top:4px solid #b4c5c5;
    border-left:2px solid #b4c5c5;
    border-right:2px solid #b4c5c5;
    

}
#course-tab-content h6{
    font-size:16px;
   text-decoration: underline
}
#course-tab-content{
    color:#5f5c5c;
    line-height: 26px;
 
}
#course-tab-content a.more-link,#course-tab-content a.view-more-link, .min-height-block a.more-link
{
    position: absolute;
    bottom: 0;
    right:0;
    background: #FFF;
padding: 0px 10px;
    
}
#course-tab-content h1{
    font-size:80px;
    font-weight:bold;
    color:#115252;
    margin: 30px 0 0 0;
    line-height: 76px;

}
.tab-content .tab-pane table.dataTable, .modal-content table.dataTable{width: 100% !important;}
.jstree-default .jstree-node, .jstree-default .jstree-icon {
    background-image: url(./assets/images/tree-icons.png);
}
.jstree-default .jstree-closed > .jstree-ocl {
    background-position: -100px -4px;
}
.jstree-default .jstree-open > .jstree-ocl {
    background-position: -132px -4px;
}
.jstree-default .jstree-themeicon {
    background-position: -260px -4px;
}
.jstree-default .jstree-node {
    background-position: -292px -4px;
    background-repeat: repeat-y;
}
.jstree-default .jstree-last {
    background: transparent;
}

/*---added by sagar---31-10-19*/
.btn{white-space:normal;}
#course-tab-content.border{margin-top:-1px;}
.w-16{width:16px; height:16px;}
.w-18{width:18px; height:18px;}
.doctor-avatar{width:90px; height:95px; border:solid 1px #999; padding:5px;}
.doctor-avatar img{width:100%; height:100%;}
.counters{text-align:center;}
.counters .title{color:var(--txtgrn_color); font-size:17px; text-transform:uppercase;}
.counters .count{color:var(--drkgrn_color); font-size:75px; line-height:1; margin-top:5px;}
.arrow-list li{position:relative; padding-left:15px; margin-bottom:5px;}
.arrow-list li:before{content:'\f101'; font-family:'FontAwesome'; position:absolute; left:0; top:0;}
.sub-head2{border-bottom:dashed 1px var(--drkgrn_color); padding-bottom:10px;}
.sub-head2 .title{font-size:17px; text-transform:uppercase; color:var(--drkgrn_color);}
.font-14{font-size:14px;}
.user-details-sub-head{font-size:15px;color:var(--drkgrn_color);}
.w120{width:120px;}
.w110{width:110px;}
.w100{width:100px;}
#sss .chkme:not(:checked) ~ .showme{display:none;}
.flyactions{position:absolute; left:100%; width:150px; top:10px; text-align:left;}
.quiz_question_panel .panel-title{background:var(--drkgrn_color); color:#fff; font-size:16px; margin-top:10px; padding:7px; margin-left:25px;}
.quiz_question_panel .panel-title .arrow{position:absolute; left:-15px; color:var(--drkgrn_color); font-size:21px; top:3px;}
.quiz_question_panel .panel-title a:hover, .quiz_question_panel .panel-title a:focus{color:inherit;}
.quiz_question_panel .panel-title .holder{color:var(--lgtgrn_color);}
.quiz_question_panel .panel-collapse{max-height:150px; overflow-y:auto; overflow-x:hidden;}
.quiz_question_panel .list-group{margin-left:35px;}
.quiz_question_panel .list-group-item{padding:5px 10px; border-radius:2px;}
.more_round_link{background:var(--txtgrn_color); display:inline-block; height:22px; width:22px; vertical-align:middle; color:#fff; border-radius:50%; text-align:center;}
.easyQ{background:var(--lgtgrn_color);}
.mediumQ{background:var(--light_gray);}
.hardQ{background:var(--light_yellow);}
.indicators li{display:inline-block; margin:0 10px; line-height:1;}
.indicators li span{width:14px; height:14px; border-radius:2px; box-shadow:0 0 1px rgba(0,0,0,.6); margin-right:5px; display:inline-block;}
.btn-danger{background:var(--rse_color);}

.pointer-list ul > li:before {
    content: "\f0a4";
    font: normal normal normal 14px/1 FontAwesome;
    padding-right: 10px;
}
.arrow-list ul > li:before {
    content: "\f101";
    font: normal normal normal 14px/1 FontAwesome;
    padding-right: 10px;
    padding-top:5px;
}
.page-content{
  min-height: calc(100vh - 234px);
}
.inner_pop{background:rgba(255,255,255,.9); font-size:16px; position:absolute; width:100%; top:30px; z-index:100; left:0; height:calc(100% - 40px); padding:50px 30px;}
.image_preview{border:1px solid #ddd; padding:5px; width:250px; max-width:100%; height:200px;}
.image_preview img{width:100%; max-width:100%; max-height:100%;}
.vid_preview iframe,.vid_preview video {width:100%;height:auto;}
li.nav-item {
    cursor: not-allowed;
}
.modal-dialog .modal-content .modal-header {
    border-top-left-radius: .3rem !important;
    border-top-right-radius: .3rem !important;
}
.table.dataTable{width: 100%!important;}
.ng-resizable{position:relative}
.ng-resizable-handle{position:absolute;font-size:.1px;display:block;touch-action:none}
.ng-resizable-handle.ng-resizable-e{cursor:e-resize;width:7px;right:-5px;height:100%;top:0}
.ng-resizable-handle.ng-resizable-w{cursor:w-resize;width:7px;left:-5px;height:100%;top:0}
.ng-resizable-handle.ng-resizable-s{cursor:s-resize;height:7px;bottom:-5px;width:100%;left:0}
.ng-resizable-handle.ng-resizable-n{cursor:n-resize;height:7px;top:-5px;width:100%;left:0}
.ng-resizable-handle.ng-resizable-se{cursor:se-resize;width:12px;height:12px;right:5px;bottom:5px}
.ng-resizable-handle.ng-resizable-sw{cursor:sw-resize;width:12px;height:12px;left:5px;bottom:5px}
.ng-resizable-handle.ng-resizable-ne{cursor:ne-resize;width:12px;height:12px;right:5px;top:5px}
.ng-resizable-handle.ng-resizable-nw{cursor:nw-resize;width:12px;height:12px;left:5px;top:5px}
.ng-resizable-diagonal{box-sizing:border-box;width:0;height:0;border-bottom:12px solid #aaa;border-left:12px solid transparent}
.ca-students-width { max-width:70px; }

/*18-04-2020*/
.mngacrse{float: left;}
.viewcrse.dark-grn-txt-clr{float: right; color: #000; font-size: 18px;}
.viewcrse.dark-grn-txt-clr a{text-decoration: underline !important;}
.table-btn-right{right: 167px;}
div.dataTables_wrapper div.dataTables_length label{margin-bottom:0; margin-top:3px;}
table#manage-files tbody tr td:nth-of-type(2) a{display: block;}
table#manage-files tbody tr td:nth-of-type(2) .inline-edit-box{display: inline-block;}
table#manage-files tbody tr td:nth-of-type(2) a .inline-edit-box{float: left; padding-right: 20px; width: 90%;}
table#manage-files .info-icon { top: 2px; left: 2px; display: block;  float: right;}
.course-card p.course-listing-page { height: 78px;}
.grn-txt-clr.text-truncate a{text-overflow: ellipsis; overflow: hidden; width: 100%;}
.coursed p strong{font-weight: normal;}
.coursed p{color:#9b9ba0; font-style: italic;}
.coursed p:first-child{margin-bottom:  7px !important;}
.instructor_row{height: 65px;}
.dataTables_courses_filter label select{position: absolute; right: 0; top:2px; height:33px;}
.dataTables_courses_filter{padding-right: 65px;}
.dataTables_courses_filter .btn{height: 33px; padding-top: 0; padding-bottom:0; line-height: 33px; margin-top:2px !important; border-radius: 2px;}
.form-group .info-icon-block .info-icon{top:-27px;}


.dataTables_wrapper .dataTables_length {
    width: 100% !important;
    float: inherit;
}



/* --------------- 26052020 ------------------- */

.row_tooltip_settings{ width: auto; display: inline-block; position: relative; }
.row_tooltip_settings i{ position: absolute; right:-15px; top:0px; }



@media (min-width: 1200px) and (max-width: 1399px) {
#sidebar,#course-collapse-sidebar { height: 91%; }

}

@media (min-width: 992px) and (max-width: 1199px) {
#sidebar,#course-collapse-sidebar { height: 90%; }

}


@media(max-width:991px){
#main-block.togglemaincontent .toggle-icon > a { left:280px;}
.toggle-icon > a { position: fixed !important; left: 0px; top: 30% !important;}
#sidebar.togglesidebar { left: 0px; top: 0px !important; z-index: 99;}
#sidebar, #course-collapse-sidebar { height: calc(100vh - 0px) !important; position: fixed !important; top:0px !important;}
.viewcrse.dark-grn-txt-clr { font-size: 16px;}
.btn-inside-table {left: 0px;}
#filter_dropdown.btn-inside-table{ width:100% !important;}

}
@media(max-width:767px){
.events.small { max-height: 100%; height: auto;}
#organizerContainer{ margin-top:15px; margin-left:0px !important;}
ul.course-test-status .font-weight-bold { font-size: 15px;}


}

@media(max-width:420px){
p.header-text { font-size: 16px; line-height: 20px; text-align: right; width: 49%; top:5px;}


}

@media(max-width:389px){

.dataTables_wrapper .dataTables_length { width: 100% !important; float: left;}
div.dataTables_wrapper div.dataTables_length label { float: none;}
.viewcrse.dark-grn-txt-clr { font-size: 14px;}
.dataTables_wrapper .dataTables_filter { width: 100% !important; float: left;}
.dataTables_wrapper .dataTables_filter label{ width: 100% !important; float: left;}
.dataTables_wrapper .dataTables_filter label input[type=search] { width: 100% !important; float: left;}

}