<div id="sidebar" class="custom-collapsed-active" [ngClass]="{'togglesidebar': sidebarOpen}" *ngIf = "currentUser != null">
	<div class="sidebar-inner-block">
		<div id="accordion" *ngIf="currentUser['user_type'] == 'student'">
			<div class="card">
				<div class="card-header">
					<h5 class="mb-0">
						<a routerLink="/student_dashboard" class="btn-link">
							<i class="fa fa-pie-chart nrml-icon" aria-hidden="true"></i> Dashboard
							<div class="clearfix"></div>
						</a>
					</h5>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h5 class="mb-0">
						<a routerLink="/coming_soon" class="btn-link">
							<i class="fa fa-comments nrml-icon" aria-hidden="true"></i> Quizzes
							<div class="clearfix"></div>
						</a>
					</h5>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h5 class="mb-0">
						<a routerLink="/my_courses" class="btn-link">
							<i class="fa fa-book nrml-icon" aria-hidden="true"></i> Courses
							<div class="clearfix"></div>
						</a>
					</h5>
				</div>
			</div>

			<div class="card">
				<div class="card-header">
					<h5 class="mb-0">
						<a routerLink="/coming_soon" class="btn-link">
							<i class="fa fa-tasks nrml-icon" aria-hidden="true"></i> Assignments
							<div class="clearfix"></div>
						</a>
					</h5>
				</div>
			</div>

			<div class="card">
				<div class="card-header">
					<h5 class="mb-0">
						<a routerLink="/live_classes/enrolled" class="btn-link">
							<i class="fa fa-university nrml-icon" aria-hidden="true"></i> Manage live class	
							<div class="clearfix"></div>
						</a>
					</h5>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h5 class="mb-0">
						<a routerLink="/coming_soon" class="btn-link">
							<i class="fa fa-bar-chart nrml-icon" aria-hidden="true"></i> Performance Report
							<div class="clearfix"></div>
						</a>
					</h5>
				</div>
			</div>

			<div class="card">
				<div class="card-header">
					<h5 class="mb-0">
						<a routerLink="/file_library/recordings" class="btn-link">
							<i class="fa fa-microphone nrml-icon" aria-hidden="true"></i> Recordings	
							<div class="clearfix"></div>
						</a>
					</h5>
				</div>
			</div>
		</div>
		<ngb-accordion #acc="ngbAccordion" [closeOthers]="true" *ngIf="currentUser['user_type'] != 'student'">
		  <ngb-panel>
			<ng-template ngbPanelHeader>
				<h5 class="mb-0">
					<a routerLink="/dashboard" class="btn-link" *ngIf="currentUser['user_type'] == 'admin' || currentUser['user_type'] == 'superadmin'" >               
						<i class="fa fa-pie-chart nrml-icon" aria-hidden="true"></i> Dashboard
						<div class="clearfix"></div>
					</a>
					<a routerLink="/teacher_dashboard" class="btn-link" *ngIf="currentUser['user_type'] == 'teacher'" >               
						<i class="fa fa-pie-chart nrml-icon" aria-hidden="true"></i> Dashboard
						<div class="clearfix"></div>
					</a>
					<a routerLink="/student_dashboard" class="btn-link" *ngIf="currentUser['user_type'] == 'student'" >               
						<i class="fa fa-pie-chart nrml-icon" aria-hidden="true"></i> Dashboard
						<div class="clearfix"></div>
					</a>
				</h5>
			</ng-template>
		  </ngb-panel>
		  
		  <!-- <ngb-panel >
			<ng-template ngbPanelHeader>
				<h5 class="mb-0">
					<a href="javascript:void(0)" class="btn-link">               
						<i class="fa fa-comments" aria-hidden="true"></i> Messages
						<div class="clearfix"></div>
					</a>
				</h5>
			</ng-template>
		  </ngb-panel> -->
		  <ngb-panel id="settingsMenu" *ngIf="currentUser['user_type'] == 'admin' || currentUser['user_type'] == 'superadmin'">
			<ng-template ngbPanelHeader let-opened="opened">
			  <h5 class="mb-0" (click)="acc.toggle('settingsMenu')" >
				 <a href="javascript:void(0)" class="btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse2" [ngClass] = "opened ? 'opened' : 'collapsed'">               
					<i class="fa fa-wrench nrml-icon" aria-hidden="true"></i> Account And Settings <i class="fa pull-right circle-icon" aria-hidden="true"></i>
					<div class="clearfix"></div>
				  </a>
			  </h5>
			</ng-template>
			<ng-template ngbPanelContent>
			  <ul class="sub-link-list">
					<li> <a routerLink="/logo-settings"> Logo Settings </a> </li>
					<li> <a routerLink="/interface-language"> Interface Language </a> </li>
					<li> <a routerLink="/notifications"> Notifications </a> </li>
					<li> <a routerLink="/login-settings"> Login Page Settings </a> </li>
					<li> <a routerLink="/domain"> Domain Mapping </a> </li>
					<li> <a routerLink="/groups"> Create/Manage Groups </a> </li>
					<li> <a routerLink="/user-lists"> Create/Manage Users </a> </li>
					<li> <a routerLink="/coming_soon"> Look and Feel </a> </li>
					<li> <a routerLink="/coming_soon"> Role Management </a> </li>
					<li> <a routerLink="/cms_pages"> CMS Pages </a> </li>
					<li> <a routerLink="/storage"> Storage Management </a> </li>
				</ul>
			</ng-template>
		  </ngb-panel>
		  <ngb-panel id="libraryMenu">
			<ng-template ngbPanelHeader let-opened="opened">
			  <h5 class="mb-0" (click)="acc.toggle('libraryMenu')" >
				 <a href="javascript:void(0)" class="btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse2" [ngClass] = "opened ? 'opened' : 'collapsed'">               
					<i class="fa fa-leanpub nrml-icon" aria-hidden="true"></i> Libraries <i class="fa pull-right circle-icon" aria-hidden="true"></i>
					<div class="clearfix"></div>
				  </a>
			  </h5>
			</ng-template>
			<ng-template ngbPanelContent>
				<ul class="sub-link-list">
					<li> <a routerLink="/file_library"> File And Media Library </a> </li>					
					<li> <a routerLink="/coming_soon"> Question Bank Library </a> </li>
					<li *ngIf="currentUser['user_type'] == 'admin' || currentUser['user_type'] == 'superadmin'"><a routerLink="/certificate"> Certificate Library </a></li>
				</ul>
			</ng-template>
		  </ngb-panel>
		  <ngb-panel id="testMenu">
			<ng-template ngbPanelHeader let-opened="opened">
			  <h5 class="mb-0" (click)="acc.toggle('testMenu')" >
				 <a href="javascript:void(0)" class="btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse2" [ngClass] = "opened ? 'opened' : 'collapsed'">               
					<i class="fa fa-comments nrml-icon" aria-hidden="true"></i> Quizzes <i class="fa pull-right circle-icon" aria-hidden="true"></i>
					<div class="clearfix"></div>
				  </a>
			  </h5>
			</ng-template>
			<ng-template ngbPanelContent>
			  <ul class="sub-link-list">
					<li> <a routerLink="/coming_soon"> Create New Quiz</a> </li>
					<li> <a routerLink="/coming_soon"> Manage Quizzes</a> </li>
					<li *ngIf="currentUser['user_type'] == 'teacher'"><a routerLink="/coming_soon"> My Quizzes</a> </li>
				</ul>
			</ng-template>
		  </ngb-panel>

		  <ngb-panel id="assignmentsMenu">
			<ng-template ngbPanelHeader let-opened="opened">
			  <h5 class="mb-0" (click)="acc.toggle('assignmentsMenu')" >
				 <a href="javascript:void(0)" class="btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse2" [ngClass] = "opened ? 'opened' : 'collapsed'">               
					<i class="fa fa-tasks nrml-icon" aria-hidden="true"></i> Assignments <i class="fa pull-right circle-icon" aria-hidden="true"></i>
					<div class="clearfix"></div>
				  </a>
			  </h5>
			</ng-template>
			<ng-template ngbPanelContent>
			  <ul class="sub-link-list">
					<li> <a routerLink="/coming_soon"> Create New Assignment </a> </li>
					<li> <a routerLink="/coming_soon"> Manage Assignments</a> </li>
					<li *ngIf="currentUser['user_type'] == 'teacher'"> <a routerLink="/coming_soon"> My Assignments </a> </li>
				</ul>
			</ng-template>
		  </ngb-panel>

		  <ngb-panel id="coursesMenu">
			<ng-template ngbPanelHeader let-opened="opened">
			  <h5 class="mb-0" (click)="acc.toggle('coursesMenu')" >
				 <a href="javascript:void(0)" class="btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse2" [ngClass] = "opened ? 'opened' : 'collapsed'">               
					<i class="fa fa-book nrml-icon" aria-hidden="true"></i> Courses <i class="fa pull-right circle-icon" aria-hidden="true"></i>
					<div class="clearfix"></div>
				  </a>
			  </h5>
			</ng-template>
			<ng-template ngbPanelContent>
			  <ul class="sub-link-list">
					<li *ngIf="currentUser['user_type'] == 'admin' || currentUser['user_type'] == 'superadmin'"> <a routerLink="/add-course"> Create New Course </a> </li>
					<li> <a routerLink="/courses_list"> Manage Courses </a> </li>
					<li *ngIf="currentUser['user_type'] == 'teacher'"> <a routerLink="/my_courses"> My Courses </a> </li>
				</ul>
			</ng-template>
		  </ngb-panel>
		  <ngb-panel id="virtualClassroomsMenu">
			<ng-template ngbPanelHeader let-opened="opened">
			  <h5 class="mb-0" (click)="acc.toggle('virtualClassroomsMenu')" >
				 <a href="javascript:void(0)" class="btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse2" [ngClass] = "opened ? 'opened' : 'collapsed'">               
					<i class="fa fa-university nrml-icon" aria-hidden="true"></i> Virtual Classrooms <i class="fa pull-right circle-icon" aria-hidden="true"></i>
					<div class="clearfix"></div>
				  </a>
			  </h5>
			</ng-template>
			<ng-template ngbPanelContent>
			  <ul class="sub-link-list">
					<li> <a routerLink="/live_classes/add"> Schedule New Live Class</a> </li>
					<li> <a routerLink="/live_classes"> Manage Live Class </a> </li>
					<li *ngIf="currentUser['user_type'] == 'teacher'"> <a routerLink="/live_classes/enrolled"> My Live Classes </a> </li>
					<li *ngIf="currentUser['user_type'] == 'teacher'"> <a routerLink="/file_library/recordings"> My Recordings </a> </li>
				</ul>
			</ng-template>
		  </ngb-panel>
		  <ngb-panel id="reportsMenu">
			<ng-template ngbPanelHeader let-opened="opened">
			  <h5 class="mb-0" (click)="acc.toggle('reportsMenu')" >
				 <a href="javascript:void(0)" class="btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse2" [ngClass] = "opened ? 'opened' : 'collapsed'">               
					<i class="fa fa-bar-chart nrml-icon" aria-hidden="true"></i> Reports <i class="fa pull-right circle-icon" aria-hidden="true"></i>
					<div class="clearfix"></div>
				  </a>
			  </h5>
			</ng-template>
			<ng-template ngbPanelContent>
			  <ul class="sub-link-list">
			  		<li *ngIf="currentUser['user_type'] == 'admin' || currentUser['user_type'] == 'superadmin'"> <a routerLink="/coming_soon"> Statistical Report</a> </li>
					<li> <a routerLink="/coming_soon"> Performance Report </a> </li>
				</ul>
			</ng-template>
		  </ngb-panel>
		</ngb-accordion>
		<div class="clearfix"></div>
	</div>
</div>
