<div class="container-fluid">
	<div class="user-details-tab-head">
		<div class="py-1 px-2">
			<div class="row">
				<div class="col-6">
					<h5 class="m-0 mt-1 p-0 font-weight-bold"><i class="fa fa-pie-chart nrml-icon" aria-hidden="true"></i> Dashboard </h5>
				</div>
				<div class="col-6">
					<div class="text-right">
						<a href="javascript:void(0);" title="Referesh Button" class="referesh-btn" (click)="getSiteStats()"> <i class="fa fa-refresh" aria-hidden="true"></i> </a>
					</div>
				</div>
			</div>
		</div>
		<div class="user-details-body p-2 bg-white text-center border-clr-lgtgrn">
			<div class="row">	
				<div class="col-md-4">
					<h6 class="grn-txt-clr"> Users in Live Class </h6>
					<div class="row">
						<div class="col-md-8">
							<canvas baseChart [data]="liveClassUsersData"  [chartType]="userDetailsType" [options]="userDetailsOptions" [plugins]="userDetailsPlugins" [legend]="userDetailsLegend"  [colors]="userDetailsColor" [labels]="liveClassUsersLabels" width="800" height="450"></canvas>
						</div>
						<div class="col-md-4">
							<h2 class="pie-filled text-right"> <span class="grn-txt-clr text-left"> {{liveClassUsersData[0]}} </span> /{{liveClassUsersData[1]}} </h2>
						</div>
					</div>
				</div>	
				<div class="col-md-4">
					<h6 class="grn-txt-clr"> Live Class Running </h6>
					<div class="row">
						<div class="col-md-8">
							<canvas baseChart [data]="liveClassRunningData"  [chartType]="userDetailsType" [options]="userDetailsOptions" [plugins]="userDetailsPlugins" [legend]="userDetailsLegend" [colors]="userDetailsColor" [labels]="liveClassRunningLabels" width="800" height="450"></canvas>
<!--
							<canvas id="pie-chart2" width="800" height="450"></canvas>
-->
						</div>
						<div class="col-md-4">
							<h2 class="pie-filled text-right"> <span class="grn-txt-clr text-left"> {{liveClassRunningData[0]}} </span> /{{liveClassRunningData[1]}} </h2>
						</div>
					</div>
				</div>	
				<div class="col-md-4">
					<h6 class="grn-txt-clr"> No.of Site Visitors </h6>
					<h2 class="visitor-count"> {{site_visitors}} </h2>
				</div>
			</div>
		</div>                    
	</div>  
	<div class="date-today-events wrapper mt-4">
	
		<div class="row">
			<div class="col-md-6">
				<div id="calendarContainer"></div>
			</div>
			<div class="col-md-6">
				<div id="organizerContainer" style="margin-left: 8px;"></div>
				
					<div class="icon-for-details text-center">
						<div class="row">
							<div class="col-4">
								<span class="green-txt-clr"> <i class="fa fa-play-circle-o" aria-hidden="true"></i> Starting Date </span>  
							</div>
							<div class="col-4">
								<span class="red-txt-clr"> <i class="fa fa-stop-circle-o" aria-hidden="true"></i> Ending Date </span>
							</div>
							<div class="col-4">
								<span class="purple-txt-clr"> <i class="fa fa-refresh" aria-hidden="true"></i> In Progress </span> 
							</div>
						</div>
					</div>
				   
				</div>
			</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<!-- <h6 class="mt-4 mb-3 font-weight-normal grn-txt-clr"> <a href="javascript:void(0);"> <i class="fa fa-retweet" aria-hidden="true"></i> Sync with Google Calendar  </a> </h6> -->
		</div>
		<div class="col-md-6">
			<h6 class="mt-4 mb-3 font-weight-normal grn-txt-clr text-right"> <a href="javascript:void(0);" (click)="refreshWidgets()"> Reset widget layout <i class="fa fa-refresh" aria-hidden="true"></i> </a> </h6>
		</div>
	</div>
	<div mdbModal #deleteWidgetModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      
	      <div class="modal-header">
	        <h5 class="modal-title " id="myModalLabel">Remove {{currentWidget.name}} from dashboard</h5>
	      <button type="button" class="close-circle pull-right" aria-label="Close" (click)="deleteWidgetModal.hide()">
	        <span aria-hidden="true">×</span> 
	      </button>
	      
	      </div>
	       <div class="modal-body msg-alert-block text-center">
	      <p> Are you sure you want to remove {{currentWidget.name}} from the dashboard? </p>
	      
	      <button type="button" aria-label="Close" (click)="deleteWidgetModal.hide()" class=" btn btn-no" mdbWavesEffect>No</button>
	      <button type="button" class="btn"  (click)="deleteWidget(currentWidget);deleteWidgetModal.hide()" mdbWavesEffect>Yes</button>
	       </div>
	    </div>
    </div>
  </div>
	<div class="chart-groups">
		<div class="row" #sortable_container>
			<div class="col-md-6 ui-state-default" data-position="0" [ngClass]="{'d-none': widgetConfig.widgets[0].deleted}">
			  <div class="chart-block">
				<div class="collapse" [ngClass]="{'show': widgetConfig.widgets[0].show}">
					<canvas *ngIf="storageLabels.length" baseChart [datasets]="storageData"  [chartType]="storageType" [options]="storageOptions" [plugins]="storagePlugins" [labels]="storageLabels" id="storage-gb" width="800" height="450" ></canvas>
					<h3 *ngIf="storageLabels.length <=0" class="pt-5 text-center">No data to display</h3>
				</div>
				<div class="chart-name drag-block">
					<div class="row">
						<div class="col-8">
							<h6 class="m-0 font-weight-normal"> User Data Storage in GB </h6>
						</div>
						<div class="col-4 text-right">
							<i class="fa fa-arrows mx-1 handle" aria-hidden="true"></i> <a href="javascript:void(0)" class="hover-txt-wht" (click)="toggleWidget(0)"> <i class="fa fa-bars mx-1" aria-hidden="true"></i> </a>  <a href="javascript:void(0);" class="hover-txt-wht" (click)="currentWidget={name: 'User Data Storage in GB',position: 0};deleteWidgetModal.show()"> <i class="fa fa-trash-o mx-1" aria-hidden="true"></i> </a>
						</div>
						</div> 
					</div>
				</div>
			</div>
			<div class="col-md-6 ui-state-default" data-position="1" [ngClass]="{'d-none': widgetConfig.widgets[1].deleted}">
			  <div class="chart-block">
				<div class="collapse"  [ngClass]="{'show': widgetConfig.widgets[1].show}">
					<canvas baseChart [data]="totalEnrollmentData"  [chartType]="totalEnrollmentType" [options]="pieChartOptions" [plugins]="totalEnrollmentPlugins" [legend]="totalEnrollmentLegend"  [colors]="totalEnrollmentColor"  [labels]="totalEnrollmentLabels"  id="total-enrollments" width="800" height="450"></canvas>
				</div>
				<div class="chart-name drag-block">
					<div class="row">
						<div class="col-8">
							<h6 class="m-0 font-weight-normal"> Enrollments </h6>
						</div>
						<div class="col-4 text-right">
							<i class="fa fa-arrows mx-1 handle" aria-hidden="true"></i> <a href="javascript:void(0)" class="hover-txt-wht" (click)="toggleWidget(1)"> <i class="fa fa-bars mx-1" aria-hidden="true"></i> </a>  <a href="javascript:void(0);" class="hover-txt-wht" (click)="currentWidget={name: 'Total Enrollments',position: 1};deleteWidgetModal.show()"> <i class="fa fa-trash-o mx-1" aria-hidden="true"></i> </a>
						</div>
						</div> 
					</div>
				</div>
			</div>
			<div class="col-md-6 ui-state-default" data-position="2" [ngClass]="{'d-none': widgetConfig.widgets[2].deleted}">
			  <div class="chart-block">
				<div class="collapse"  [ngClass]="{'show': widgetConfig.widgets[2].show}">
					<canvas *ngIf="completedLiveClassLabels.length" baseChart [datasets]="completedLiveClassData"  [chartType]="completedLiveClassType" [options]="completedLiveClassOptions" [plugins]="completedLiveClassPlugins" [labels]="completedLiveClassLabels"  width="800" height="450" ></canvas>
					<h3 *ngIf="completedLiveClassLabels.length <=0" class="pt-5 text-center">No data to display</h3>
				</div>
				<div class="chart-name drag-block">
					<div class="row">
						<div class="col-8">
							<h6 class="m-0 font-weight-normal"> Completed Live Class Hours </h6>
						</div>
						<div class="col-4 text-right">
							<i class="fa fa-arrows mx-1 handle" aria-hidden="true"></i> <a href="javascript:void(0)" class="hover-txt-wht" (click)="toggleWidget(2)"> <i class="fa fa-bars mx-1" aria-hidden="true"></i> </a>  <a href="javascript:void(0);" class="hover-txt-wht" (click)="currentWidget={name: 'Completed Live Class Hours',position: 2};deleteWidgetModal.show()"> <i class="fa fa-trash-o mx-1" aria-hidden="true"></i> </a>
						</div>
					</div> 
				</div>
			  </div>
			</div>
			<div class="col-md-6 ui-state-default" data-position="3" [ngClass]="{'d-none': widgetConfig.widgets[3].deleted}">
			  <div class="chart-block">
				<div class="collapse"  [ngClass]="{'show': widgetConfig.widgets[3].show}">
					<canvas baseChart [data]="numberOfLiveClassData"  [chartType]="numberOfLiveClassType" [options]="pieChartOptions" [plugins]="numberOfLiveClassPlugins" [legend]="numberOfLiveClassLegend"  [labels]="numberOfLiveClassLabels"  [colors]="numberOfLiveClassColor" class="chartjs-render-monitor" width="800" height="450" id="number-of-class"></canvas>
				</div>
				<div class="chart-name drag-block">
					<div class="row">
						<div class="col-8">
							<h6 class="m-0 font-weight-normal"> Live Classes </h6>
						</div>
						<div class="col-4 text-right">
							<i class="fa fa-arrows mx-1 handle" aria-hidden="true"></i> <a href="javascript:void(0)" class="hover-txt-wht" (click)="toggleWidget(3)"> <i class="fa fa-bars mx-1" aria-hidden="true"></i> </a>  <a href="javascript:void(0);" class="hover-txt-wht" (click)="currentWidget={name: 'Number of Live Classes',position: 3};deleteWidgetModal.show()"> <i class="fa fa-trash-o mx-1" aria-hidden="true"></i> </a>
						</div>
					</div> 
				</div>
			  </div>
			</div>
			<div class="col-md-6 ui-state-default" data-position="4" [ngClass]="{'d-none': widgetConfig.widgets[4].deleted}">
			  <div class="chart-block">
					<div class="start-rateing-review top-ranked collapse" [ngClass]="{'show': widgetConfig.widgets[4].show}">
						<ul *ngIf="topRankedTeachers.length">
							<li *ngFor="let teacher of topRankedTeachers; "> 
								<div class="row">
									<div class="col-8">
										<h5 class="font-weight-normal m-0"> {{teacher.detail.firstname+ ' '+teacher.detail.lastname |titlecase}} </h5>
									</div>
									<div class="col-4">
										<div class="rateing-star">
											<span class="rated-block"><ngb-rating [(rate)]=currentRate></ngb-rating></span>

										</div>
									</div>
								</div>
							</li>
						</ul>
						<h3 *ngIf="topRankedTeachers.length <=0" class="pt-2 text-center text-dark">No data to display</h3>
					</div>
				  <div class="chart-name drag-block">
					<div class="row">
						<div class="col-8">
							<h6 class="m-0 font-weight-normal"> Teacher Ranking </h6>
						</div>
						<div class="col-4 text-right">
							<i class="fa fa-arrows mx-1 handle" aria-hidden="true"></i> <a href="javascript:void(0)" class="hover-txt-wht" (click)="toggleWidget(4)"> <i class="fa fa-bars mx-1" aria-hidden="true"></i> </a>  <a href="javascript:void(0);" class="hover-txt-wht" (click)="currentWidget={name: 'Total Ranked Teachers',position: 4};deleteWidgetModal.show()"> <i class="fa fa-trash-o mx-1" aria-hidden="true"></i> </a>
						</div>
					</div> 
				  </div>
			  </div>
			</div>
			<div class="col-md-6 ui-state-default" data-position="5" [ngClass]="{'d-none': widgetConfig.widgets[5].deleted}">
			  <div class="chart-block">
				<div class="collapse"  [ngClass]="{'show': widgetConfig.widgets[5].show}">
					<canvas baseChart [data]="totalCoursesData"  [chartType]="totalCoursesType" [options]="pieChartOptions" [plugins]="totalCoursesPlugins" [legend]="totalCoursesLegend" [labels]="totalCoursesLabels" [colors]="totalCoursesColor" class="chartjs-render-monitor" width="800" height="450" id="total-courses"></canvas>
				</div>
				<div class="chart-name drag-block">
					<div class="row">
						<div class="col-8">
							<h6 class="m-0 font-weight-normal"> Courses </h6>
						</div>
						<div class="col-4 text-right">
							<i class="fa fa-arrows mx-1 handle" aria-hidden="true"></i> <a href="javascript:void(0)" class="hover-txt-wht" (click)="toggleWidget(5)"> <i class="fa fa-bars mx-1" aria-hidden="true"></i> </a>  <a href="javascript:void(0);" class="hover-txt-wht" (click)="currentWidget={name: 'Total Courses',position: 5};deleteWidgetModal.show()"> <i class="fa fa-trash-o mx-1" aria-hidden="true"></i> </a>
						</div>
					</div> 
				</div>
			  </div>
			</div>
			<div class="col-md-12 ui-state-default" data-position="6" [ngClass]="{'d-none': widgetConfig.widgets[6].deleted}">
			  <div class="chart-block">
				<div class="top-ranked collapse"  [ngClass]="{'show': widgetConfig.widgets[6].show}">
					<div class="row" *ngIf="topRankedCourses.length">
						<div class="col-md-3"  *ngFor="let course of topRankedCourses; ">
							<div class="top-rank-block">
								<div class="img-block">
									<img src="/assets/images/noimage.jpg" *ngIf='!course.course_image'>
									<img [src]="course.course_image" *ngIf='course.course_image'>
								</div>
								<div class="p-2">
									<h6 class="grn-txt-clr font-weight-normal"> <a routerLink='/course_detail/{{course.id}}'>  {{course.course_title}} </a> </h6>
									<i class="author"> - {{course.assigned_teacher}} </i>
									<div class="row mt-1">
										<div class="col-sm-7">
											<div class="rateing-star">
												<span class="rated-block"><ngb-rating [(rate)]=course.total_avg></ngb-rating></span>
											</div>
										</div>
										<div class="col-sm-5">
											<div class="review-txt text-right">{{course.total_reviews}} Reviews </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<h3 *ngIf="topRankedCourses.length <=0" class="pt-2 text-center text-dark">No data to display</h3>
				</div>
				<div class="chart-name drag-block">
					<div class="row">
						<div class="col-8">
							<h6 class="m-0 font-weight-normal"> Top Ranked Courses </h6>
						</div>
						<div class="col-4 text-right">
							<i class="fa fa-arrows mx-1 handle" aria-hidden="true"></i> <a href="javascript:void(0)" class="hover-txt-wht" (click)="toggleWidget(6)"> <i class="fa fa-bars mx-1" aria-hidden="true"></i> </a>  <a href="javascript:void(0);" class="hover-txt-wht" (click)="currentWidget={name: 'Top Ranked Courses',position: 6};deleteWidgetModal.show()"> <i class="fa fa-trash-o mx-1" aria-hidden="true"></i> </a>
						</div>
					</div> 
				</div>
			  </div>
			</div>
		</div>
	</div>
</div>
