<div class="container-fluid">
    <div class="date-today-events wrapper mt-4">
        <div class="row">
            <div class="col-md-6">
                <div id="calendarContainer"></div>
            </div>
            <div class="col-md-6">
                <div id="organizerContainer" style="margin-left: 8px;"></div>
                
                    <div class="icon-for-details text-center">
                        <div class="row">
                            <div class="col-4">
                                <span class="green-txt-clr"> <i class="fa fa-play-circle-o" aria-hidden="true"></i> Starting Date </span>  
                            </div>
                            <div class="col-4">
                                <span class="red-txt-clr"> <i class="fa fa-stop-circle-o" aria-hidden="true"></i> Ending Date </span>
                            </div>
                            <div class="col-4">
                                <span class="purple-txt-clr"> <i class="fa fa-refresh" aria-hidden="true"></i> In Progress </span> 
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- <h6 class="mt-4 mb-3 font-weight-normal grn-txt-clr"> <a href="javascript:void(0);"> <i class="fa fa-retweet" aria-hidden="true"></i> Sync with Google Calendar  </a> </h6> -->
        </div>
        <div class="col-md-6">
            <h6 class="mt-4 mb-3 font-weight-normal grn-txt-clr text-right"> <a href="javascript:void(0);" (click)="refreshWidgets()"> Reset widget layout <i class="fa fa-refresh" aria-hidden="true"></i> </a> </h6>
        </div>
    </div>
    <div mdbModal #deleteWidgetModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          
          <div class="modal-header">
            <h5 class="modal-title " id="myModalLabel">Remove {{currentWidget.name}} from dashboard</h5>
          <button type="button" class="close-circle pull-right" aria-label="Close" (click)="deleteWidgetModal.hide()">
            <span aria-hidden="true">×</span> 
          </button>
          
          </div>
           <div class="modal-body msg-alert-block text-center">
          <p> Are you sure you want to remove {{currentWidget.name}} from the dashboard? </p>
          
          <button type="button" aria-label="Close" (click)="deleteWidgetModal.hide()" class=" btn btn-no" mdbWavesEffect>No</button>
          <button type="button" class="btn"  (click)="deleteWidget(currentWidget);deleteWidgetModal.hide()" mdbWavesEffect>Yes</button>
           </div>
        </div>
    </div>
  </div>
    <div class="chart-groups">
        <div class="row" #sortable_container>
            <div class="col-md-6 ui-state-default" data-position="0" [ngClass]="{'d-none': widgetConfig.widgets[0].deleted}">
              <div class="chart-block">
                <div class="collapse" [ngClass]="{'show': widgetConfig.widgets[0].show}">
                    <canvas baseChart [data]="numberOfCourseData"  [chartType]="numberOfCourseType" [options]="pieChartOptions" [plugins]="numberOfCoursePlugins" [legend]="numberOfCourseLegend"  [labels]="numberOfCourseLabels"  [colors]="numberOfCourseColor" class="chartjs-render-monitor" width="800" height="450" id="number-of-class"></canvas>
                </div>
                <div class="chart-name drag-block">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="m-0 font-weight-normal"> Courses </h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fa fa-arrows mx-1" aria-hidden="true"></i> <a href="javascript:void(0)" class="hover-txt-wht" (click)="toggleWidget(0)"> <i class="fa fa-bars mx-1" aria-hidden="true"></i> </a>  <a href="javascript:void(0);" class="hover-txt-wht" (click)="currentWidget={name: 'User Data Storage in GB',position: 0};deleteWidgetModal.show()"> <i class="fa fa-trash-o mx-1" aria-hidden="true"></i> </a>
                        </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-md-6 ui-state-default" data-position="1" [ngClass]="{'d-none': widgetConfig.widgets[1].deleted}">
              <div class="chart-block">
                <div class="collapse"  [ngClass]="{'show': widgetConfig.widgets[1].show}">
                    <canvas baseChart [data]="numberOfCourseData"  [chartType]="numberOfCourseType" [options]="pieChartOptions" [plugins]="numberOfCoursePlugins" [legend]="numberOfCourseLegend"  [labels]="numberOfCourseLabels"  [colors]="numberOfCourseColor" class="chartjs-render-monitor" width="800" height="450" id="number-of-class"></canvas>
                </div>
                <div class="chart-name drag-block">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="m-0 font-weight-normal"> Assignments </h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fa fa-arrows mx-1" aria-hidden="true"></i> <a href="javascript:void(0)" class="hover-txt-wht" (click)="toggleWidget(1)"> <i class="fa fa-bars mx-1" aria-hidden="true"></i> </a>  <a href="javascript:void(0);" class="hover-txt-wht" (click)="currentWidget={name: 'Assignments',position: 1};deleteWidgetModal.show()"> <i class="fa fa-trash-o mx-1" aria-hidden="true"></i> </a>
                        </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-md-6 ui-state-default" data-position="2" [ngClass]="{'d-none': widgetConfig.widgets[2].deleted}">
              <div class="chart-block">
                <div class="collapse"  [ngClass]="{'show': widgetConfig.widgets[2].show}">
                    <canvas baseChart [data]="numberOfCourseData"  [chartType]="numberOfCourseType" [options]="pieChartOptions" [plugins]="numberOfCoursePlugins" [legend]="numberOfCourseLegend"  [labels]="numberOfCourseLabels"  [colors]="numberOfCourseColor" class="chartjs-render-monitor" width="800" height="450" id="number-of-class"></canvas>
                </div>
                <div class="chart-name drag-block">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="m-0 font-weight-normal"> Tests </h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fa fa-arrows mx-1" aria-hidden="true"></i> <a href="javascript:void(0)" class="hover-txt-wht" (click)="toggleWidget(2)"> <i class="fa fa-bars mx-1" aria-hidden="true"></i> </a>  <a href="javascript:void(0);" class="hover-txt-wht" (click)="currentWidget={name: 'Tests',position: 2};deleteWidgetModal.show()"> <i class="fa fa-trash-o mx-1" aria-hidden="true"></i> </a>
                        </div>
                    </div> 
                </div>
              </div>
            </div>
            <div class="col-md-6 ui-state-default" data-position="3" [ngClass]="{'d-none': widgetConfig.widgets[3].deleted}">
              <div class="chart-block">
                <div class="collapse start-rateing-review top-ranked collapse"  [ngClass]="{'show': widgetConfig.widgets[3].show}">
                    <ul class="course-test-status">
                        <li *ngFor="let course of courses"> 
                            <div class="row">
                                <div class="col-6">
                                    <h6 class="font-weight-bold m-0"> <i class="fa fa-book" aria-hidden="true"></i> {{course.course_title}} </h6>
                                </div>
                                <div class="col-4">
                                    <div class="progress-bar">
                                      <div class="progress-cover" [style]="getWidthPercent(course.complete_percentage)"></div>
                                      <div class="progress-percent double-info">
                                        <div class="pull-right"> {{course.complete_percentage}}% </div> 
                                        <div class="pull-left">  </div>
                                        <div class="clearfix"></div>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-2 text-right">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="chart-name drag-block">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="m-0 font-weight-normal"> Course & Test Status </h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fa fa-arrows mx-1" aria-hidden="true"></i> <a href="javascript:void(0)" class="hover-txt-wht" (click)="toggleWidget(3)"> <i class="fa fa-bars mx-1" aria-hidden="true"></i> </a>  <a href="javascript:void(0);" class="hover-txt-wht" (click)="currentWidget={name: 'Course & Test Status',position: 3};deleteWidgetModal.show()"> <i class="fa fa-trash-o mx-1" aria-hidden="true"></i> </a>
                        </div>
                    </div> 
                </div>
              </div>
            </div>
            <div class="col-md-6 ui-state-default" data-position="4" [ngClass]="{'d-none': widgetConfig.widgets[4].deleted}">
              <div class="chart-block">
                    <div class="start-rateing-review top-ranked collapse" [ngClass]="{'show': widgetConfig.widgets[4].show}">
                        <ul>
                            <li> 
                                <div class="row">
                                    <div class="col-8">
                                        <h5 class="font-weight-normal m-0"> Sudamani </h5>
                                    </div>
                                    <div class="col-4">
                                        <div class="rateing-star">
                                            <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                  <div class="chart-name drag-block">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="m-0 font-weight-normal"> Certificates </h6>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fa fa-arrows mx-1" aria-hidden="true"></i> <a href="javascript:void(0)" class="hover-txt-wht" (click)="toggleWidget(4)"> <i class="fa fa-bars mx-1" aria-hidden="true"></i> </a>  <a href="javascript:void(0);" class="hover-txt-wht" (click)="currentWidget={name: 'Certificates',position: 4};deleteWidgetModal.show()"> <i class="fa fa-trash-o mx-1" aria-hidden="true"></i> </a>
                        </div>
                    </div> 
                  </div>
              </div>
            </div>
            
        </div>
    </div>
</div>
