<div class="container-fluid">
  <div class="user-details-tab-head">
    <div class="py-1 px-2">
      <div class="row">
        <div class="col-12">
          <h5 class="m-0 mt-1 p-0 font-weight-bold">
            <i class="fa fa-wrench" aria-hidden="true"></i> Notifications
          </h5>
        </div>
      </div>
    </div>
    <div class="user-details-body p-2">
      <div class="row">
        <div class="col-sm-12">
          <p class="details-type">
            Create and configure custom notification templates for the institution
          </p>
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs mt-2 ml-4 responsive-nav-tab">
      <!-- <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': currentTab=='account'}" (click)="currentTab='account';resetSelected();">Account</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': currentTab=='user'}" (click)="currentTab='user';resetSelected()">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': currentTab=='course'}" (click)="currentTab='course';resetSelected()">Course</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled text-muted" [ngClass]="{'active': currentTab=='assignment'}">Assignment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled text-muted" [ngClass]="{'active': currentTab=='quiz'}">Test / Quiz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': currentTab=='class'}" (click)="currentTab='class';resetSelected()">Virtual Classroom</a>
      </li>
    </ul>
  </div>
  <div class="tab-content pb-3 ml-4 mt-3 relative-block "  *ngIf="templates['USER_CREATE']">
    <div class="tab-pane" [ngClass]="{'active': currentTab=='account'}">
        <div class="notification_group_list py-5">
            <ul>
              <li>
                <span class="custom-control custom-switch pull-left">
                  <input type="checkbox" class="custom-control-input" [value]="true" (change)="saveTemplate(templates['USER_CREATE'])" [(ngModel)]="templates['USER_CREATE'].status" id="customSwitch1" />
                  <label class="custom-control-label" for="customSwitch1"></label>
                </span>
                <div class="notification-title">
                  <h5>Notify when a new user account is created</h5>
                  <!-- <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="resetTemplate(templates['USER_CREATE'])">Reset</a> -->
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="selectedTemplate=templates['USER_CREATE'];editTemplateModal.show();">Edit
                    Template</a>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <span class="custom-control custom-switch pull-left">
                  <input type="checkbox" class="custom-control-input" [value]="true" (change)="saveTemplate(templates['USER_DELETE'])" [(ngModel)]="templates['USER_DELETE'].status" id="customSwitch2" />
                  <label class="custom-control-label" for="customSwitch2"></label>
                </span>
                <div class="notification-title">
                  <h5>Notify when a user account is deleted</h5>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="selectedTemplate=templates['USER_DELETE'];editTemplateModal.show();">Edit
                    Template</a>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <span class="custom-control custom-switch pull-left">
                  <input type="checkbox" class="custom-control-input" [value]="true" (change)="saveTemplate(templates['NEW_USER_LOGIN'])" [(ngModel)]="templates['NEW_USER_LOGIN'].status" id="customSwitch3" />
                  <label class="custom-control-label" for="customSwitch3"></label>
                </span>
                <div class="notification-title">
                  <h5>Notify when a new user is logged into the site</h5>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="selectedTemplate=templates['NEW_USER_LOGIN'];editTemplateModal.show();">Edit
                    Template</a>
                  <div class="clearfix"></div>
                </div>
              </li>
            </ul>
        </div>
    </div>
    <div class="tab-pane" [ngClass]="{'active': currentTab=='user'}">
        <div class="notification_group_list py-5">
            <ul>
              
              <li>
                <span class="custom-control custom-switch pull-left">
                  <input type="checkbox" class="custom-control-input" [value]="true" (change)="saveTemplate(templates['NEW_USER_WELCOME'])" [(ngModel)]="templates['NEW_USER_WELCOME'].status" id="customSwitch4" />
                  <label class="custom-control-label" for="customSwitch4"></label>
                </span>
                <div class="notification-title">
                  <h5>Send welcome mail to new users</h5>                  
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="selectedTemplate=templates['NEW_USER_WELCOME'];editTemplateModal.show();">Edit
                    Template</a>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="resetTemplateModal.show();resetTemplate(templates['NEW_USER_WELCOME'], resetTemplateModal);">{{reset}}</a>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <span class="custom-control custom-switch pull-left">
                  <input type="checkbox" class="custom-control-input" disabled="" checked="" id="customSwitch5" />
                  <label class="custom-control-label" for="customSwitch5"></label>
                </span>
                <div class="notification-title">
                  <h5>Send activation mail to existing users from database</h5>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="selectedTemplate=templates['EXISTING_USER_ACTIVATE'];editTemplateModal.show();">Edit
                    Template</a>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="resetTemplateModal.show();resetTemplate(templates['EXISTING_USER_ACTIVATE'], resetTemplateModal);">{{reset}}</a>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <span class="custom-control custom-switch pull-left">
                  <input type="checkbox" class="custom-control-input" disabled="" checked="" id="customSwitch6" />
                  <label class="custom-control-label" for="customSwitch6"></label>
                </span>
                <div class="notification-title">
                  <h5>Send password reset verification code</h5>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="selectedTemplate=templates['PASSWORD_RESET'];editTemplateModal.show();">Edit
                    Template</a>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="resetTemplateModal.show();resetTemplate(templates['PASSWORD_RESET'], resetTemplateModal);">{{reset}}</a>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <span class="custom-control custom-switch pull-left">
                  <input type="checkbox" class="custom-control-input" [value]="true" (change)="saveTemplate(templates['USER_DELETE_BY_ADMIN'])" [(ngModel)]="templates['USER_DELETE_BY_ADMIN'].status" id="customSwitch7" />
                  <label class="custom-control-label" for="customSwitch7"></label>
                </span>
                <div class="notification-title">
                  <h5>Notify when user is removed by admin</h5>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="selectedTemplate=templates['USER_DELETE_BY_ADMIN'];editTemplateModal.show();">Edit
                    Template</a>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="resetTemplateModal.show();resetTemplate(templates['USER_DELETE_BY_ADMIN'], resetTemplateModal);">{{reset}}</a>
                  <div class="clearfix"></div>
                </div>
              </li>
            </ul>
        </div>
    </div>
    <div class="tab-pane" [ngClass]="{'active': currentTab=='course'}">
        <div class="notification_group_list py-5">  
            <ul>
              
              <li>
                <span class="custom-control custom-switch pull-left">
                  <input type="checkbox" class="custom-control-input" [value]="true" (change)="saveTemplate(templates['STUDENT_ENROLL'])" [(ngModel)]="templates['STUDENT_ENROLL'].status" id="customSwitch11" />
                  <label class="custom-control-label" for="customSwitch11"></label>
                </span>
                <div class="notification-title">
                  <h5>Notify when a new students enrolls for course</h5>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="selectedTemplate=templates['STUDENT_ENROLL'];editTemplateModal.show();">Edit
                    Template</a>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="resetTemplateModal.show();resetTemplate(templates['STUDENT_ENROLL'], resetTemplateModal);">{{reset}}</a>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <span class="custom-control custom-switch pull-left">
                  <input type="checkbox" class="custom-control-input" [value]="true" (change)="saveTemplate(templates['STUDENT_REVIEW'])" [(ngModel)]="templates['STUDENT_REVIEW'].status" id="customSwitch9" />
                  <label class="custom-control-label" for="customSwitch9"></label>
                </span>
                <div class="notification-title">
                  <h5>Notify when student writes a review</h5>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="selectedTemplate=templates['STUDENT_REVIEW'];editTemplateModal.show();">Edit
                    Template</a>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="resetTemplateModal.show();resetTemplate(templates['STUDENT_REVIEW'], resetTemplateModal);">{{reset}}</a>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <span class="custom-control custom-switch pull-left">
                  <input type="checkbox" class="custom-control-input" [value]="true" (change)="saveTemplate(templates['COURSE_COMPLETE'])" [(ngModel)]="templates['COURSE_COMPLETE'].status" id="customSwitch10" />
                  <label class="custom-control-label" for="customSwitch10"></label>
                </span>
                <div class="notification-title">
                  <h5>Notify when student completes a course</h5>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="selectedTemplate=templates['COURSE_COMPLETE'];editTemplateModal.show();">Edit
                    Template</a>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="resetTemplateModal.show();resetTemplate(templates['COURSE_COMPLETE'], resetTemplateModal);">{{reset}}</a>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <span class="custom-control custom-switch pull-left">
                  <input type="checkbox" class="custom-control-input" [value]="true" (change)="saveTemplate(templates['COURSE_COMPLETE_TO_STUDENT'])" [(ngModel)]="templates['COURSE_COMPLETE_TO_STUDENT'].status" id="customSwitch13" />
                  <label class="custom-control-label" for="customSwitch13"></label>
                </span>
                <div class="notification-title">
                  <h5>Send course completion mail to students</h5>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="selectedTemplate=templates['COURSE_COMPLETE_TO_STUDENT'];editTemplateModal.show();">Edit
                    Template</a>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="resetTemplateModal.show();resetTemplate(templates['COURSE_COMPLETE_TO_STUDENT'],resetTemplateModal);">{{reset}}</a>
                  <div class="clearfix"></div>
                </div>
              </li>
            </ul>
        </div>
    </div>
    <div class="tab-pane" [ngClass]="{'active': currentTab=='assignment'}">
        <div class="notification_group_list py-5">
            <ul>
              <li>
                <span class="custom-control custom-switch pull-left">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" />
                  <label class="custom-control-label" for="customSwitch1"></label>
                </span>
                <div class="notification-title">
                  <h5>Notify when a new user account is created</h5>
                  <a href="javascript::" data-toggle="modal" data-target="#exampleModal1" title="Edit Template" class="btn">Edit
                    Template</a>
                  <div class="clearfix"></div>
                </div>
              </li>
            </ul>
        </div>
    </div>
    <div class="tab-pane" [ngClass]="{'active': currentTab=='quiz'}">
        <div class="notification_group_list py-5">
            <ul>
              <li>
                <span class="custom-control custom-switch pull-left">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" />
                  <label class="custom-control-label" for="customSwitch1"></label>
                </span>
                <div class="notification-title">
                  <h5>Notify when a new user account is created</h5>
                  <a href="javascript::" data-toggle="modal" data-target="#exampleModal1" title="Edit Template" class="btn">Edit
                    Template</a>
                  <div class="clearfix"></div>
                </div>
              </li>
            </ul>
        </div>
    </div>
    <div class="tab-pane" [ngClass]="{'active': currentTab=='class'}">
        <div class="notification_group_list py-5">
            <ul>
              
              <li>
                <span class="custom-control custom-switch pull-left">
                  <input type="checkbox" class="custom-control-input" [value]="true" (change)="saveTemplate(templates['CLASS_ADD'])" [(ngModel)]="templates['CLASS_ADD'].status" id="customSwitch14" />
                  <label class="custom-control-label" for="customSwitch14"></label>
                </span>
                <div class="notification-title">
                  <h5>New Live Class is scheduled</h5>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="selectedTemplate=templates['CLASS_ADD'];editTemplateModal.show();">Edit
                    Template</a>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="resetTemplateModal.show();resetTemplate(templates['CLASS_ADD'], resetTemplateModal);">{{reset}}</a>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <span class="custom-control custom-switch pull-left">
                  <input type="checkbox" class="custom-control-input" [value]="true" (change)="saveTemplate(templates['CLASS_RESCHEDULE'])" [(ngModel)]="templates['CLASS_RESCHEDULE'].status" id="customSwitch15" />
                  <label class="custom-control-label" for="customSwitch15"></label>
                </span>
                <div class="notification-title">
                  <h5>Live class is rescheduled</h5>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="selectedTemplate=templates['CLASS_RESCHEDULE'];editTemplateModal.show();">Edit
                    Template</a>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="resetTemplateModal.show();resetTemplate(templates['CLASS_RESCHEDULE'], resetTemplateModal);">{{reset}}</a>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <span class="custom-control custom-switch pull-left">
                  <input type="checkbox" class="custom-control-input" [value]="true" (change)="saveTemplate(templates['CLASS_RECORDING_AVAIL'])" [(ngModel)]="templates['CLASS_RECORDING_AVAIL'].status" id="customSwitch16" />
                  <label class="custom-control-label" for="customSwitch16"></label>
                </span>
                <div class="notification-title">
                  <h5>Notify when recordings are available</h5>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="selectedTemplate=templates['CLASS_RECORDING_AVAIL'];editTemplateModal.show();">Edit
                    Template</a>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="resetTemplateModal.show();resetTemplate(templates['CLASS_RECORDING_AVAIL'], resetTemplateModal);">{{reset}}</a>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <span class="custom-control custom-switch pull-left">
                  <input type="checkbox" class="custom-control-input" [value]="true" (change)="saveTemplate(templates['CLASS_REMOVE'])" [(ngModel)]="templates['CLASS_REMOVE'].status" id="customSwitch17" />
                  <label class="custom-control-label" for="customSwitch17"></label>
                </span>
                <div class="notification-title">
                  <h5>Live class is cancelled</h5>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="selectedTemplate=templates['CLASS_REMOVE'];editTemplateModal.show();">Edit
                    Template</a>
                  <a href="javascript:void(0)" title="Edit Template" class="btn" (click)="resetTemplateModal.show();resetTemplate(templates['CLASS_REMOVE'], resetTemplateModal);">{{reset}}</a>
                  <div class="clearfix"></div>
                </div>
              </li>
            </ul>
        </div>
    </div>

  <!-- wait modal -->
  <div class="modal fade" ngDraggable mdbModal #resetTemplateModal="mdbModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p> {{message}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- wait modal -->

    <div class="modal fade" ngDraggable mdbModal #editTemplateModal="mdbModal" >
      <div class="modal-dialog" role="document">
        <div class="modal-content" ngResizable>
          <div class="modal-header">
            <h5 class="modal-title">
              Email Template
            </h5>
            <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="editTemplateModal.hide();">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body table-in reset-style">
            <div class="form-group">
              <label>Email Subject</label>
              <input type="text" class="form-control"  [(ngModel)]="selectedTemplate.subject"  />
            </div>
            <div class="form-group">
              <label>Email Content</label>
              <ckeditor [editor]="Editor" [(ngModel)]="selectedTemplate.content" name="content"></ckeditor>
            </div>
            <div class="form-group">
              <label>Use these variables to customize your course completion
                emails:
              </label>
              <ul class="list-unstyled emailtemp-list">
                <li><a href="javascript:void(0);">{{'{'}}student_name{{'}'}} </a></li>
                <li><a href="javascript:void(0);">{{'{'}}student_email{{'}'}} </a></li>
                <li><a href="javascript:void(0);" title="Class Title Or Course Title">{{'{'}}course_name{{'}'}} </a></li>
                <li><a href="javascript:void(0);" title="Schedule of the class">{{'{'}}schedule{{'}'}} </a></li>
                <li><a href="javascript:void(0);">{{'{'}}class_name{{'}'}} </a></li>
                <li><a href="javascript:void(0);">{{'{'}}instructor_name{{'}'}} </a></li>
                <li><a href="javascript:void(0);">{{'{'}}instructor_email{{'}'}} </a></li>
                <li><a href="javascript:void(0);">{{'{'}}activation_link{{'}'}} </a></li>
                <li><a href="javascript:void(0);">{{'{'}}new_password{{'}'}}</a></li>
              </ul>
            </div>
            <div class="alert alert-success" [ngClass]="{'alert-success': operation.status,'alert-danger': !operation.status}" *ngIf="operation.lifecycle=='stopped'"><p [innerHTML]="operation.message"></p></div>
            <div class="text-right">
              <button type="button" class="btn btn-no btn-sm" (click)="editTemplateModal.hide();">Cancel</button>
              <button type="button" class="btn btn-primary btn-sm" (click)="saveTemplate(selectedTemplate,editTemplateModal);">Save Template</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>